<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Bull Faction
        </h1>
        <h5 class="page-subtitle">
            The faction of market participants that are bullish on GME and have a financial interest in the price of the
            stock going up
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li> The faction of market participants that are bullish on GME and have a financial interest in the
                    price of the
                    stock going up</li>

            </ul>
        </div>





        <!-- <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Fear,_uncertainty,_and_doubt" target="_blank"
                    class="external-link" rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Fear, uncertainty, and doubt - Wikipedia
                </a>

            </div>
        </div> -->



        <div style="margin-top:50px;"></div>
        <app-footer class="app-footer-short-pages"></app-footer>

    </div>

</div>