<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <td style="border: none;"></td>
                <td class="text-align-center" style="width: 35%;">
                    <div>Pre-turnaround</div>
                    <div style="font-size: 0.8em;">FY 2020</div>
                </td>
                <td class="text-align-center" style="width: 35%;">
                    <div>Current Status</div>
                    <div style="font-size: 0.8em;">FY 2025</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Store Count</td>
                <td class="text-align-center" style="color:rgba(128, 202, 0, 1)">4,816</td>
                <td class="text-align-center" style="color:rgb(128, 156, 0)">2,206</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td class="text-align-center" style="color:rgba(128, 202, 0, 1)">$5.1B</td>
                <td class="text-align-center" style="color:rgb(128, 156, 0)">$3.6B</td>
            </tr>
            <tr>
                <td>Operating Income</td>
                <td class="text-align-center" style="color:red;">-$237M</td>
                <td class="text-align-center" style="color:rgba(0, 134, 11, 1)">$232M</td>
            </tr>
            <tr>
                <td>Interest Income</td>
                <td class="text-align-center" style="color:red;">-$32M</td>
                <td class="text-align-center" style="color:rgba(0, 134, 11, 1)">$272M</td>
            </tr>
            <tr>
                <td>Net Income</td>
                <td class="text-align-center" style="color:red;">-$215M</td>
                <td class="text-align-center" style="color:rgba(0, 134, 11, 1)">$418M</td>
            </tr>
            <tr>
                <td>Earnings Per Share</td>
                <td class="text-align-center" style="color:red;">-$3.31</td>
                <td class="text-align-center" style="color:rgba(0, 134, 11, 1)">$0.93</td>
            </tr>
            <tr>
                <td>Stockholders' Equity</td>
                <td class="text-align-center" style="color:rgba(141, 103, 0, 0.97)">$0.4B</td>
                <td class="text-align-center" style="color:rgba(0, 134, 11, 1)">$5.4B</td>
            </tr>

            <tr>
                <td>Book Value Per Share</td>
                <td class="text-align-center" style="color:rgb(128, 156, 0)">$6.72</td>
                <td class="text-align-center" style="color:rgba(0, 134, 11, 1)">$12.16</td>
            </tr>
        </tbody>
    </table>
</div>