<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Bear Case
        </h1>
        <h5 class="page-subtitle">
            General viewpoint held by those <a [routerLink]="'/bear-faction'">market participants betting against GME
                stock</a>
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>GameStop has an outdated business model that is ineffective in the modern video game industry, and
                    any attempts at <a [routerLink]="'/turnaround'">turning the company around</a> are futile
                </li>
                <li>GameStop's <a [routerLink]="'/financials'">revenue</a> continues to go down year over year, and
                    GameStop continues to close <a [routerLink]="'/stores'">stores</a> and
                    reduce staff</li>
                <li>GameStop's competitors (e.g. Amazon) are much stronger companies and therefore better investments
                </li>
                <li>GME is an invalid investment because it is a <a [routerLink]="'/meme-stock'">meme stock</a> (or a
                    cult stock)</li>
                <li>The company has no clear strategy; <a [routerLink]="'/ryan-cohen'">Ryan Cohen does not provide any
                        guidance, thus the future of GameStop is uncertain</a></li>
                <li>The stock price is down since its <a [routerLink]="'/sneeze'">peak</a> and it remains overvalued and
                    is therefore destined to continue going down</li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Bear Case from 2014 through 2021</div>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        Specific to GameStop, we had a research-supported view well before the recent events. In fact,
                        we had been short GameStop since Melvin’s inception six years earlier because we believed and
                        still believe that its business model – selling new and used video games in physical stores – is
                        being overtaken by digital downloads through the internet. And that trend only accelerated in
                        2020, when, because of the pandemic, people were downloading video games at home. As a
                        result, the gaming industry had its best year ever. But GameStop had significant losses.
                    </p>

                    <div class="quote-attribution">
                        Gabe Plotkin, Founder and Chief Investment Officer, Melvin Capital Management
                        <a href="https://www.congress.gov/117/meeting/house/111207/witnesses/HHRG-117-BA00-Wstate-PlotkinG-20210218.pdf?utm_source=chatgpt.com"
                            target="_blank" class="external-link" rel="nofollow">February 18, 2021</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">Bear Case Evolution</div>
            <p>During GameStop's <a [routerLink]="'/downfall'">downfall era</a>, betting against GameStop by shorting
                the stock was arguably a reasonable financial view. The company had weak financials with a poor
                long-term outlook.</p>
            <p>However, GameStop's <a [routerLink]="'/financials'">financial circumstances</a> have changed
                significantly since then, so it is now a much different calculation with different valuation and
                different risks.</p>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-short-pages"></app-footer>
</div>