<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Senior Convertible Notes
        </h1>
        <h5 class="page-subtitle">
            GameStop completed 2 private offerings of convertible senior notes, raising <b>over $4 billion</b>
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>GameStop completed 2 private offerings of convertible senior notes, raising <b>over $4 billion</b>
                    <ul>
                        <li>April 1, 2025: GameStop <a
                                href="https://www.sec.gov/ix?doc=/Archives/edgar/data/0001326380/000132638025000022/gme-20250326.htm"
                                class="external-link" rel="nofollow" target="_blank">completed
                                its previously announced private offering</a>, raising a total of $1.48 billion.</li>
                        <li>June 17, 2025: GameStop <a
                                href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638025000055/gme-20250611.htm"
                                target="_blank" class="external-link" rel="nofollow">completed</a> the second note
                            offering,
                            raising $2.23 billion. Per <a
                                href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638025000059/gme-20250623.htm"
                                target="_blank" class="external-link" rel="nofollow">the terms of the offering</a>,
                            GameStop
                            raised an additional $0.447 billion on
                            June 23. </li>
                    </ul>
                </li>
                <li>These notes pay zero interest, and can be converted into GME stock under certain conditions</li>
                <li>The maturity of these notes are between 5 and 7 years</li>
                <li>If all notes are fully converted into shares, approximately <b>140 million</b> shares will be issued
                    at an approximate value of <b>$30 per share</b>
                </li>
                <li>These offerings of convertible notes have raised cash that may be used in accordance with <a
                        [routerLink]="'/investment-policy'">GameStop's Investment Policy</a>, or potentially <a
                        [routerLink]="'/acquisitions'">acquisitions</a></li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Private Offerings of Convertible Senior Notes</div>
            <p>GameStop raised <b>$4.157 billion</b> by selling special debt instruments called <a
                    href="https://www.investopedia.com/terms/c/convertibles.asp" target="_blank" rel="nofollow"
                    class="external-link">convertible notes</a> to big investors
                (<a href="https://www.investopedia.com/terms/q/qib.asp" target="_blank" rel="nofollow"
                    class="external-link">"qualified institutional buyers" or "QIBs"</a>).
                The identity of these investors is not known publicly (hence "private offering").
            </p>
            <p>
                These notes don’t pay interest; GameStop is essentially borrowing money with an interest rate of 0%. The
                investors get the
                option later to turn the notes into shares if the stock price rises above roughly <b>$30</b> (and stays
                above that price for a period of time). If that happens, new shares would be created, increasing
                GameStop's total shares outstanding. If not, GameStop can repay the money in cash instead.
            </p>
            <p>In the meantime, GameStop is generating <a [routerLink]="'/financials'">interest income</a> from the cash
                they are holding from selling these notes.</p>


            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “They only convert at a premium. We've done these convertible notes at a 30% plus premium.
                        And essentially we’re borrowing money at 0%. We're giving a conversion right at 30% plus.
                        So, if someone’s willing to lend you money at 0% then it’d be foolish not to take that money,
                        as long as we don’t do something stupid with it.”
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                                target="_blank" class="external-link" rel="nofollow">July 15, 2025</a></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-section">
            <div class="section-heading">Largest Portion of GameStop's Liabilities</div>
            <p>The convertible notes represent the largest portion of GameStop's liabilities, listed as long-term debt.
            </p>
            <app-assets-composition></app-assets-composition>

        </div>


        <div class="page-section">
            <div class="section-heading">See also</div>

            <div>
                <a [routerLink]="'/investment-policy'">GameStop Investment Policy</a>
                <br>
                <a href="https://www.reddit.com/r/Superstonk/comments/1lavctq/comparison_of_senior_note_offerings/"
                    target="_blank" class="external-link" rel="nofollow">Comparison</a> of GameStop's note
                offerings to other similar offerings from
                other companies
            </div>
        </div>

    </div>

    <app-footer class="app-footer"></app-footer>
</div>