<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Meme Stock
        </h1>
        <h5 class="page-subtitle">
            A term used to refer to GME and some other stocks
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>The term "meme stock" is somewhat vague and loosely-defined </li>
                <li>It often used by mainstream financial media as a pejorative in the context of
                    GME, insinuating that GME is an unserious and invalid stock</li>
            </ul>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>