<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Meme Stock
        </h1>
        <h5 class="page-subtitle">
            A term used to refer to GME and some other stocks
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>The term "meme stock" is somewhat vague and loosely-defined, generally used to mean a stock that
                    trades at valuations disconnected from the fundamental financial metrics of the business</li>
                <li>The term is often used by mainstream financial media as a pejorative to insinuate that GME
                    is an unserious investment</li>

            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">"Meme Stock" as a Rhetorical Device</div>
            <p>The term "meme stock" operates as a rhetorical device because it <a
                    href="https://en.wikipedia.org/wiki/Framing_(social_sciences)" target="_blank" class="external-link"
                    rel="nofollow">frames</a> a stock as unserious, faddish,
                or irrational from the outset, regardless of its underlying <a
                    [routerLink]="'/financials'">fundamentals</a>.
            </p>
            <p>
                By invoking associations with internet memes (e.g. humorous but often devoid of substance), the label
                signals that the
                market value of the stock is driven by crowds of naive investors without a legitimate investment thesis.
            </p>
            <p>
                This framing can be used
                to disparage or delegitimize companies and their stock by implying that their valuation is not grounded
                in real
                prospects, thereby preemptively discrediting investors who hold them and shaping public interpretation
                of market activity.
            </p>
            <p>The vague definition of the term meme stock also enables critics of GME to insinuate that GME is a poor
                quality investment by associating it with other stocks that have much weaker financials,
                without referring to GME directly, thus providing a false appearance of impartiality while being biased.
            </p>
        </div>

        <!-- <div class="page-section">
            <div class="section-heading">Cult Stocks</div>
            <p>

            </p>

            Top 7 Signs You're in a Cult Stock | WallStreetBets
            https://m.youtube.com/watch?v=ZdBmku2Usz0&t=2s&pp=2AECkAIB

            https://www.reddit.com/r/gme_meltdown/comments/1n15vcw/saw_a_funny_video_about_cult_stocks_and_thought/


             Can’t Stop Meme Stock
            GameStop’s truest believers show Reddit’s capacity to foster blind detachment from offline reality.
            https://slate.com/technology/2024/10/reddit-gamestop-stock-wall-street.html

            https://www.reddit.com/r/DeepFuckingValue/comments/1gitm7g/to_catch_a_shill_the_gamestop_cult_please_we_just/


            


            Part 1: 
            The GameStop Cult: An Untold Story
            https://www.youtube.com/watch?v=7LPuXowifJ4&t=12s 
            https://www.reddit.com/r/gme_meltdown/comments/1fpftb2/inside_an_investment_cult/


            The Cult of the Dead Stock.
            https://www.reddit.com/r/gme_meltdown/comments/1frj1h6/the_cult_of_the_dead_stock_james_jani/
            https://www.youtube.com/watch?v=C5Bd6YxifCo


        </div> -->

        <div class="page-section">
            <div class="section-heading">
                SEC Investomania
            </div>
            <p>In 2022, the SEC started <a
                    href="https://www.sec.gov/newsroom/press-releases/2022-95-sec-launches-game-show-themed-public-service-campaign"
                    target="_blank" class="external-link" rel="nofollow">a game show-themed public service campaign
                    called
                    Investomania</a>, including several videos which were
                published on YouTube (now removed). </p>
            <p>One of these videos, titled: "Investomania: Meme Stocks" <a
                    href="https://www.youtube.com/watch?v=PFPcqe-DwcE" target="_blank" class="external-link"
                    rel="nofollow">which showed a meme stock investor losing all of
                    their money in humiliating fashion</a>.
            </p>
            <div style="max-width: 100%; display:flex;flex-direction: column;align-items: center;">
                <a href="https://www.youtube.com/watch?v=PFPcqe-DwcE" target="_blank">
                    <img src="assets/misc/sec-meme-stocks.PNG" alt="Investomania:  Meme Stocks - May 31, 2022"
                        style="width: 100%; max-width: 450px; border-radius:10px;">

                </a>
                <div style="font-size: 0.8em;">Investomania: Meme Stocks - May 31, 2022</div>
            </div>

            <p>
                The SEC did not elaborate on what the term "meme stock" actually refers to, but the message was clear:
                do not invest in meme stocks or you will lose all of your money and be humiliated.
            </p>
            <p>Per a freedom of information request, it was discovered that <a
                    href="https://www.reddit.com/r/Superstonk/comments/xjp10y/remember_the_secs_meme_stock_video_looks_like_it/"
                    target="_blank" class="external-link" rel="nofollow">the
                    SEC spent approximately $460,000 on the meme stock video</a>.</p>
            <p>The release of this meme stock video produced numerous reactions across social media, for example on <a
                    [routerLink]="'/reddit'">Reddit</a>:
            </p>
            <ul>
                <li>r/superstonk: <a
                        href="https://www.reddit.com/r/Superstonk/comments/1d5qj5j/here_is_your_sec_at_work_investomania_meme_stocks/"
                        target="_blank" class="external-link" rel="nofollow">Here
                        is your SEC at work | Investomania: Meme Stocks </a></li>
                <li>r/gme_meltdown: <a
                        href="https://www.reddit.com/r/gme_meltdown/comments/v20x3t/the_sec_dunking_on_apes_lmao/"
                        target="_blank" class="external-link" rel="nofollow">The
                        SEC dunking on apes LMAO</a></li>
                <li>r/subredditdrama: <a
                        href="https://www.reddit.com/r/SubredditDrama/comments/v356pg/the_sec_releases_a_video_encouraging_people_to_do/"
                        target="_blank" class="external-link" rel="nofollow">The
                        SEC releases a video encouraging people to do research instead of investing in meme stocks.
                        GME-investors are not taking kindly to it. </a></li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Meme_stock" target="_blank" class="external-link" rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Meme stock - Wikipedia
                </a>

            </div>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>