<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Meme Stock
        </h1>
        <h5 class="page-subtitle">
            A term used to refer to GME and some other stocks
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>The term "meme stock" is somewhat vague and loosely-defined, generally used to mean a stock that
                    trades at valuations disconnected from the fundamental financial metrics of the business</li>
                <li>The term is often used by GME critics as a pejorative to frame GME
                    as an unserious investment</li>
                <li>In the context of GME, terms like "meme stock" and "cult stock" are sometimes used in negative
                    contexts as a form of anti-GME <a [routerLink]="'/fud'">FUD</a></li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">"Meme Stock" as a Rhetorical Device</div>
            <p>The term "meme stock" operates as a rhetorical device because it <a
                    href="https://en.wikipedia.org/wiki/Framing_(social_sciences)" target="_blank" class="external-link"
                    rel="nofollow">frames</a> a stock as unserious, faddish,
                or irrational from the outset, regardless of its underlying <a
                    [routerLink]="'/financials'">fundamentals</a>.
            </p>
            <p>
                By invoking associations with internet memes (e.g. humorous but often devoid of substance), the label
                signals that the
                market value of the stock is driven by crowds of naive investors without a legitimate investment thesis.
            </p>
            <p>
                This framing can be used
                to disparage or delegitimize companies and their stock by implying that their valuation is not grounded
                in real
                prospects, thereby preemptively discrediting investors who hold them and shaping public interpretation
                of market activity.
            </p>
            <p>The vague definition of the term meme stock also enables critics of GME to insinuate that GME is a poor
                quality investment by associating it with other stocks that have much weaker financials,
                without referring to GME directly, thus providing a false appearance of impartiality while being biased.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">
                SEC Investomania
            </div>
            <p>In 2022, the SEC started <a
                    href="https://www.sec.gov/newsroom/press-releases/2022-95-sec-launches-game-show-themed-public-service-campaign"
                    target="_blank" class="external-link" rel="nofollow">a game show-themed public service campaign
                    called
                    Investomania</a>, including several videos which were
                published on YouTube (now removed). </p>
            <p>One of these videos, titled: "Investomania: Meme Stocks" <a
                    href="https://www.youtube.com/watch?v=PFPcqe-DwcE" target="_blank" class="external-link"
                    rel="nofollow">which showed a meme stock investor losing all of
                    their money in humiliating fashion</a>.
            </p>
            <div style="max-width: 100%; display:flex;flex-direction: column;align-items: center;">
                <a href="https://www.youtube.com/watch?v=PFPcqe-DwcE" target="_blank">
                    <img src="assets/misc/sec-meme-stocks.PNG" alt="Investomania:  Meme Stocks - May 31, 2022"
                        style="width: 100%; max-width: 450px; border-radius:10px;">

                </a>
                <div style="font-size: 0.8em;">Investomania: Meme Stocks - May 31, 2022</div>
            </div>

            <p>
                The SEC did not elaborate on what the term "meme stock" actually refers to, but the message was clear:
                do not invest in meme stocks or you will lose all of your money and be humiliated.
            </p>
            <p>Per a freedom of information request, it was discovered that <a
                    href="https://www.reddit.com/r/Superstonk/comments/xjp10y/remember_the_secs_meme_stock_video_looks_like_it/"
                    target="_blank" class="external-link" rel="nofollow">the
                    SEC spent approximately $460,000 on the meme stock video</a>.</p>
            <p>The release of this meme stock video produced numerous reactions across social media, for example on <a
                    [routerLink]="'/reddit'">Reddit</a>:
            </p>
            <ul>
                <li>r/superstonk: <a
                        href="https://www.reddit.com/r/Superstonk/comments/1d5qj5j/here_is_your_sec_at_work_investomania_meme_stocks/"
                        target="_blank" class="external-link" rel="nofollow">Here
                        is your SEC at work | Investomania: Meme Stocks </a></li>
                <li>r/gme_meltdown: <a
                        href="https://www.reddit.com/r/gme_meltdown/comments/v20x3t/the_sec_dunking_on_apes_lmao/"
                        target="_blank" class="external-link" rel="nofollow">The
                        SEC dunking on apes LMAO</a></li>
                <li>r/subredditdrama: <a
                        href="https://www.reddit.com/r/SubredditDrama/comments/v356pg/the_sec_releases_a_video_encouraging_people_to_do/"
                        target="_blank" class="external-link" rel="nofollow">The
                        SEC releases a video encouraging people to do research instead of investing in meme stocks.
                        GME-investors are not taking kindly to it. </a></li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Fidelity's Meme Stock Guy</div>
            <p>On October 26, 2022, social media users <a
                    href="https://www.reddit.com/r/Superstonk/comments/yedjog/in_case_you_missed_it_fidelitys_meme_stock_guy/?sort=top"
                    target="_blank" class="external-link" rel="nofollow">
                    discussed</a> a Halloween themed post by Fidelity Investments titled "Halloween's Hottest Investor
                Costumes," providing a characterizing of several different types of
                investor, including one they called "Meme Stock Guy." </p>



            <div class="images-container">
                <div class="image-container">
                    <a href="https://www.reddit.com/r/Superstonk/comments/yedjog/in_case_you_missed_it_fidelitys_meme_stock_guy/?sort=top"
                        target="_blank">
                        <img src="assets/misc/halloween-investor-costumes.png"
                            alt="Fidelity's Halloween Investor Costumes"
                            style="width: 100%; max-width: 450px; border-radius:10px;">
                    </a>
                    <div style="font-size: 0.8em;">Halloween Investor Costumes</div>
                </div>
                <div class="image-container">
                    <a href="https://www.reddit.com/r/Superstonk/comments/yedjog/in_case_you_missed_it_fidelitys_meme_stock_guy/?sort=top"
                        target="_blank">
                        <img src="assets/misc/meme-stock-guy.jpeg" alt="Meme Stock Guy - May 31, 2022"
                            style="width: 100%; max-width: 450px; border-radius:10px;">
                    </a>
                    <div style="font-size: 0.8em;">Meme Stock Guy</div>
                </div>
            </div>

            <p>From that Reddit post: "The whole post seemed padded out to get to the one punchline of making the meme
                stock investor look like a neckbeard loser."</p>

            <p>The purple circle is a symbol that was used exclusively by GME investors, primarily on <a
                    [routerLink]="'/superstonk'">Superstonk</a>, which represents holding shares directly through <a
                    [routerLink]="'/drs'">DRS</a>. When a shareholder holds shares with <a
                    href="https://en.wikipedia.org/wiki/Computershare" target="_blank" class="external-link"
                    rel="nofollow">Computershare</a>, which is
                GameStop's <a href="https://www.investopedia.com/terms/t/transferagent.asp" target="_blank"
                    class="external-link" rel="nofollow">transfer agent</a>, then Computershare provides a pie chart
                representing the value of holdings of
                stock within the Computershare account. In the case of many GME shareholders that directly registered
                their shares and hold in DRS with access from Computershare, the only registered stock that they
                have is GME, and thus the pie chart only has one color, and for the first stock listed that color is
                Computershare's default purple color,
                so the entire circle is filled purple. If an investor had GME as well as some other stock directly
                registered with Computershare, then their pie chart would show a purple area and an orange area, and
                more colors if there were more registered shares of other stocks.</p>

            <div style="max-width: 100%; display:flex;flex-direction: column;align-items: center;">
                <img src="assets/drs/computershare-account.png" alt="Computershare Account"
                    style="width: 100%; max-width: 450px; border-radius:10px;">

                <div style="font-size: 0.8em;">Holding GME in DRS through Computershare</div>
            </div>

            <p>This post by Fidelity demonstrates Fidelity's awareness of a purple circle in relationship to the term
                "meme stock," without mentioning GME or GameStop.</p>
            <p>As major owners of <a [routerLink]="'/reddit'">Reddit</a>, and as a major stock broker that received many
                requests from GME shareholders to directly register their shares of GME that were held in Fidelity
                accounts, Fidelity was indisputably keenly aware that this <a [routerLink]="'/drs-timeline'">DRS
                    movement</a> was happening on Superstonk among GME investors. Fidelity had and has great insight
                into the metrics of DRS requests, and demographic information from the accounts that had submitted
                requests to DRS their shares of GME.
            </p>
            <p>Thus, Fidelity produced a disparaging characterization of GME shareholders based on the insight that they
                had about GME shareholders on Superstonk, and called it Meme Stock Guy, demonstrating awareness and
                contempt of GME shareholders.</p>
        </div>



        <div class="page-section">
            <div class="section-heading">"Cult Stocks"</div>
            <p>
                Another term that is sometimes used by GME critics in a way similar to how "meme stocks" is used is the
                term
                "cult stocks," or similar terms such as "cultist" to refer to investors of "cult stocks."
            </p>
            <p>
                The label "cult stock" functions as a dismissive rhetorical frame similar to "meme stock," but with an
                added insinuation that investors are not merely enthusiastic but also irrational, dogmatic, and blinded
                by
                group loyalty. By invoking the notion of a cult, the term
                implies that any bullish view is inherently delusional and therefore unworthy of serious consideration.
            </p>
            <p>
                This framing delegitimizes both the investment thesis and the investors themselves, allowing critics to
                dismiss the possibility that the stock might have rational, fundamentals-based support.
            </p>
            <p>For example, Slate.com published an article on October 10, 2024, titled <a
                    href="https://slate.com/technology/2024/10/reddit-gamestop-stock-wall-street.html">"Can't Stop Meme
                    Stock,"</a> which referred to content on Superstonk as "one of the closest experiences you can find
                to reading missives from a cult," and that "more recently, though, the cultists are back in force." </p>

            <!--             https://www.reddit.com/r/DeepFuckingValue/comments/1gitm7g/to_catch_a_shill_the_gamestop_cult_please_we_just/ -->

            <p>A YouTube video from September 2024 titled <a href="https://www.youtube.com/watch?v=7LPuXowifJ4"
                    target="_blank" class="external-link" rel="nofollow">"The GameStop Cult: An Untold Story"</a>
                describes how GME
                investors in places like Superstonk are in a conspiratorial echo chamber displaying cult-like dynamics
                such as unwavering faith despite failed predictions. The video presents a view of GME which highlights
                weak fundamentals, leadership
                concerns, unclear strategy, and the lack of demonstrated <a [routerLink]="'/turnaround'">business
                    turnaround</a>. The narrative provided by the video fails to address any possible merits of the <a
                    [routerLink]="'/bull-case'">GME
                    bull case</a>, generally concluding that since GME investors do not have a valid investment thesis,
                they are therefore necessarily delusional cultists. This type of
                biased narrative would generally be considered by some GME investors to be an example of <a
                    [routerLink]="'/fud'">FUD</a>.
            </p>
            <p>
                Another YouTube video from August 2025 titled <a href="https://m.youtube.com/watch?v=ZdBmku2Usz0"
                    target="_blank" class="external-link" rel="nofollow">"Top 7 Signs You're in a Cult Stock |
                    WallStreetBets"</a>
                describes the properties of "cult stocks" without specifically mentioning GME verbally, though GME is
                shown in the video and the author's pinned comment at the top of the video reads: "What cult stocks are
                you bagholding? I still have 1 share of GME for fun."
            </p>
            <ul>

                <!--             https://www.reddit.com/r/gme_meltdown/comments/1n15vcw/saw_a_funny_video_about_cult_stocks_and_thought/ -->


                <!--             https://www.reddit.com/r/gme_meltdown/comments/1fpftb2/inside_an_investment_cult/ -->

                <!-- <li><a href="https://www.youtube.com/watch?v=C5Bd6YxifCo" target="_blank" class="external-link" rel="nofollow">The Cult of the Dead Stock.</a></li> -->
                <!--             https://www.reddit.com/r/gme_meltdown/comments/1frj1h6/the_cult_of_the_dead_stock_james_jani/ -->

            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Meme_stock" target="_blank" class="external-link" rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Meme stock - Wikipedia
                </a>

            </div>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>