<div class="component-root">
    <div class="page-title">
        GME Timeline
    </div>
    <!-- <div class="page-subtitle">
            subtitle
        </div> -->

    <div class="page-content">



        <div class="page-section">

            <div class="timeline-root" *ngIf="!isLoading">
                <app-timeline-controls class="timeline-controls"></app-timeline-controls>
                <div class="section-heading">Timeline of noteworthy events</div>
                <app-timeline-chart class="app-chart" *ngIf="isBrowser"></app-timeline-chart>
            </div>
        </div>

        <div class="page-section">
            <app-timeline-content class="timeline-content"></app-timeline-content>
        </div>

        <app-footer class="app-footer"></app-footer>
    </div>



    <app-loading class="layout-root" style="justify-content: center;" *ngIf="isLoading"
        [loadingMessage]="loadingMessage"></app-loading>