<div class="component-root">
    <div [ngClass]="isMobile? 'mobile-title' : 'page-title'">
        GME Timeline
    </div>
    <!-- <div class="page-subtitle">
            subtitle
        </div> -->

    <div class="page-content" [style.margin]="isMobile? '0px' : ''">



        <div class="page-section" [style.marginTop]="isMobile? '0px' : ''" [style.paddingTop]="isMobile? '0px' : ''">

            <div class="timeline-root ">
                <app-timeline-controls class="timeline-controls" *ngIf="!isMobile"></app-timeline-controls>
                <div class="section-heading" [style.margin]="isMobile? '0px' : ''" *ngIf="!isMobile">{{chartTitle}}</div>
                <div class="timeline-chart-grid">
                    <app-timeline-chart class="app-chart " *ngIf="chartIsLoaded"></app-timeline-chart>
                    <div class="annotation-box-container" *ngIf="showAnnotationBox && !isMobile">
                        <app-timeline-annotation-box class="annotation-box"></app-timeline-annotation-box>
                    </div>
                </div>
                <div class="annotation-box-container-mobile" *ngIf="showAnnotationBox && isMobile">
                    <app-timeline-annotation-box class="annotation-box"></app-timeline-annotation-box>
                </div>
            </div>
        </div>

        <div class="page-section">
            <app-timeline-content class="timeline-content"></app-timeline-content>
        </div>

        <app-footer class="app-footer"></app-footer>
    </div>



    <app-loading class="layout-root" style="justify-content: center;" *ngIf="isLoading"
        [loadingMessage]="loadingMessage"></app-loading>