<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Short Interest (SI)
        </h1>
        <h5 class="page-subtitle">
            A metric that measures the (reported) number of shares sold short 
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>An indicator of bearish sentiment:  A high short interest suggests that many investors believe the stock's price will decline.</li>
                <li>In general, short interest above 20% is considered high</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Short Interest Exceeded 140% of the GME Float</div>
            <p>Prior to and during the <a [routerLink]="'/sneeze'">sneeze</a>, the short interest exceeded the float, something that sounds mathematically impossible.  How did this happen?  
                
                </p>
            <p>The short answer is that shares of a stock in the stock market are fungible and can be lent to / borrowed by other market participants, and <a href="https://www.interactivebrokers.com/campus/traders-insight/securities/stocks/gamestop-showed-short-interest-float-how-could-that-be/" target="_blank">
                the same shares can be lent and re-lent multiple times</a>.</p>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>
