.controls-root{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.choose-metrics-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.display-controls-button{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 3px;
    font-size: 1.1em;
    top: 32px;
    right: 85px;
    // position: fixed;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.2em;
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.display-controls-button:hover{
    border: 1px solid black;
}