<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            GME Frequently Asked Questions
        </div>
        <!-- <div class="page-subtitle">
            Direct Registration System
        </div> -->

        <div class="page-section">
            <div class="section-heading">
                GME FAQ:
            </div>
            <ul>
                <li>What's the situation with GME?</li>
                <li>GME? Isn't that over already?</li>
                <li>What caused the GME stock price surge in early 2021?</li>
                <li>What was the GME trading frenzy?</li>
                <li>What was the meme stock frenzy?</li>
                <li>What is the relationship between GME and AMC?</li>
                <li>What is the relationship between GME and BBBY?</li>
                <li>What is the relationship between GME and KOSS?</li>
                <li>Why was the buy button turned off for GME?</li>
                <li>What is the connection between GME and the subreddit r/WallStreetBets?</li>
                <li>What is Superstonk?</li>
                <li>What does it mean that GME was "short-squeezed"?</li>
                <li>Why is it the sneeze rather than a squeeze?</li>
                <li>What is short selling?</li>
                <li>What is naked short selling?</li>
                <li>What are failures to deliver?</li>

                <li>How has GameStop evolved as a company in response to the stock market attention?</li>
                <li>Who is Roaring Kitty?</li>
                <li>Who is Keith Gill?</li>
                <li>How many shares of GME does Keith Gill have?</li>
                <li>Is GameStop transitioning from a brick-and-mortar retail model to e-commerce?</li>
                <li>Who are the GameStop board members?</li>
                <li>Who is the CEO of GameStop?</li>
                <li>Who is the Chairman of the board of directors of GameStop?</li>
                <li>Who is Ryan Cohen?</li>
                <li>How many shares of GME does Ryan Cohen have?</li>
                <li>Why is GME sometimes seen as a "meme stock"?</li>
                <li>What is a meme stock?</li>
                <li>Is GameStop going to go bankrupt?</li>
                <li>Is GameStop a dying brick and mortar company?</li>
                <li>What are the long-term prospects for GameStop as a business?</li>
                <li>What is DRS?</li>
                <li>Who is GameStop's transfer agent?</li>
                <li>Who is Computershare, and how are they related to GME?</li>
                <li>What are the benefits of using DRS for my GME shares?</li>
                <li>What is the "purple circle" people refer to in the GME DRS community?</li>
                <li>Can I sell my GME shares if they are in DRS?</li>
                <li>Who owns GameStop?</li>
                <li>What percent of the company is owned by insiders?</li>
                <li>What percent of the company is owned by institutions?</li>
                <li>What percent of the company is owned by registered shareholders?</li>
                <li>Is GameStop profitable?</li>
                <li>How much debt does GameStop have?</li>
                <li>What is the total value of GameStop's assets?</li>
                <li>What are the total liabilities that GameStop has?</li>
                <li>How much is GameStop worth?</li>
                <li>What is the stockholders' equity of GameStop?</li>
                <li>What is the relationship between GME and Reddit?</li>
                <li>What is the highest price of GME during the sneeze?</li>
                <li>What is the GME stock price?</li>
                <li>How many shares of GME are there?</li>
                <li>How many stores does GameStop have?</li>
                <li>How many employees does GameStop have?</li>

            </ul>
        </div>

<!-- 
        GME wiki 2021
GME highest price before split
GameStop stock scandal explained
GME Reddit
GME wiki stock
GME wiki reddit
GME wiki stock price
Keith Gill net worth
 -->

    </div>
    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-fixed"></app-footer>
</div>