<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Downfall Era of GameStop
        </h1>
        <h5 class="page-subtitle">
            From approximately 2018 through 2020, GameStop was heading downwards
        </h5>


        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    By 2018, GameStop was operating with a bloated legacy business model that was failing to adapt to a
                    changing
                    gaming industry.
                </li>
                <li>Revenue was
                    declining as more consumers shifted to digital game downloads and subscriptions such as Xbox Game
                    Pass and PlayStation Now, and GameStop had <a [routerLink]="'/stores'">too many stores</a> as their
                    market was shrinking
                </li>
                <li>
                    The company was losing hundreds of millions of dollars annually while an ineffective and oversized
                    board of directors approved millions in executive compensation and relied on costly consultants in a
                    failed attempt to reverse its decline
                </li>
            </ul>


        </div>


        <div class="page-section">
            <div class="section-heading">
                The Downfall
            </div>
            <p>For many years GameStop was a successful business which mainly sold video games and consoles, and had a
                well-established trade-in model.</p>
            <p>By the early 2010s, digital video game sales began to grow, and some time around approximately 2017,
                digital sales of video games exceeded physical sales of video games in the video game market.</p>
            <p>As GameStop failed to adequately address the changing video game market, starting around 2018 the company
                began to falter.</p>
            <p>GameStop started losing hundreds of millions of dollars per year and there didn't appear to be any
                promising plans to turn the situation around.</p>
            <p>The <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic" target="_blank" class="external-link"
                    rel="nofollow">COVID-19 pandemic</a> in 2020 further compounded the challenges faced by the company.
                <a href="https://www.cnn.com/2020/03/20/tech/gamestop-open-essential-business/index.html"
                    target="_blank" class="external-link" rel="nofollow">Mandatory store closures</a>, reduced foot
                traffic, and widespread economic uncertainty put intense pressure on the company.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">CEO Reflection 2025</div>
            <p>In <a href="https://x.com/gamestop/status/1927770418959577147" target="_blank" class="external-link"
                    rel="nofollow">a brief interview at The
                    Bitcoin Conference 2025</a>, CEO <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> provided some
                comments reflecting on the struggles that the company faced when he first got involved.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        When I took over, the company was a piece of crap and losing a lot of money. The company was
                        under a lot of pressure, moving from physical games to digital downloads.
                    </p>
                    <!-- <p>
                        So, you had to cut costs, you had to cut costs very aggressively, and bring in fiscal
                        discipline, and we did. Retail is a tough business, but it was a big focus on getting costs
                        under control.
                    </p>
                    <p>
                        You've got a lot of macro headwinds going against the company. And also, shift the business from
                        being so reliant on video games, to collectibles which we've done.
                    </p> -->
                    <p>
                        You had a lot of executives and directors that were very short-sighted, and effectively they
                        were making decisions that were, what they call in corporate America, in good corporate
                        governance, which is effectively screwing shareholders.

                        So, we got rid of all of that nonsense and we focused on running the business profitably.
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen</div>
                    <div class="quote-attribution-2">The Bitcoin Conference 2025</div>
                    <div class="quote-attribution-2"><a
                            href="https://www.reddit.com/r/GME/comments/1kxml0d/ryan_cohens_statements_at_the_bitcoin_conference/"
                            target="_blank" class="external-link" rel="nofollow">May 28, 2025</a></div>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">
                GME's Stock Valuation During This Period
            </div>
            <p>The market price of GME stock was declining as GameStop's financial outlook worsened. <a
                    [routerLink]="'/bear-faction'">Some market participants</a> saw this as an opportunity to profit
                from the declining value of the stock, and <a href="https://en.wikipedia.org/wiki/Short_(finance)"
                    target="_blank" class="external-link" rel="nofollow">shorted</a> the stock.
            </p>
            <p>The <a [routerLink]="'/short-interest'">short interest</a> of GME during this time rose to extraordinary
                levels — well over 100%, and according to one data source it even exceeded 300%.</p>
            <p>Contrary to those shorting the stock, other investors, notably <a [routerLink]="'/michael-burry'">Michael
                    Burry</a> at first, and then subsequently
                <a [routerLink]="'/keith-gill'">Keith Gill</a> and <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a>, saw
                the stock as undervalued and bought shares.
            </p>
            <p>Keith Gill was active across various social media platforms, including YouTube, Twitter (now X), and <a
                    [routerLink]="'/reddit'">Reddit</a>, and discussed his investment thesis on those platforms. Over
                time, through 2020 and into 2021, a social media phenomenom grew around Keith Gill's commentary, and
                thousands of retail shareholders began buying shares of GME, ultimately culminating in <a
                    [routerLink]="'/sneeze'">the sneeze of January 2021</a>.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">The Turnaround</div>
            <p>While GameStop was in its weakest financial position in its history by around 2020, Ryan Cohen took a
                position in GME and eventually led <a [routerLink]="'/turnaround'">the unprecedented turnaround of
                    GameStop</a>.</p>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We inherited a bunch of legacy everything, and under-investment across the entire business —
                        people,
                        the entire technology stack, just decades of neglect, and so it’s hard to turn around a brick
                        and
                        mortar
                        retailer that’s under the kind of pressure that GameStop was and continues to be under, but that
                        was
                        also part of the attraction going into GameStop was that a transformation the likes of GameStop
                        was
                        really unprecedented and I was motivated by that.
                    </p>
                    <div class="quote-attribution">Ryan Cohen <a [routerLink]="'/rc-interview'">November
                            2022</a>
                    </div>
                </div>
            </div>
            <p>As of <a [routerLink]="'/fy25'">fiscal year 2025 results</a>, GameStop showed that it had reached its
                strongest financial position in the history of the company; the turnaround was successful.</p>
        </div>

    </div>
    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>