<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Reddit
        </h1>
        <h5 class="page-subtitle">
            Reddit's role in the GME saga
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Due to its size and discussion-based format, Reddit played a not-insignificant role in the GME saga
                </li>
                <li>Originally, <a [routerLink]="'/keith-gill'">DeepFuckingValue</a> posted on the Wallstreetbets
                    ("WSB")
                    subreddit, and this is where most of the momentum built that led to <a [routerLink]="'/sneeze'">the
                        sneeze</a>
                </li>
                <li>Eventually, GME shareholders moved to different subreddits, notably <a
                        [routerLink]="'/superstonk'">Superstonk</a>
                </li>
                <li>The moderators of these large and influential subreddits answer only to the Reddit admins. There is
                    virtually no moderator accountability afforded to the actual subreddit participants.</li>
                <li>While Reddit remains a space where GME shareholders continue to share information, with persistent
                    censorship and arbitrary rules and boundaries, many GME shareholders are consequently using
                    <a [routerLink]="'/social-media'">alternative social media platforms</a> such as X.com and Discord
                </li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Reddit Ownership Timeline</div>
            <ul>
                <li>In 2021, <a href="https://en.wikipedia.org/wiki/Fidelity_Investments" target="_blank"
                        class="external-link" rel="nofollow">Fidelity</a>, a major Wall Street market participant,
                    became a major investor/owner of Reddit,
                    and is
                    currently the single largest owner of Reddit at around 10% ownership.</li>
                <li>March 20, 2024: <a
                        href="https://investor.redditinc.com/news-events/news-releases/news-details/2024/Reddit-Announces-Pricing-of-Initial-Public-Offering/default.aspx"
                        target="_blank" class="external-link" rel="nofollow">Reddit
                        becomes a publicly traded company</a>, stock ticker RDDT</li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Censorship</div>
            <p>GME shareholders have faced numerous instances of censorship on Reddit.</p>

            <ul>
                <li>
                    In November 2022, Wallstreetbets <a
                        href="https://www.reddit.com/r/wallstreetbets/comments/z24vou/gamestop_megathread/?sort=top"
                        target="_blank" class="external-link" rel="nofollow">permanently banned GameStop & GME
                        as a topic of
                        discussion</a>. You can
                    post
                    there about any of the thousands of stocks in the market, but not GME.
                </li>
                <li>
                    Starting in late 2022, the moderators of the <a [routerLink]="'/superstonk'">Superstonk</a>
                    subreddit started increasing censorship of various topics
                    of discussion in that subreddit, for example <a [routerLink]="'/drs-vs-dspp'">DRS vs
                        DSPP</a>. Many long term GME community members have been banned from
                    Superstonk.
                </li>
                <li>Superstonk and r/GME ban the website <a href="https://drsgme.org" target="_blank"
                        class="external-link" rel="nofollow">DRSGME.org</a></li>
                <li>Reddit has a site-wide ban on the domain <a href="https://wallstreetonparade.com" target="_blank"
                        class="external-link" rel="nofollow">Wallstreetonparade.com</a></li>
                <li>
                    Some former members of Superstonk started a new subreddit, <a
                        href="https://www.reddit.com/r/DRSyourGME" target="_blank" class="external-link"
                        rel="nofollow">r/DRSyourGME</a>. In June 2023, some
                    GME shareholders of the DRSGME.org group travelled to GameStop headquarters in Grapevine
                    Texas to <a href="https://www.drsgme.org/2023-stockholder-list-viewing" target="_blank"
                        class="external-link" rel="nofollow">view the
                        stockholder list and collect shareholder data</a>.
                    Those shareholders subsequently shared their data in the r/DRSyourGME subreddit. Several
                    days later, Reddit
                    permanently banned that subreddit amidst false and unsubstantiated accusations of sharing
                    private information
                    and <a href="https://en.wikipedia.org/wiki/Doxing" target="_blank" class="external-link"
                        rel="nofollow">doxxing</a>. The DRSGME.org group subsequently started their own <a
                        href="https://en.wikipedia.org/wiki/Lemmy_(social_network)" target="_blank"
                        class="external-link" rel="nofollow">Lemmy</a> server
                    (now defunct), as well as <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank"
                        class="external-link" rel="nofollow">The DRS Discord
                        server</a>. Superstonk mods banned the word 'lemmy' and permanently bans anyone who says
                    a
                    forbidden word.
                </li>
                <li>
                    In November 2023, Reddit permanently banned the r/thePPShow subreddit for criticizing a (now
                    former) moderator of Superstonk.
                </li>
                <!-- <li>WhatCanIMakeToday's posts have been semi-scrubbed from Reddit after posting about pentitioning to the SEC</li> -->
            </ul>

        </div>







        <div class="page-section">
            <div class="section-heading">r/superstonk</div>
            <p>As interest in GME grew on Wallstreetbets, eventually GME shareholders sought new places that were more
                appropriate for discussions specifically about GME.</p>
            <p>Over the course of time, Superstonk emerged as the predominant GME subreddit, and eventually formed its
                own culture, and was highly active through 2021 and 2022.</p>
            <p>Superstonk is where <a [routerLink]="'/drs'">DRS</a> originally gained widespread attention among GME
                shareholders.</p>
            <div class="see-also">
                <p>See <a [routerLink]="'/superstonk'">Superstonk</a></p>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">r/wallstreetbets</div>
            <p>Wallstreetbets is a large and influential subreddit, and a place where much of the modern GME saga
                originated.</p>
            <p>Reddit's highest upvoted post of all time, titled <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/l8rf4k/times_square_right_now/"
                    target="_blank" class="external-link" rel="nofollow"> "Times
                    Square right now"</a>, was made in Wallstreetbets on January 30, 2021, pertaining to GME during the
                peak of the sneeze.</p>


            <div style="max-width: 100%; display:flex;flex-direction: column;align-items: center;">
                <a href="https://www.reddit.com/r/wallstreetbets/comments/l8rf4k/times_square_right_now/"
                    target="_blank" style="display:flex;flex-direction: column;align-items: center;">
                    <img src="assets/reddit/times-square.png" alt="Times Square right now - January 30, 2021"
                        style="width: 100%; max-width: 450px; border-radius:10px;">
                    <div style="font-size: 0.8em;">"Times square right now" - January 30, 2021</div>
                </a>
            </div>


            <p>Since November 2022, all talk of GME has been permanently banned from that subreddit. <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/z24vou/gamestop_megathread/?sort=top"
                    target="_blank" class="external-link" rel="nofollow">Post on
                    r/wallstreetbets</a>, <a href="https://www.youtube.com/watch?v=kxjuo7-chpw" target="_blank"
                    class="external-link" rel="nofollow">"WSB is now a
                    GME-free zone" video call on YouTube</a> </p>
            <p>The primary moderator of Wallstreetbets, u/opinion_is_unpopular, once made a post on gme_meltdown titled:
                <a href="https://web.archive.org/web/20221212041642/https://old.reddit.com/r/gme_meltdown/comments/zj92g7/some_pictures_from_citadels_disney_retreat_no/"
                    target="_blank" class="external-link" rel="nofollow">"Some
                    pictures from Citadel's Disney retreat! No expense spared!"</a>, suggesting that this individual is
                an employee or insider at <a href="https://en.wikipedia.org/wiki/Citadel_Securities" target="_blank"
                    class="external-link" rel="nofollow">Citadel</a>
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">r/gme_meltdown</div>
            <p>The r/gme_meltdown subreddit was created on February 1, 2021, shortly after the peak of <a
                    [routerLink]="'/sneeze'">the sneeze</a>. This subreddit exists to push cynical and condescending
                narratives about GME and GME shareholders.</p>
            <p>Ostensibly, the participants of this subreddit have no GME position themselves, long or short, yet
                evidently have strong, persistent, negative feelings towards GME despite having no apparent actual
                financial
                position in GME.
            </p>
            <p>Another possibility is that the participants of this subreddit <i>do</i> in fact have a bearish
                financial interest in GME, e.g. they may be <a href="https://en.wikipedia.org/wiki/Short_(finance)"
                    target="_blank" class="external-link" rel="nofollow">short</a>, yet are pretending not to have such
                a position.
                Given the nature of the
                ongoing <a [routerLink]="'/conflict'">conflict over GME</a>, it cannot be ruled
                out that a subreddit that continues to push bearish GME narratives and anti-GME <a
                    [routerLink]="'/fud'">FUD</a> in the interest of that faction
                against GME is actually being operated by that very same faction.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">r/GameStop</div>
            <p>The r/GameStop subreddit apparently exists for employees of GameStop, particularly employees at retail
                stores, to
                discuss their job and the company that they work for. This typically involves a significant amount of
                complaining or otherwise negative sentiment, for example celebrating the fact that they've quit.</p>
            <p>The subreddit existed long before the GME saga began, so it's original purpose is indisputably not
                associated with the modern GME saga.</p>
            <p>The r/GameStop subreddit permanently bans any individual that talks about GME stock in that subreddit.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Fidelity
            </div>
            <ul>
                <li>As the largest owner of Reddit, Fidelity has some amount of influence into Reddit and uses this to
                    maximize their
                    self-serving financial interests.</li>
                <li>Fidelity has demonstrated <a [routerLink]="'/meme-stock'">awareness and contempt of GME
                        shareholders that hold shares through DRS</a></li>
                <li>Evidence exists which indicates that a now-former moderator of Superstonk was a former
                    employee of Fidelity.
                </li>

                <!-- 
                https://www.dropbox.com/s/cpn0gg4l3doil10/signal-2022-08-11-20-31-55-837-1.aac?dl=0

                In response to this audio recording, "Goldie" on Discord (u/goldielips on Reddit) claimed that this is probably fake, especially as "someone who once worked there"
                screenshot of discord message in assets
                -->
            </ul>
        </div>
    </div>



    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-short-pages"></app-footer>
</div>


<!-- 

-reddit awards.  they played an important psychological role in posts.
-reddit took away reddit awards.
-reddit reinstated reddit awards

 -->