<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Reddit
        </h1>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Due to its size and discussion-based format, Reddit played a not-insignificant role in the GME saga
                </li>
                <li>Originally, <a [routerLink]="'/keith-gill'">DeepFuckingValue</a> posted on the Wallstreetbets
                    subreddit
                </li>
                <li>Eventually, GME shareholders moved to different subreddits, notably <a
                        [routerLink]="'/superstonk'">Superstonk</a>
                </li>
                <li>GME shareholders have faced numerous instances of censorship on Reddit
                    <ul>
                        <li>
                            In November 2022, Wallstreetbets banned GameStop & GME as a topic of discussion. You can
                            post
                            there about any of the thousands of stocks in the market, but not GME
                        </li>
                        <li>
                            Starting in late 2022, the moderators of the <a [routerLink]="'/superstonk'">Superstonk</a>
                            subreddit started increasing censorship of various topics
                            of discussion in that subreddit. Many long term GME community members have been banned from
                            Superstonk.
                        </li>
                        <li>Superstonk and r/GME ban the website <a href="https://drsgme.org" target="_blank"
                                class="external-link" rel="nofollow">DRSGME.org</a></li>
                        <li>Reddit has a site-wide ban on the domain <a href="https://wallstreetonparade.com"
                                target="_blank" class="external-link" rel="nofollow">Wallstreetonparade.com</a></li>
                        <li>
                            Some former members of Superstonk started a new subreddit, r/DRSyourGME. In June 2023,
                            Reddit
                            permanently banned that subreddit. Some of those shareholders started their own <a
                                href="https://en.wikipedia.org/wiki/Lemmy_(social_network)" target="_blank"
                                class="external-link" rel="nofollow">Lemmy</a> server
                            (now defunct). Superstonk mods banned the word 'lemmy' and permanently bans anyone who says
                            a
                            forbidden word.
                        </li>
                        <li>
                            In November 2023, Reddit permanently banned the r/thePPShow subreddit for criticizing a (now
                            former) moderator of Superstonk.
                        </li>
                        <!-- <li>WhatCanIMakeToday's posts have been semi-scrubbed from Reddit after posting about pentitioning to the SEC</li> -->
                    </ul>
                </li>
                <li>In 2021, Fidelity, a major Wall Street market participant, became a major investor of Reddit, and is
                    currently the single largest owner of Reddit at around 10% ownership.</li>
                <li>Some social media discussions found that a moderator of Superstonk (or possibly more than 1)
                    was a former employee of Fidelity. Some other discussions have speculated that the primary moderator
                    of
                    Wallstreetbets is or was an employee of Citadel.</li>
                <li>The moderators of these large and influential subreddits answer only to the Reddit admins. There is
                    virtually no moderator accountability afforded to the actual subreddit participants.</li>
                <li>While Reddit remains a space for GME shareholders to share information, with so much persistent
                    censorship and arbitrary rules and boundaries, many GME shareholders are now using alternative
                    social
                    media platforms such as X and Discord.</li>
            </ul>
        </div>
    </div>



    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-short-pages"></app-footer>
</div>


<!-- 

-reddit awards.  they played an important psychological role in posts.
-reddit took away reddit awards.
-reddit reinstated reddit awards

 -->