<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            The Ryan Cohen Interview with Joe Fonicello of GMEdd.com
        </h1>
        <h5 class="page-subtitle">
            On November 20, 2022, an interview with <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> and Joe Fonicello of
            GMEdd.com is published.
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <p>Ryan Cohen does not give many public interviews or otherwise provide very much information publicly.</p>
            <p>In this interview with Joe Fonicello of GMEdd.com, Ryan Cohen provided
                one of the most extensive and candid public appearances to date. This interview provides insight into
                Ryan Cohen's business and investing philosophy, as well as some off-beat humor.
            </p>
            <ul>
                <li>Ryan Cohen discusses some of the differences and similarities between Chewy and GameStop</li>
                <li>Cohen explains that they are focused on turning GameStop profitable</li>
                <li>Cohen advocates for corporate leaders to have personal financial stakes in the businesses they
                    oversee to ensure alignment with shareholder interests</li>
            </ul>
            <p>Joe Fonicello would later become <a href="https://www.linkedin.com/in/fonicello"
                    target="_blank"  class="external-link" rel="nofollow">GameStop's Head of Social Media</a>, as of July 2024.</p>
        </div>
        <div class="page-section">
            <app-rc-interview-transcript></app-rc-interview-transcript>
        </div>

    </div>


    <app-footer class="app-footer"></app-footer>


</div>