.interview-section{
    display:flex;
    flex-direction: column;
}
.question-section{
    margin-bottom: 25px;
    padding: 5px;
    background-color: rgba(207, 207, 207, 0.15);
    border-radius: 5px;
}
.speaker-name{
    font-size: 0.9em; 
    font-weight: 550;
}
.speaker-text{
    margin-bottom: 10px;
}
.opposite{
    justify-self: flex-end;
}

.youtube-link{

}