<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            Ryan Cohen
        </div>
        <div class="page-subtitle">
            CEO and Chairman of the GameStop Board of Directors
        </div>
        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Largest individual shareholder of the company (excluding institutions)</li>
                <li>Chairman of the board of directors since June 2021</li>
                <li>CEO of the company since September 2023</li>
                <li>Does not receive compensation</li>
                <li>"We are focused on building shareholder value over the long term."</li>
            </ul>
        </div>
        <!-- <div class="page-section">
            <app-help-contribute></app-help-contribute>
        </div> -->
    </div>
</div>