<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Market Tactics and Manipulation
        </h1>
        <h5 class="page-subtitle">
            Sophisticated market participants can use a variety of tools, tactics, and advantages to profit by achieving
            short-term
            or long-term market outcomes
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>The stock market is a highly dynamic and complex system with many sophisticated market participants that
                    deploy a variety of legitimate as well as illegal tactics</li>
                <li>Market tactics can be legitimate profit-seeking behaviors based on research, interpretation,
                    risk-taking, and transparent trading</li>
                <li>Market manipulation consists of illegal profit-seeking behaviors through deliberate attempts to
                    distort prices or market signals through deception </li>
                <li>Some market participants engage in profitable market manipulation using sophisticated tactics that
                    evade detection; enforcement against market manipulation is weak</li>
                <li>Some market participants enjoy special privileges and abilities which can be exploited for profit
                </li>

            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Market Manipulation</div>
            <p>In economics and finance, <a href="https://en.wikipedia.org/wiki/Market_manipulation" target="_blank"
                    class="external-link" rel="nofollow">market
                    manipulation</a> occurs when someone intentionally alters the supply or
                demand of a security to influence its price. This can involve spreading misleading information,
                executing misleading trades, or manipulating quotes and prices.</p>
            <p>Market manipulation is illegal in most jurisdictions. It continues to happen systemically because it
                is lucrative, and it is difficult to detect and enforce because of increasingly complex and
                sophisticated methods.</p>
        </div>


        <!-- 
        <div>
            <div class="section-heading">Penalties Less Than Profit</div>
        </div>


        <div>
            <div class="section-heading">Narrative Control</div>
            <p></p>
        </div> -->






        <div class="page-section">
            <div class="section-heading">Candid Insight from Jim Cramer</div>
            <p>
                In December 2006, <a href="https://en.wikipedia.org/wiki/Jim_Cramer" target="_blank"
                    class="external-link" rel="nofollow">Jim Cramer</a> gave <a
                    href="https://www.youtube.com/watch?v=gyaPf6qXLa8" target="_blank" class="external-link"
                    rel="nofollow">an interview</a> with Aaron Task, in which he candidly
                describes how hedge fund managers can influence short-term market prices and sentiment to benefit
                financially.
            </p>

            <p>Cramer describes how a hedge fund can create false market signals to mislead other market participants,
                how to use misinformation and rumours to create a narrative from which to profit, among other related
                tactics.</p>
            <p>Cramer acknowledges that this behavior is not strictly legal, but it is done anyways because it is
                lucrative and because the SEC is impotent.</p>


            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        What’s important when you’re in that hedge fund mode is to not do anything remotely truthful.
                        Because the
                        truth is so against your view, that it’s important to create a new truth, to develop a fiction.
                    </p>

                    <div class="quote-attribution">
                        Jim Cramer
                        <a href="https://www.youtube.com/watch?v=gyaPf6qXLa8" target="_blank" class="external-link"
                            rel="nofollow">December 2006 Interview with Aaron Task</a>
                    </div>
                </div>
            </div>


            <p>In a 2023 Mad Money segment, <a
                    href="https://www.reddit.com/r/Superstonk/comments/10siamz/a_new_hero_is_born_shoutout_to_nathan_in_florida/?sort=top"
                    target="_blank" class="external-link" rel="nofollow">Nathan from Florida asked Jim</a>: "You're
                pretty adamant that crypto is a big scam, it's all rigged, but as
                we saw with GameStop back <a [routerLink]="'/sneeze'">a few years ago</a>,
                big firms have the power to shut down trading if they're losing money, like when Robinhood got shut
                down, how is that less rigged than
                crypto?"</p>

            <p>Cramer admitted that "it was totally rigged."</p>



            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        It was totally rigged. It's okay. It was rigged. I called it out. In
                        one of
                        those movies I called it out. I don't want any touching that. I like great American stories. I
                        don't
                        like the hokum."
                    </p>

                    <div class="quote-attribution">
                        Jim Cramer
                        <a href="https://www.reddit.com/r/Superstonk/comments/10siamz/a_new_hero_is_born_shoutout_to_nathan_in_florida/?sort=top"
                            target="_blank" class="external-link" rel="nofollow">Mad Money segment, February 3, 2023</a>
                    </div>
                </div>
            </div>


            <!-- 
                article from cramer:
                Feb 19, 2021
                Bears make money, Mr. Plotkin, Bulls make money Mr. Gill, but hogs get slaughtered.

                "Or we can just say, guys, declare victory and go home. Oops, too late. Hogs got slaughtered and one of them still doesn't even know it yet."

                https://pro.thestreet.com/market-commentary/jim-cramer-plotkin-gill-and-gamestop-15572804
            -->

        </div>


        <div class="page-section">
            <div class="section-heading">Jon Stewart on Dark Pools, Payment for Order Flow</div>
            <p>
                In <a href="https://www.youtube.com/watch?v=bP74RBTE8kI" target="_blank" class="external-link"
                    rel="nofollow">an episode of The Problem with Jon Stewart from March 2022</a>, Jon discusses some of
                the modern issues with the stock market, particularly with respect to <a [routerLink]="'/sneeze'">the
                    GameStop episode of 2021</a>.
            </p>
            <p>He argues that despite zero commissions, easy access, and massive retail participation, inequality has
                increased because the system is structurally designed to extract value from small investors.
                Central to this critique is <a href="https://en.wikipedia.org/wiki/Payment_for_order_flow"
                    target="_blank" class="external-link" rel="nofollow">payment for order flow</a>, opaque market
                practices like <a href="https://en.wikipedia.org/wiki/Dark_pool" target="_blank" class="external-link"
                    rel="nofollow">dark pools</a>, and
                conflicts of interest between brokers, market makers, hedge funds, and regulators.
            </p>
            <p>Jon generally concludes that the stock market is structured to appear open while remaining rigged.
                "Democratization" has increased participation, not fairness; real accountability, transparency, and
                reform are absent.</p>
        </div>






        <!-- <div class="page-section">
            <div class="section-heading">
                Methods
            </div>
            <ul>
                <li>Short selling, derivatives, leverage – profiting from price declines via short positions, options,
                    swaps, and other leveraged instruments</li>
                <li>Influence over market narrative – shaping sentiment through media connections, funded research
                    reports, analyst ratings, or social channels</li>
                <li>Access to alternative trading venues – using dark pools, crossing networks, and other ATSs to trade
                    without moving the visible market</li>
                <li>Extended-hours trading – acting on information before or after regular market sessions when
                    liquidity is thin</li>
                <li>Complex ETF/Index strategies – moving baskets of securities to indirectly affect specific stocks
                </li>
                <li>Information edge – faster or earlier access to news, order flow data, or research</li>
                <li>Algorithmic & high-frequency trading – exploiting microsecond opportunities and order-book
                    imbalances</li>
                <li>Large capital base – capacity to absorb risk, scale trades, and influence prices through volume</li>
                <li>Order book spoofing / layering – placing and canceling large orders to create false impressions of
                    demand or supply (illegal if intentional, but still seen in some markets)</li>
                <li>Quote stuffing – flooding the market with rapid-fire orders to slow competitors’ systems and obscure
                    real trading intentions</li>
                <li>Wash trading / matched orders – buying and selling the same security to create artificial volume or
                    price levels (banned, but harder to detect in some OTC or crypto markets)</li>
                <li>Marking the close – strategically trading near the day’s end to influence the official closing price
                    (which can affect benchmarks and derivatives payouts)</li>
                <li>“Painting the tape” – small trades at progressively higher or lower prices to create a misleading
                    price trend</li>
                <li>Market maker exemptions – designated market makers can short without an uptick, have capital
                    requirement relief, and access order flow information</li>
                <li>Reg SHO exemptions – certain bona fide market-making activities are exempt from locate/borrow rules
                    that apply to regular short sellers</li>
                <li>Block trade privileges – institutions can privately negotiate large trades off-exchange, avoiding
                    visible market impact.</li>
                <li>Foreign jurisdiction routing – executing trades via overseas entities to skirt certain domestic
                    restrictions or reporting timelines</li>
                <li>Regulatory arbitrage – structuring products (e.g., total return swaps) to gain synthetic exposure
                    without triggering ownership disclosure or position limits</li>
                <li>Special liquidity provisions – some funds or dealers have standing agreements with exchanges or
                    regulators to provide liquidity in ways ordinary traders can’t</li>
                <li>Exemptions from position limits – certain hedging or bona fide trading activities are exempt from
                    speculative position limits in commodities and derivatives</li>
            </ul>
        </div> -->




    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>