<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Ryan Cohen
        </h1>
        <h5 class="page-subtitle">
            CEO and Chairman of the GameStop Board of Directors
        </h5>
        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Largest individual shareholder of GameStop since 2020</li>
                <li>Chairman of the board of directors since June 2021</li>
                <li>CEO of GameStop since September 2023</li>
                <li>Does not receive compensation</li>
                <!-- <li>"We are focused on building shareholder value over the long term."<br>
                    -- <a
                        href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                        target="_blank">June 17, 2024</a> </li> -->
            </ul>
            <div class="quote-section-container">
                <div style="display: flex;flex-direction: row; width: 100%; justify-content: center;">
                    <div class="quote-section" style="flex-grow: 2;">
                        <p>
                            We are focused on building shareholder value over the long term.
                        </p>
                        <div class="quote-attribution">
                            Ryan Cohen

                        </div>
                        <div class="quote-attribution-2">
                            2024 Annual Meeting of Stockholders
                        </div>
                        <div class="quote-attribution-2">
                            <a href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                                target="_blank" class="external-link" rel="nofollow">June 17, 2024</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We're not going to call our shots in advance, for obvious reasons, but GameStop is following
                        GameStop's strategy. We're not following anyone else's strategy.
                    </p>
                    <div class="quote-attribution">
                        Ryan Cohen
                    </div>
                    <div class="quote-attribution-2">
                        Bitcoin Conference 2025 Interview with David Bailey 
                    </div>
                    <div class="quote-attribution-2">
                        <a href="https://x.com/gamestop/status/1927770418959577147" target="_blank"
                            class="external-link" rel="nofollow">May 28, 2025</a>
                    </div>
                </div>
            </div>


            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        No fancy promises, no road shows, no pandering.

                        Just a focus on efficiency, and long-term alignment with our owners the shareholders.
                    </p>
                    <div class="quote-attribution">
                        Ryan Cohen

                    </div>
                    <div class="quote-attribution-2">
                        2025 Annual Meeting of Stockholders
                    </div>
                    <div class="quote-attribution-2">
                        <a href="https://www.reddit.com/r/GME/comments/1l9ozu2/ryan_cohens_statements_from_the_gamestop_corp/"
                            target="_blank" class="external-link" rel="nofollow">June 12, 2025</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section"
            style="width:100%; max-width: 100%; display:flex; flex-direction:column; align-items: center; padding: 0px;"
            *ngIf="isBrowser">
            <div *ngIf="!isMobile" style="max-width: 650px;">
                <app-image-carousel [carousel]="rcCarousel" [maxWidth]="400"></app-image-carousel>
                <!-- <img [src]="rcImagePaths[0]" alt="" style="width: 100%;"> -->
                <!-- <img *ngFor="let imagePath of rcImagePaths" [src]="imagePath" alt="" style="width: 100%;"> -->
            </div>
            <div *ngIf="isMobile" style="max-width: 100%;">
                <app-image-carousel [carousel]="rcCarousel" [maxWidth]="screenWidth"></app-image-carousel>
            </div>
        </div>
        <div class="page-section">
            <div class="section-heading">Before GameStop</div>
            <p>Ryan Cohen built Chewy into the top online pet retailer, sold it for $3.35 billion in 2017.</p>
        </div>
        <div class="page-section">
            <div class="section-heading">November 2022 Interview</div>
            <p>In November 2022, Ryan Cohen gave <a [routerLink]="'/rc-interview'">an interview with Joe Fonicello of
                    GMEdd.com</a>, providing
                one of the most extensive and candid public appearances to date. This interview provided insight into
                Ryan Cohen's business and investing philosophy, as well as some off-beat humor.
            </p>
            <!-- <ul>
                <li>Ryan Cohen discusses some of the differences and similarities between Chewy and GameStop</li>
                <li>Cohen explains that they are focused on GameStop's profitability</li>
                <li>Cohen advocates for corporate leaders to have personal financial stakes in the businesses they
                    oversee to ensure alignment with shareholder interests</li>
            </ul> -->
        </div>
        <div class="page-section">
            <div class="section-heading">2025 Media Appearances</div>
            <ul>
                <li><a href="https://x.com/gamestop/status/1927770418959577147" target="_blank" class="external-link"
                        rel="nofollow">May 28 interview with
                        David Bailey from BTC Inc.</a></li>
                <li><a href="https://www.reddit.com/r/Superstonk/comments/1m0fitk/ryan_cohen_on_cnbc_july_15_2025/"
                        target="_blank" class="external-link" rel="nofollow">July 15 interview with Andrew Sorkin on
                        CNBC</a></li>
                <li><a href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                        target="_blank" class="external-link" rel="nofollow">July 15 interview with Charles Payne on Fox
                        Business</a></li>
                <li><a href="https://www.youtube.com/watch?v=UVSGKY4X018" target="_blank" class="external-link"
                        rel="nofollow">October 20 interview with TBPN</a></li>
            </ul>



        </div>
        <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Ryan_Cohen" target="_blank" class="external-link" rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Ryan Cohen - Wikipedia
                </a>

            </div>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>