.rc-speaking, .interviewer-speaking{
    p {
        margin-top: 0px;
    }
}
.rc-name, .interviewer-name{
    font-weight: bold;
    font-size: 0.8em;
}


.social-media-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}