<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            GameStop Stores
        </div>
        <div class="page-subtitle">
            GameStop continues to close stores as part of the ongoing turnaround strategy
        </div>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>GameStop had a peak of approximately 7,500 stores in 2016</li>
                <li>Since 2016, GameStop has reduced the total number of stores every year, with approximately 4,200
                    stores as of FY23</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Plans for further reduction in stores</div>
            <ul>
                <li>"With respect to retail operations, we plan to continue reducing costs and focusing on
                    profitability... This means a smaller network of stores with an expanded assortment of higher value
                    items that fit
                    into our trade-in model."<br>
                    -- <a
                        href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                        target="_blank">Ryan Cohen's statements on June 17</a> from GameStop's 2024 annual meeting</li>
            </ul>
        </div>
        <div class="page-section" *ngIf="isBrowser">
            <div class="section-heading">Stores Chart</div>
            <app-stores-chart></app-stores-chart>
        </div>

        
        <div class="page-section">
            <div class="section-heading">Developments</div>
            <ul>
                <li>
                    <a href="https://www.reddit.com/r/Superstonk/comments/1isb6sk/gamestop_announces_plan_to_pursue_a_sale_of/"
                        target="_blank">
                        February 2025
                    </a>: GameStop Announces Plan to Pursue a Sale of French 🇫🇷 Operations (314 stores)
                </li>
                <li><a href="https://www.reddit.com/r/Superstonk/comments/1isb6sk/gamestop_announces_plan_to_pursue_a_sale_of/"
                        target="_blank">
                        February 2025
                    </a>: GameStop Announces Plan to Pursue a Sale of Canadian 🇨🇦 Operations (203 stores) </li>
                <li><a href="https://www.sec.gov/ix?doc=/Archives/edgar/data/0001326380/000132638024000170/gme-20241102.htm"
                        target="_blank">Q3 2024</a>: initiated plans to divest operations in Italy 🇮🇹 (264) </li>
                <li><a href="https://www.sec.gov/ix?doc=/Archives/edgar/data/0001326380/000132638024000170/gme-20241102.htm"
                        target="_blank">Q3 2024</a>: initiated plans to wind down our operations in Germany 🇩🇪 (69
                    stores) </li>
                
            </ul>
            <p>As of the completion of GameStop's winding down and sale of the operations in the countries listed above, GameStop will then have continued operations only in the following countries:</p>
            <ul>
                <li>USA 🇺🇸 (2,915 stores)</li>
                <li>Australia 🇦🇺 (365 stores)</li>
                <li>New Zealand 🇳🇿 (39 stores)</li>
            </ul>
        </div>
        <div class="page-section" style="margin-bottom: 50px;"></div>
    </div>


    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-fixed"></app-footer>


</div>