<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Bear Case
        </h1>
        <h5 class="page-subtitle">
            Arguments to bet against GME stock
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>GameStop has an outdated business model that is ineffective in the modern video game industry</li>
                <li>The stock is overvalued and is therefore destined to go down</li>
                <li>GameStop's revenue continues to go down year over year, and GameStop continues to close stores and reduce staff</li>
                <!-- <li></li>
                <li></li> -->
            </ul>
        </div>
    </div>
</div>
