.component-root{
    width: 100%;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
// .page-title{
//     font-size: 1.4em;
//     margin: 15px;
//     padding: 0px;
// }

.page-section{
    padding-left: 0px;
    padding-right: 0px;
}

.bar-chart{
    border: 1px solid red;
}


.news-report{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    display:flex;
    flex-direction: row;
    align-items: top;
}
.news-report:hover{
    cursor: pointer;
    font-weight: bold;
    color: var(--color-special);
}

