<div class="component-root">

    <h1 class="page-title">
        GameStop Financial Statements
    </h1>
    <h5 class="page-subtitle">
        Earnings results and related company financial information
    </h5>

    <div class="page-content">

        <div class="page-section" *ngIf="isBrowser">
            <app-choose-earnings-chart></app-choose-earnings-chart>
        </div>
        <div class="page-section" *ngIf="!isBrowser" style="height: 650px;">
        </div>

        <!-- <div class="page-section">
            <app-earnings-summary-table></app-earnings-summary-table>
        </div> -->

        <div class="page-section">
            <app-quarterly-earnings-data-table></app-quarterly-earnings-data-table>
        </div>


        <div class="page-section" *ngIf="isBrowser">
            <!-- assets and liabilities pie chart -->
            <app-assets-composition></app-assets-composition>
        </div>


        <div class="page-section">
            <div class="section-heading">
                GameStop Fiscal Year 2025 Earnings Results
            </div>
            <div style="font-size:0.9em;color:gray;">March 24, 2026</div>
            <div class="news-report" [routerLink]="'/fy25'">
                <img src="assets/icons/newspaper-icon.png" alt=""
                    style="margin-right: 10px; margin-top: 12px;height: 30px; width: 30px;">
                <div>
                    GameStop Fiscal Year 2025 Earnings Results: The Turnaround Delivers
                </div>
            </div>


            <div style="max-width: 100%; display:flex;flex-direction: column;align-items: center;cursor: pointer;"
                [routerLink]="'/fy25'">
                <img src="assets/earnings-sankey/fy25-sankey.png" alt="GameStop FY 2025 Earnings Overview"
                    style="width: 650px; max-width: 100%; border-radius:10px;">
            </div>
        </div>


        <div class="page-section">
            <!-- <div class="section-heading">July 2025 CEO Public Statements</div> -->
            <!-- <p>In an interview with Charles Payne on Fox Business:</p> -->
            <!-- <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        Generally the business is much more efficient. It's gonna be a smaller — <a
                            [routerLink]="'/stores'">less stores</a> — but more
                        profitable company.
                    </p>
                    <p>
                        Most importantly, we're generating profits every single quarter now.
                    </p>
                    <p>
                        Typically in the
                        past GameStop has only made money in Q3 and Q4, and actually, when I joined the board and before
                        I joined the board, GameStop was losing money every single year.
                    </p>
                    <p>
                        It's hard to appreciate what a
                        piece of crap the business was when I joined the board and what was going on in the boardroom
                        and management. But, we're making progress.
                    </p>
                    <div class="quote-attribution">
                        GameStop CEO Ryan Cohen
                    </div>
                    <div class="quote-attribution-2">Interview with Charles Payne on Fox Business</div>
                    <div style="margin-left: 10px;" class="quote-attribution-2"><a
                            href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                            target="_blank" class="external-link" rel="nofollow">July 15, 2025</a></div>
                </div>
            </div> -->

            <!-- <div style="margin-top:20px;margin-bottom: 20px;">
                See <a [routerLink]="'/turnaround'">GameStop Turnaround and Transformation</a>
            </div> -->

            <!-- <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We are in a position today where the retail business is profitable.
                        Maybe the future value when you think about GameStop has more to do — again, this is a guess —
                        but <b>it may have more to do with
                            how we deploy our balance sheet than the cash that the retail operations will generate</b>.

                    </p>
                    <p>
                        But, it needs to be the right time, and the capital markets are funny.
                        They can go — and this happens every 5 or 10 years — they go from green to red and they don't
                        flash yellow.
                        And so, there may be an opportunity tomorrow, you never know. We could wake up tomorrow and the
                        markets could be down twenty percent and <b>GameStop will be in a position to take advantage of
                            those opportunities when they happen</b>.

                        We'll look everywhere.
                    </p>
                    <div class="quote-attribution">
                        GameStop CEO Ryan Cohen

                    </div>
                    <div class="quote-attribution-2">Interview with Charles Payne on Fox Business</div>
                    <div style="margin-left: 10px;" class="quote-attribution-2"><a
                            href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                            target="_blank" class="external-link" rel="nofollow">July 15, 2025</a></div>
                </div>
            </div>

            <div>
                See <a [routerLink]="'/investment-policy'">GameStop's Investment Policy</a>
            </div> -->
        </div>




        <div class="page-section">
            <div class="section-heading">Changes to GME equity in 2024</div>
            <!-- <div style="font-size:0.9em;color:gray;">As of September 23, 2024</div> -->
            <div class="news-report" [routerLink]="'/atms'">
                <img src="assets/icons/newspaper-icon.png" alt=""
                    style="margin-right: 10px; margin-top: 12px;height: 30px; width: 30px;">
                <div>
                    In 2024, GameStop raised approximately $3.5 billion from 3 at-the-market equity offering programs
                    ("ATMs")
                </div>

            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">Fiscal Year 2023 Earnings Results</div>
            <div style="font-size:0.9em;color:gray;">March 26, 2024</div>
            <div class="news-report" [routerLink]="'/fy23'">
                <img src="assets/icons/newspaper-icon.png" alt=""
                    style="margin-right: 10px; margin-top: 12px;height: 30px; width: 30px;">
                <div>
                    In fiscal year 2023, GameStop was profitable for the first time in 6 years
                </div>
            </div>
        </div>



    </div>

    <app-footer class="app-footer"></app-footer>
</div>