<div class="component-root">

    <h1 class="page-title">
        GameStop Financial Statements
    </h1>
    <h5 class="page-subtitle">
        Earnings results and related company financial information
    </h5>

    <div class="page-content">

        <div class="page-section" *ngIf="isBrowser">
            <app-choose-earnings-chart ></app-choose-earnings-chart>
        </div>
        <div class="page-section" *ngIf="!isBrowser" style="height: 650px;">
        </div>
        <div class="page-section">
            <div class="section-heading">Earnings table</div>
            <app-earnings-table></app-earnings-table>
        </div>


        <div class="page-section">
            <div class="section-heading">
                GameStop Fiscal Year 2024 Earnings Results
            </div>
            <div class="news-report" [routerLink]="'/fy24'">
                <img src="assets/icons/newspaper-icon.png" alt=""
                style="margin-right: 10px; margin-top: 12px;height: 30px; width: 30px;">
                <div>
                    GameStop Fiscal Year 2024 Earnings Results: Increasing Profitability and Value
                </div>
            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">Changes to GME equity in 2024</div>
            <!-- <div style="font-size:0.9em;color:gray;">As of September 23, 2024</div> -->
            <div class="news-report" [routerLink]="'/atms'">
                <img src="assets/icons/newspaper-icon.png" alt=""
                    style="margin-right: 10px; margin-top: 12px;height: 30px; width: 30px;">
                <div>
                    Outcome of GameStop's completion of 3 at-the-market equity offering programs
                </div>

            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">GameStop 2024 annual meeting</div>
            <p>
                From <a
                    href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                    target="_blank">CEO Ryan Cohen's statements on June 17</a> from GameStop's 2024 annual meeting:
            </p>
            <ul>
                <li>"With respect to retail operations, we plan to continue reducing costs and focusing on
                    profitability."</li>
                <li>"This means <a [routerLink]="'/stores'">a smaller network of stores</a> with an expanded assortment
                    of higher value items that fit
                    into our trade-in model."</li>
            </ul>
        </div>



        <div class="page-section">
            <div class="section-heading">FY23 earnings results article</div>
            <div style="font-size:0.9em;color:gray;">April 10, 2024</div>
            <div class="news-report" [routerLink]="'/fy23'">
                <img src="assets/icons/newspaper-icon.png" alt=""
                    style="margin-right: 10px; margin-top: 12px;height: 30px; width: 30px;">
                <div>
                    For fiscal year 2023, GameStop was profitable for the first time in 6 years
                </div>
            </div>
        </div>



    </div>

    <app-footer class="app-footer"></app-footer>
</div>