<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GameStop Company Turnaround and Transformation
        </h1>
        <h5 class="page-subtitle">
            Since 2021, GameStop has been undergoing a transformation: fewer stores, higher value, renewed profitability
        </h5>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>In the years preceding 2021, GameStop was a <a [routerLink]="'/downfall'">struggling</a> company
                    that was often viewed as likely
                    heading towards bankruptcy</li>
                <li>In 2021, the entire board of directors was replaced; <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a>
                    became the chairman </li>
                <li>The company continues to close <a [routerLink]="'/stores'">stores</a>, focusing on fewer, more
                    profitable locations</li>
                <!-- <li>CEO <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a>’s strategy emphasizes cost-cutting,
                    profitability, and a selection of
                    higher-value items that align with GameStop’s trade-in model</li> -->
                <li>Although revenue has declined dramatically since 2018, GameStop achieved <a
                        [routerLink]="'/fy23'">net profitability for the first time in six years</a> in fiscal year 2023
                </li>
                <li>By raising nearly <b>$3.5 billion</b> from <a [routerLink]="'/atms'">at-the-market offerings in
                        2024</a>, GameStop built a large cash position, which has been used to earn substantial interest
                    income that helps
                    offset
                    operating losses and sustain profitability</li>
                <li>Core <a [routerLink]="'/financials'">financial metrics</a> show significant improvements to the
                    company since the turnaround efforts
                    began</li>
                <li>GameStop is evolving its legacy business model; since 2024, GameStop has placed increased emphasis
                    on <a [routerLink]="'/trading-cards'">graded trading cards</a></li>
                <li>
                    GameStop is transforming into a capital allocator, with a growing focus on strategic <a
                        [routerLink]="'/investment-policy'">investments</a>
                </li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Before 2021
            </div>
            <p>GameStop was struggling. The company was losing hundreds of millions of dollars per year, with too many
                stores and dwindling revenue. The prevailing sentiment was that the company was doomed to bankruptcy.
            </p>

            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/downfall-era'">the downfall era</a>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Ryan Cohen and a New Board of Directors
            </div>
            <p>In 2020, <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> purchased over 12 percent of the company,
                becoming the largest individual
                shareholder of GameStop. He wrote <a
                    href="https://www.sec.gov/Archives/edgar/data/1326380/000101359420000821/rc13da3-111620.pdf"
                    target="_blank">
                    a letter to the then-board of directors</a> urging a decisive pivot from the traditional
                brick-and-mortar approach to a more
                technology-driven model.
            </p>
            <p>
                Ryan Cohen secured board seats and eventually ascended to the position of chairman of the board of
                directors in June 2021, replacing the entire former board with a new one that was aligned with his
                vision to modernize the company.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">
                The Sneeze of January 2021
            </div>
            <p>A social media and stock market phenomenon that began with <a [routerLink]="'/keith-gill'">Keith Gill</a>
                in 2019 drew much attention and enthusiasm towards GME. This brought a large number
                of new investors to GME, many of which ultimately becoming <a [routerLink]="'/drs'">long-term
                    shareholders</a>. Enthusiastic
                investing of GME entailed elevated share prices, which the company has been able to capitalize on and
                <a [routerLink]="'/atms'">raise billions of dollars</a>, greatly strengthening the financial position of
                the company.
            </p>

            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/sneeze'">the sneeze</a>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">Turnaround Begins</div>
            <p>By June 2021, Ryan Cohen and the new board of directors were in the position to initiate the turnaround
                of the company. This has involved extensive cutting of costs, <a [routerLink]="'/stores'">closing of
                    stores</a>, and modernization of a
                company that had previously failed to adapt with the modern era.

            </p>

            <div style="display:flex;flex-direction: column; width: 100%; align-items: center;" *ngIf="isBrowser">
                <img src=" 
                assets/ryan-cohen/rc-tweets/rc-tweet-2021-10-26.jpg" alt="David versus Goliath"
                    style="max-width: 100%; border-radius: 5px;">
                <br>
                <div style="display:flex;justify-content: center;">
                    <span style="font-size:0.8em;"> <a [routerLink]="'/rc-interview'" style="text-decoration: none;">
                            "David versus Goliath"</a> - </span>
                    <span style="font-size:0.7em;"> <a href="https://x.com/ryancohen/status/1453174821072801794"
                            target="_blank" style="text-decoration: none;">RC tweet on October 26, 2021</a></span>

                </div>
            </div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We inherited a bunch of legacy everything, and under-investment across the entire business –-
                        people,
                        the entire technology stack, just decades of neglect, and so it’s hard to turn around a brick
                        and
                        mortar
                        retailer that’s under the kind of pressure that GameStop was and continues to be under, but that
                        was
                        also part of the attraction going into GameStop was that a transformation the likes of GameStop
                        was
                        really unprecedented and I was motivated by that.
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen <a [routerLink]="'/rc-interview'">November
                            2022</a>
                    </div>
                </div>


            </div>

            <p>GameStop has made substantial efforts to upgrade and modernize its online store and enhance its overall
                omnichannel
                experience. This has included investing in a more user-friendly and mobile-responsive website,
                streamlining the checkout process, and improving product availability and search functionality.
                Additionally, the company has integrated buy-online-pickup-in-store and same-day delivery options.

            </p>

            <p>From June 2021 to June 2023, Matt Furlong was the CEO of the company. On Furlong's termination / end of
                contract, Ryan Cohen became executive chairman on a temporary basis.</p>
            <p>In September 2023, Ryan Cohen became the CEO of the company. In December 2023, the board approved a
                <a [routerLink]="'/investment-policy'">new
                    investment policy</a> which gave Ryan Cohen the authority to manage the company's investment
                portfolio.
            </p>
        </div>






        <div class="page-section">
            <div class="section-heading">Demonstrable Results</div>

            <p>In March 2024, the company reported <a [routerLink]="'/fy23'">fiscal year 2023 results</a>, showing
                <b>full-year profitability for
                    the first time in 6 years</b>.
            </p>

            <p>Subsequently, the company was able to complete <a [routerLink]="'/atms'">3 at-the-market equity offering
                    programs</a> at relatively high stock prices, raising approximately <b>$3.5
                    billion</b>, increasing the book value per share of GME to nearly $11.
            </p>

            <p>A look at the core financial metrics shows significant improvements to the financial standing of the
                company.
            </p>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        With respect to retail operations, we plan to continue reducing costs and
                        focusing on profitability... This means <a [routerLink]="'/stores'">a smaller network of
                            stores</a>
                        with
                        an expanded assortment of
                        higher value items that fit into our trade-in model.
                    </p>
                    <div class="quote-attribution">
                        GameStop CEO Ryan Cohen
                    </div>
                    <div class="quote-attribution-2">
                        2024 Annual Meeting of Stockholders
                    </div>
                    <a class="quote-attribution-2" href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                        target="_blank">June 17, 2024
                    </a>
                </div>
            </div>

            <app-turnaround-table [isTurnaroundPage]="true"></app-turnaround-table>



            <p>GameStop has raised
                cash and eliminated practically all of the debt that it had. Now holding a large pile of cash and
                equivalents, the
                company earns interest income rather than paying interest on debts.</p>
            <p>
                GameStop continues to close more stores every year, a trend that began before the initiation of the
                company turnaround. As GameStop closes more stores, the <a [routerLink]="'/earnings'">revenue</a>
                continues to decrease, as does the SG&A expenses.
            </p>
            <p>While operating income has seen significant improvement, it remains negative. </p>
        </div>


        <!-- New Initiatives -->

        <div class="page-section">
            <div class="section-heading">New Initiatives</div>
            <p>In 2024, GameStop began selling new original products such as <a href="https://www.gamestop.com/candycon"
                    target="_blank">
                    Candy con controllers</a> and the <a
                    href="https://www.gamestop.com/gaming-accessories/controllers/pc/products/gamestop-raptor-8---mobile-gaming-controller-for-android-and-iphone-usb-c/20012913.html"
                    target="_blank">Raptor 8 mobile gaming controller</a>.
            </p>
            <p>In addition to the release of new original products, GameStop has also expanded into the
                <a [routerLink]="'/trading-cards'">graded trading card</a> market.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">Transformation</div>
            <p>There is growing evidence that GameStop is undergoing a transformation into a more modern, technology-focused company.
            </p>
            <p>As one example, on <a
                    href="https://www.reddit.com/r/Superstonk/comments/1ioh39j/new_job_posting_transforming_gamestop_into_a/"
                    target="_blank">a GameStop job posting for a principal software engineer that was open on February
                    13,
                    2025</a>, it
                states "GameStop is in the midst of a game-changing metamorphosis, transforming from old school into a
                modern company that is driven at its core by technology."</p>
            <p>
                It is evident that GameStop is already a different kind of company than it was just a few years ago.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>Do you remember when:</p>
                    <p>
                        Berkshire Hathaway was a textiles company?<br>
                        American Express was an express mail business?<br>
                        Nokia was a pulp mill?<br>
                        Samsung was a grocery trader?<br>
                        Marriott was a root beer stand?<br>
                        Instagram was a check-in app?<br><br>
                    </p>
                    <p>
                        I don't - businesses evolve... Other examples?<br>
                    </p>
                    <div class="quote-attribution">GameStop Director Larry Cheng
                        <span><a href="https://x.com/larryvc/status/1796186429472546983" target="_blank">May 30,
                                2024</a></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-section">
            <div class="section-heading">GameStop Investment Policy</div>
            <p>
                As legacy retail contracts, GameStop evolves into a capital allocator with a growing focus on strategic
                investments.
            </p>
            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/investment-policy'">Investment Policy</a>
            </div>
        </div>


        <div class="page-section" style="margin-bottom: 50px;"></div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>

</div>