<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            GameStop’s FY24: Stronger than ever
        </div>
        <div class="page-subtitle">
            For the second year in a row, despite store closures and reduced revenues, GameStop is net profitable with a year over year increase in profitability
        </div>
        <div class="page-date">
            March 30, 2025
        </div>

        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>GameStop's bottom line has increased nearly 500% year over year, with net income for the year estimated at $50 M</li>
                <li>GameStop continues to close stores, which is shrinking the revenue base</li>
                <li>At the same time, GameStop continues to modernize and improve its business, making more effective use of a smaller network of stores</li>
                <li>In terms of stockholders' equity, GameStop is now more valuable (at ~ $5 B) than at any time in the company's history</li>
                <li>? Financial media continues to demonstrate willful blindness towards GameStop's improving situation, and instead chooses to paint a bleak picture about GameStop's outlook</li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Year over year changes</div>
            
            <app-turnaround-table></app-turnaround-table>
        </div>

    </div>
</div>
