<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Short Interest
        </h1>
        <h5 class="page-subtitle">
            A metric that measures the (reported) number of shares sold short
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>An indicator of bearish sentiment: A high short interest suggests that many investors in the market
                    believe that the
                    stock's price will decline.</li>
                <li>Short interest is calculated by dividing the reported number of shares sold <a
                        href="https://en.wikipedia.org/wiki/Short_(finance)" target="_blank" class="external-link"
                        rel="nofollow">short</a> by the total
                    number of shares issued by the company</li>
                <li>In general, short interest above 20% is considered high</li>
                <li>For a period of time leading up to <a [routerLink]="'/sneeze'">the sneeze</a>, GME short interest
                    was notably in excess of 100%</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">GME Short Interest Exceeded 100%</div>
            <p>In 2019 the short interest of GME started to climb significantly. Through 2020 the GME short interest was
                extraordinarily high, <b>in excess of 100%</b>.
                This means that there were more shares sold short than the number of shares that were
                actually issued by
                the company.
            </p>
            <p>How is such a situation even possible?</p>
            <p>Shares of a stock in the stock market are <a href="https://en.wikipedia.org/wiki/Fungibility"
                    target="_blank" class="external-link" rel="nofollow">fungible</a> and can be lent to / borrowed by
                other market participants, and <a
                    href="https://www.interactivebrokers.com/campus/traders-insight/securities/stocks/gamestop-showed-short-interest-float-how-could-that-be/"
                    target="_blank" class="external-link" rel="nofollow">
                    the same shares can be lent and re-lent multiple times</a>. </p>
            <p>For example, an investor could own 100
                shares of a stock, then earn a fee by lending those shares out to some other market participant that
                wants to borrow them. The borrower then puts those borrowed shares up for sale (i.e. shorting the
                stock), where they are bought by
                some other buyer. Repeating this cycle creates multiple long and short positions tied to the same
                original shares. In this way, the supply of shares being traded in the market has been synthetically
                increased beyond the actual number of shares that were issued by the
                company.</p>
            <p>Due to inconsistencies across data providers, it is unclear exactly how high the GME short interest ever
                reached. According to various sources, the GME short interest was reported to be as high as <a
                    href="https://www.reuters.com/article/business/how-were-more-than-100-of-gamestops-shares-shorted-idUSKBN2AI2DC/"
                    target="_blank" class="external-link" rel="nofollow">141% </a>, <a
                    href="https://www.reddit.com/r/GME/comments/lg5o47/226_short_interest_in_gme/" target="_blank"
                    class="external-link" rel="nofollow">226% </a>, and even <a
                    href="https://www.reddit.com/r/Superstonk/comments/1nacydd/think_the_highest_ever_reported_si_on_gme_was_226/"
                    target="_blank" class="external-link" rel="nofollow">319% </a>.
            </p>
        </div>



        <div class="page-section">
            <div class="section-heading">Shorts Never Closed?</div>
            <p>The short interest of GME fell significantly after the sneeze. These days, it is reported at much more
                moderate levels (e.g. 16% in December 2025).</p>
            <p>However, among some GME shareholders, it is suspected that the actual obligations by those market
                participants who were
                short on GME stock leading in to the sneeze are actually much greater than the reported short interest;
                it is
                believed by some that <a [routerLink]="'/shorts-never-closed'">shorts never closed</a>.
            </p>
            <p>
                This is a speculative belief that is not backed by hard evidence; instead, it is suspected that
                <a [routerLink]="'/bear-faction'">those market participants that were positioned short on GME</a>
                couldn't
                have closed all of their short positions,
                rather, those obligations have been changed into something else such as <a
                    href="https://en.wikipedia.org/wiki/Swap_(finance)" target="_blank" class="external-link"
                    rel="nofollow">swaps</a>, which are not required to be reported the way that short positions are,
                and thus would not show up as short interest.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">
                See Also
            </div>


            <a href="https://chartexchange.com/symbol/nyse-gme/short-interest/" target="_blank" class="external-link"
                rel="nofollow">GME Short Interest | ChartExchange</a>

        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>