<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Bull Faction
        </h1>
        <h5 class="page-subtitle">
            The faction of market participants that are bullish on GME and have a financial interest in the price of the
            stock going up
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>There exists an ongoing <a [routerLink]="'/conflict'">conflict</a> surrounding GME where opposing
                    factions compete over the outcome of the GME market price</li>
                <li>In very loose terms, these opposing factions can be defined as <a
                        href="https://en.wikipedia.org/wiki/Market_sentiment" target="_blank" class="external-link"
                        rel="nofollow">
                        "Bears" and "Bulls"
                    </a></li>
                <li>GME Bulls are market participants that have a position that gains when the share price of GME
                    goes up, for example by owning shares or call options
                </li>
                <li>Opposed to GME Bulls are <a [routerLink]="'/bear-faction'">GME Bears</a>, who are market
                    participants that have a position that gains when the share price of GME goes down</li>
                <li>GME Bulls in general are proponents of a <a [routerLink]="'/bull-case'">bull thesis</a></li>
                <li>Some GME investors are often referred to as "apes," as a distinct entity that emerged in the
                    aftermath of the <a [routerLink]="'/sneeze'">sneeze of 2021</a></li>
            </ul>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “We have a very unique shareholder base that underwrote an investment in GameStop based on my
                        track record, whereas institutional investors have a more traditional approach to doing due
                        diligence, and a lot of that is meeting with management teams, having forward guidance,
                        everything else that public company executives do. Most of that stuff ends up not necessarily
                        being a good use of time, and my time was better spent on the actual business.
                    </p>
                    <p>

                        So, I have a lot of admiration for the retail shareholders that underwrote the investment based
                        on my precedence, and based on my alignment with shareholders in general, because I haven't got
                        paid. I haven't taken a dollar of compensation out of the company, and my investment comes from
                        buying shares in the open market. So, it's pretty special.”
                    </p>
                    <div class="quote-attribution"><a [routerLink]="'/ryan-cohen'">Ryan Cohen</a>
                    </div>
                    <div class="quote-attribution-2">
                        Interview with Amit Kukreja on YouTube
                    </div>
                    <div class="quote-attribution-2">
                        <a href="https://www.youtube.com/watch?v=ZFwEXkwen9A" target="_blank" class="external-link"
                            rel="nofollow">July 13, 2026</a>
                    </div>

                </div>
            </div>

        </div>



        <div class="page-section">
            <div class="section-heading">Members of the Bull Faction</div>
            <p>The faction of GME bulls includes all market participants that have an investment that gains when the
                market price of GME goes up.</p>
            <p>This therefore includes company insiders, such as <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a>, retail
                GME shareholders, including0 those that hold shares in <a [routerLink]="'/drs'">DRS</a>, institutions
                that are net-long on GME, and (disputably) <a [routerLink]="'/keith-gill'">Keith Gill</a>.</p>
            <p>Keith Gill is disputable because GME cynics will claim that there is no evidence of his continued
                interest in GME and may also claim that he probably sold.</p>
            <p>Some institutions may have both long and short GME positions and therefore their alignment is less clear.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">Rationale</div>
            <p>GameStop's financial standing has changed significantly since <a [routerLink]="'/turnaround'">the
                    turnaround of GameStop</a> began, and thus sentiments and valuations
                have changed over time as well.</p>
            <p>Generally, those that are invested in GME stock believe in some form of <a
                    [routerLink]="'/bull-case'">GME bull thesis</a>.</p>
            <p>Prior to the turnaround, amidst a declining stock price during GameStop's <a
                    [routerLink]="'/downfall'">downfall era</a>, some investors such as Keith Gill and Ryan Cohen
                invested in GME because they believed it was undervalued.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “Two important factors based entirely on publicly available information gave me confidence that
                        GameStop was undervalued.
                    </p>

                    <p>
                        First, the market was underestimating the prospects of GameStop’s legacy business and
                        overestimating the likelihood of bankruptcy. I grew up playing video games and shopping at
                        GameStop, and I plan to continue shopping there. GameStop stores still provide real value to
                        consumers and reliable revenue for GameStop.
                    </p>

                    <p>
                        Second, I believed that GameStop had the potential to reinvent itself as the ultimate
                        destination for gamers within the rapidly growing $200 billion gaming industry. GameStop had a
                        unique opportunity to pivot toward a technology-driven business by embracing the digital
                        economy. GameStop might be able to find new revenue streams that vastly exceed the value of its
                        current business.”
                    </p>
                    <div class="quote-attribution"> Keith Gill <a href="https://www.youtube.com/watch?v=OARREl39syQ"
                            target="_blank" class="external-link" rel="nofollow" style="margin-left: 4px;"> February 18,
                            2021</a>
                    </div>

                </div>
            </div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “I invested in GameStop because I thought it was cheap. I thought the intrinsic value of the
                        business was worth more than the price that I paid, there was a tremendous amount of skepticism
                        around GameStop and those are the things that I like.
                        I like looking at things where no one is looking at them. Those are usually some of the best
                        opportunities.”
                    </p>
                    <div class="quote-attribution"> GameStop CEO Ryan Cohen <a [routerLink]="'/rc-interview'">November
                            2022</a>
                    </div>

                </div>
            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">Retail Shareholders, Sometimes Referred to as "Apes"</div>
            <p>
                Prior to and after <a [routerLink]="'/sneeze'">the sneeze</a>, hundreds of thousands of retail investors
                bought shares of GME.
            </p>
            <p>
                While some number of those retail shareholders certainly sold their GME and left after the sneeze, many
                have remained ever since.
            </p>
            <p>
                Due to a lack of transparency, it is difficult to know how many individual investors are holding shares
                of GME in street name — that is, shares not <a [routerLink]="'/drs'">directly registered</a> but held in
                brokerage accounts. For example, while in the USA the <a
                    href="https://en.wikipedia.org/wiki/Depository_Trust_Company" target="_blank" class="external-link"
                    rel="nofollow">DTC</a>, which is responsible for managing electronic records of stock ownership,
                does not share any data publicly that would reveal how many individual investors hold shares of GME.
            </p>
            <p>
                What can be known clearly is the number of shares that are directly registered, as this number is
                reported by GameStop, and data from the <a href="https://www.drsgme.org/2025-stockholder-list-viewing"
                    target="_blank" class="external-link" rel="nofollow">2025 viewing of the GameStop stockholder
                    list</a> shows that there are approximately 190,000 individuals with registered shares.
            </p>
            <p>
                While it cannot be easily confirmed precisely, it is generally safe to assume that there are
                far more individuals holding in brokerage accounts than hold in <a [routerLink]="'/drs'">DRS</a>,
                considering that holding shares in
                brokerage accounts is the default way of doing so, and also that in the <a
                    [routerLink]="'/ownership'">ownership pie chart</a> there are far more "remainder" shares than those
                in DRS.
            </p>
            <p>
                In any case, it can be seen that of all those shares that were ever DRS'ed in 2021 and 2022, the large
                majority of them (> 80%) remain in DRS, indicating that those shareholders have been continuously
                holding GME since that time, demonstrating the long-term conviction those shareholders have in GME even
                as the stock price has depreciated since its 2021 peaks.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">Investment Cult</div>
            <p>Some that are cynical of GME investors sometimes refer to determined long-term GME shareholders as <a
                    [routerLink]="'/meme-stock'">"cultists", or investors in a "cult stock."</a> </p>
            <p>This rhetoric is used to disparage and discredit those investors by insinuating that they are not
                operating with a valid <a [routerLink]="'/bull-case'">investment thesis</a>, but rather are driven by
                delusional, conspiratorial beliefs.</p>
        </div>



        <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Market_sentiment" target="_blank" class="external-link"
                    rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Market sentiment - Wikipedia
                </a>

            </div>
        </div>



    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>