<div class="choose-chart-root">


    <div class="dropdown-menus">
        <app-custom-dropdown-menu [menu]="chartMenu"
            (menuItemSelected)="onSelectChartMenuItem($event)"></app-custom-dropdown-menu>
        <span>by</span>
        <app-custom-dropdown-menu [menu]="periodMenu"
            (menuItemSelected)="onSelectPeriod($event)"></app-custom-dropdown-menu>
    </div>




    <!-- <app-chart-export>
        <div class="section-heading" chart-title>
            {{ chartTitle }}
        </div>

        <div chart-container class="earnings-chart-container">
            <app-earnings-chart *ngIf="!isLoading && isBrowser"></app-earnings-chart>
            <div class="watermark no-select">
                gmewiki.org
            </div>
        </div>
    </app-chart-export> -->

</div>