<div class="choose-chart-root">

    <div class="section-heading" *ngIf="!isMobile && menuIsHidden">
        <span>GameStop</span>
        <!-- <span>{{ chartTitle }}</span> -->
        <app-custom-dropdown-menu [menu]="chartMenu"
            (menuItemSelected)="onSelectChartMenuItem($event)"></app-custom-dropdown-menu>
        <span>by</span>
        <app-custom-dropdown-menu [menu]="periodMenu"
            (menuItemSelected)="onSelectPeriod($event)"></app-custom-dropdown-menu>
        <span></span>
    </div>
    <div class="section-heading-mobile" *ngIf="isMobile && menuIsHidden">
        <div class="heading-row">
            GameStop
        </div>
        <div class="heading-row">

            <app-custom-dropdown-menu [menu]="chartMenu"
                (menuItemSelected)="onSelectChartMenuItem($event)"></app-custom-dropdown-menu>
        </div>
        <div class="heading-row">
            by
            <app-custom-dropdown-menu [menu]="periodMenu"
                (menuItemSelected)="onSelectPeriod($event)"></app-custom-dropdown-menu>
        </div>
    </div>
    <div class="section-heading" *ngIf="!menuIsHidden">
        GameStop {{ chartMenu.currentMenuItem }} by {{ periodMenu.currentMenuItem }}
    </div>

    <!-- <div *ngIf="isLoading && isBrowser" style="height: 650px; background-color: rgba(255, 255, 255, 0); width: 100%;" ></div> -->
    <app-earnings-chart class="earnings-chart-container" *ngIf="!isLoading && isBrowser"></app-earnings-chart>
    <div class="options-button-container">
        <button class="options-button" (click)="onClickHideChartMenus()">{{hideShowMenus}} Chart Menus</button>
    </div>
</div>