<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GameStop Stores
        </h1>
        <h5 class="page-subtitle">
            GameStop continues to close stores as part of ongoing efforts to improve the financial health of the company
        </h5>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>At its peak, GameStop had approximately 7,500 stores in 2016</li>
                <li>Since 2016, GameStop has reduced the total number of stores every year</li>
                <li>As of <a [routerLink]="'/fy25'">fiscal year 2025 results</a>, GameStop had <b>2,206 stores</b></li>
            </ul>
        </div>


        <div class="page-section" *ngIf="isBrowser">
            <div class="section-heading">Store Count by Fiscal Year</div>
            <app-stores-chart></app-stores-chart>
        </div>

        <div class="page-section">
            <div class="section-heading">Store Fleet Optimization</div>
            <p>According to GameStop's <a
                    href="https://www.sec.gov/Archives/edgar/data/1326380/000132638026000013/gme-20260131.htm"
                    target="_blank" class="external-link" rel="nofollow">fiscal
                    year 2025 10-K form</a>, "Each year,
                we conduct a comprehensive review of our store portfolio to identify underperforming locations for
                closure based on market conditions, operational performance, and other relevant factors. This review
                resulted in the closure of 727 stores in the United States during fiscal 2025. <b>At this time, we do
                    not
                    anticipate closing a significant number of stores in fiscal 2026</b>, as our domestic store
                footprint
                remains a core component of our logistics infrastructure strategy."</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        The first quarter of 2025 was our first profitable first quarter since 2019.
                    </p>
                    <p>
                        It's the results of cutting costs, reducing excess inventory, streamlining headcount, <b>closing
                            unprofitable stores</b>, exiting under-performing geographies, and focusing on the core
                        fundamentals
                        of
                        the business.
                    </p>

                    <div class="quote-attribution">
                        GameStop CEO Ryan Cohen

                    </div>
                    <div class="quote-attribution-2">2025 Annual Meeting of Stockholders</div>
                    <span class="quote-attribution-2"><a
                            href="https://www.reddit.com/r/GME/comments/1l9ozu2/ryan_cohens_statements_from_the_gamestop_corp/"
                            target="_blank" class="external-link" rel="nofollow">June 12, 2025</a></span>
                </div>
            </div>

            <p>In line with <a [routerLink]="'/turnaround'">GameStop's turnaround efforts</a>, the company has continued
                to close stores through fiscal year 2025.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        With respect to retail operations, we plan to continue reducing costs and focusing on
                        profitability... This means <b>a smaller network of stores</b> with an expanded assortment of
                        higher
                        value
                        items that fit
                        into our trade-in model.
                    </p>
                    <div class="quote-attribution">
                        GameStop CEO Ryan Cohen

                    </div>
                    <div class="quote-attribution-2">2024 Annual Meeting of Stockholders</div>
                    <span class="quote-attribution-2"><a class="external-link"
                            href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                            target="_blank" rel="nofollow">June 17, 2024</a></span>
                </div>
            </div>


        </div>


        <div class="page-section">
            <div class="section-heading">Stores by Country</div>
            <p>GameStop used to operate stores in over 15 countries. Over the last 10+ years, GameStop has closed most
                of their international locations.</p>
            <p>Presently, GameStop operates stores in the following countries:</p>
            <ul>
                <li>USA 🇺🇸 (1,598 stores)</li>
                <li>France 🇫🇷 (308 stores, actively pursuing sale of French operations)</li>
                <li>Australia 🇦🇺 (300 stores)</li>

            </ul>
            <p>In the past, GameStop has operated in the following countries:</p>
            <ul>
                <li>Austria (ended FY 2023)</li>
                <li>Canada (ended FY 2025)</li>
                <li>Denmark (ended FY 2020)</li>
                <li>Finland (ended FY 2020)</li>
                <li>Germany (ended FY 2024)</li>
                <li>Ireland (ended FY 2023)</li>
                <li>Italy (ended FY 2024)</li>
                <li>New Zealand (ended FY 2025)</li>
                <li>Norway (ended FY 2020)</li>
                <li>Portugal (ended FY 2012)</li>
                <li>Spain (ended FY 2014)</li>
                <li>Sweden (ended FY 2020)</li>
                <li>Switzerland (ended FY 2023)</li>
                <li>United Kingdom (ended FY 2012)</li>
            </ul>
        </div>
        <div class="page-section" style="margin-bottom: 50px;"></div>
    </div>


    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>


</div>