<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            January 2021 GME Sneeze
            <!-- aka:  Meme Stock Market Event according to House report -->
        </div>
        <div class="page-subtitle">
            Something unprecendented happened. Wall Street responded drastically.
        </div>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>In the years preceding 2021, GameStop was a struggling company that was often viewed as <a
                        href="https://www.fool.com/investing/2020/02/22/is-gamestop-headed-for-bankruptcy.aspx"
                        target="_blank">likely heading towards bankruptcy</a></li>
                <!-- <li>In the second half of 2020, the share price of GME began trending upward after years of decline</li> -->
                <li><a href="https://en.wikipedia.org/wiki/Keith_Gill" target="_blank">Keith Gill,</a> known on YouTube
                    as <a href="https://www.youtube.com/c/roaringkitty" target="_blank">RoaringKitty</a>, and on Reddit
                    as <a href="https://www.reddit.com/user/DeepFuckingValue/" target="_blank">DeepFuckingValue</a>,
                    began investing in GME in 2019, and shared his investing thesis and position on these social media
                    platforms
                </li>
                <li>In the second half of 2020, <a href="https://en.wikipedia.org/wiki/Ryan_Cohen" target="_blank">Ryan
                        Cohen</a> began purchasing shares of GME, becoming the largest owner of GME with approximately
                    13% ownership of the company at the time</li>
                <li>As the share price of GME began rising in the second half of 2020, GME started to gain attention on
                    social media platforms, causing more investors to purchase shares of GME, causing the price to
                    continue to go up, in a continuous feedback loop</li>
                <li>In January 2021, the share price of GME was rising exponentially</li>
                <li>On January 28, 2021, in an unprecedented maneuver, most stock brokers, in unison, disabled the
                    ability for investors to purchase shares of GME</li>
                <li>According to the
                    <a href="https://www.sec.gov/files/staff-report-equity-options-market-struction-conditions-early-2021.pdf"
                        target="_blank">
                        SEC Staff Report on Equity and Options Market Structure Conditions in Early 2021
                    </a>,
                    "it was the positive sentiment, not the buying-to-cover, that sustained the weeks-long price
                    appreciation of GameStop stock."
                </li>
                <li>
                    In June 2022, the U.S. House Committee on Financial Services published the report
                    <a
                        href="https://democrats-financialservices.house.gov/uploadedfiles/6.22_hfsc_gs.report_hmsmeetbp.irm.nlrf.pdf">Game
                        Stopped: How the Meme Stock Market Event Exposed Troubling Business Practices, Inadqueate Risk
                        Management, and the Need for Legislative and Regulatory Reform</a>
                    <ul>

                        <li>As a multitude of financial institutions faced untenable risk, "several stock trading
                            platforms restricted
                            trading on meme stocks as an emergency risk management tactic" </li>
                        <li>
                            "These restrictions and outages
                            placed downward pressure on meme stocks."
                        </li>
                    </ul>
                </li>
                <li>
                    In September 2023, the movie <a href="https://en.wikipedia.org/wiki/Dumb_Money" target="_blank">Dumb
                        Money</a> was released, providing a dramatized story of this peculiar stock market event
                </li>
                <!-- <li>While the media placed most of the blame on Robinhood, according to the June 2022  the institution with the
                    largest excess capital premium charges was Instinet, LLC </li> -->
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">
                Sneeze versus squeeze
            </div>
            <p>Were the events of January 2021 a short squeeze?</p>
            <p>Various sources, and ultimately the commonly found consensus is that in January 2021, there was
                definitively a short squeeze of GME. That, the thing that happened to GME was a short squeeze, it was an
                event in history that happened, those parties that held a GME short position got squoze, then it ended
                and it was all over.</p>
            <p>For example, the Wikipedia article <a href="https://en.wikipedia.org/wiki/GameStop_short_squeeze"
                    target="_blank">GameStop short squeeze</a> plainly asserts that a short squeeze took place.
                The investopedia.com article <a href="https://www.investopedia.com/terms/s/shortsqueeze.asp"
                    target="_blank">short squeeze</a> has a section about the "GameStop short squeeze," and also asserts
                plainly that such an event did happen.
            </p>
            <p>In cases like this, the implication is that the events of January 2021 pertaining to GME amount now to a
                historical episode that happened, then it ended, and now it is over.
                Yet, oftentimes, like in both of the information sources provided above, the magnitude of the situation
                is downplayed, and the severity of the actions taken is glossed over, such as when a multitude of market participants acting
                in unison to turn off the buy button for GME and other stocks.
                The action of disabling purchasing of stock for several days across most major stock brokerages provided
                a major break and advantage for those that were positioned short on GME. It was an unprecedented
                maneuver in response to a dramatic situation.
            </p>

            <p>GME shareholders often assert that <b>shorts never closed</b>. This view is based on the belief that
                short sellers opened GME short positions years prior to the run in January 2021. In those earlier times,
                the share price of GME was so low compared to the prices during and after the sneeze, that those parties
                holding that short position <b>could not afford to close their short position</b>, and therefore never did.

            </p>
            <p>On January 27, 2021, CNBC ran an article stating that <a
                    href="https://www.cnbc.com/2021/01/27/hedge-fund-targeted-by-reddit-board-melvin-capital-closed-out-of-gamestop-short-position-tuesday.html"
                    target="_blank">
                    Melvin Capital, hedge fund targeted by Reddit board, closes out of GameStop short position
                </a>. CNBC curiously even <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/l8539h/cnbc_now_running_ads_promoting_that_melvin/">ran
                    ads</a> on Twitter and likely elsewhere, announcing this breaking news.
                If any hedge fund made a significant move one way or the other in a situation like this, why would they
                go to the media and announce it to the world? And why would the media run ads to further promote this
                announcement?
            </p>
            <p>
                On February 2, 2021, Mark Cuban went to the r/WallStreetBets subreddit to have <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/lawubt/hey_everyone_its_mark_cuban_jumping_on_to_do_an/"
                    target="_blank">an AMA discussion about GME</a>. In this conversation, Mark <a href="https://www.reddit.com/r/wallstreetbets/comments/lawubt/comment/glqndlx/" target="_blank">stated</a>: "<b>Their goal
                    is to never cover their short</b>. But that would take the company going out of business or being
                delisted. That wont happen here."
                This conversation with Mark Cuban further solidified in the minds of some GME investors the notion that
                shorts never closed.</p>

            <p>Further evidence that shorts did not close can be inferred from FTD data which remains curiously elevated.</p>

            <p>In conclusion, many GME shareholders hold the view that GME <b>did not</b> have a proper short squeeze of GME in January
                2021, because the episode was prematurely interrupted when the market participants prevented further
                purchasing of GME shares, to the advantage of those market participants that held a GME short position.  For this reason, this event is often referred to as the GME "sneeze" by GME shareholders, and not a short squeeze.</p>

        </div>




    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-fixed"></app-footer>


</div>