<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Mergers and Acquisitions
        </h1>
        <h5 class="page-subtitle">
            “It’s gonna be really big. Really big. Very, very, very big.”
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>In <a href="https://www.cnbc.com/2026/01/30/gamestop-ceo-ryan-cohen-targets-consumer-mega-deal.html"
                        class="external-link" target="_blank" rel="nofollow">
                        a January 2026 interview with CNBC
                    </a>, <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> publicly revealed that GameStop intends on
                    carrying out a transformational acquisition</li>
                <li>While there has been much speculation about the potential targets, it is not publicly known which
                    companies GameStop is looking at</li>
                <li>Investment bankers that discussed this with CNBC have expressed skepticism towards this "herculean
                    task"</li>
                <li>Potential mergers and / or acquisitions represent a component of the <a
                        [routerLink]="'/reinvention'">reinvention phase of GameStop</a> </li>
                <li>In May 2026, it was reported by The Wall Street Journal and other sources that GameStop is
                    preparing an offer to acquire eBay</li>
            </ul>


        </div>

        <div class="page-section">
            <div class="section-heading">Transformation and Reinvention</div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>“It’s gonna be really big. Really big. Very, very, very big.”</p>
                    <p>...</p>
                    <p>
                        “It’s similar to Berkshire Hathaway, except what Berkshire did in decades we’re attempting to do
                        in a much shorter time in terms of creating that much value.”
                    </p>
                    <p>
                        “We can go in there and apply the Chewy and [GameStop] mindset of like brutal efficiency and
                        increase the profitability of the company very, very quickly and so we could capture a lot more
                        value by focusing on this under optimized asset, and then eventually we could move on to the
                        next one, but, you know, we’ll see what happens.”
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.cnbc.com/2026/01/30/gamestop-ceo-ryan-cohen-targets-consumer-mega-deal.html"
                                target="_blank" class="external-link" rel="nofollow">January 30, 2026</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">eBay</div>
            <p>On May 1st, 2026, The Wall Street Journal <a href="https://archive.is/7CK7v" target="_blank"
                    class="external-link" rel="nofollow">broke the news</a> that GameStop is preparing an offer to
                acquire eBay.</p>
            <p>This news was met with mixed reactions across social media, including bewilderment about how GameStop,
                the much smaller company valued at around $12 billion in market capitalization at the time, could
                possibly acquire a much larger company, eBay, valued at over $40 billion in market capitalization.</p>
            <p>On May 3rd, The Wall Street Journal published a followup article, <a href="https://archive.is/7CK7v"
                    target="_blank" class="external-link" rel="nofollow">GameStop Is Offering to Buy eBay for $56
                    Billion, CEO Ryan Cohen Says</a> which
                included statements from Ryan Cohen.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “There is nobody who is more qualified, based on my experience, to run the eBay business”
                    </p>
                    <p>...</p>
                    <p>“EBay should be worth—and will be worth—a lot more money ... I’m
                        thinking about turning eBay into something worth hundreds of billions of dollars.”</p>
                    <p>...</p>
                    <p>“It could be a legit competitor to Amazon”</p>
                    <p>...</p>
                    <p>“I’m going to be as focused on eBay and as personally involved as I have been in the GameStop
                        turnaround for the next few years.”</p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a href="https://archive.is/agKeM" target="_blank"
                                class="external-link" rel="nofollow">May 3, 2026</a></div>
                    </div>
                </div>
            </div>
            <p>On May 4, Ryan Cohen gave <a
                    href="https://www.reddit.com/r/Superstonk/comments/1t3fa8s/full_interview_with_rc_on_cnbc/"
                    target="_blank" class="external-link" rel="nofollow">an interview with CNBC</a> which included some
                awkward and testy interactions.</p>
            <p>For official information from GameStop about eBay, please visit <a
                    href="https://investor.gamestop.com/ebay/" target="_blank" class="external-link"
                    rel="nofollow">investor.gamestop.com/ebay</a>.</p>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>