<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Mergers and Acquisitions
        </h1>
        <h5 class="page-subtitle">
            “It’s gonna be really big. Really big. Very, very, very big.”
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>In <a href="https://www.cnbc.com/2026/01/30/gamestop-ceo-ryan-cohen-targets-consumer-mega-deal.html"
                        class="external-link" target="_blank" rel="nofollow">
                        a January 2026 interview with CNBC
                    </a>, <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> publicly revealed that GameStop intends on
                    carrying out a transformational acquisition</li>
                <li>While there has been much speculation about the potential targets, it is not publicly known which
                    companies GameStop is looking at</li>
                <li>Investment bankers that discussed this with CNBC have expressed skepticism towards this "herculean
                    task"</li>
                <li>Potential mergers and / or acquisitions represent a component of the <a
                        [routerLink]="'/reinvention'">reinvention phase of GameStop</a> </li>
                <li>In May 2026, GameStop formally <a [routerLink]="'/ebay'">proposed an offer to acquire eBay</a></li>
            </ul>


        </div>

        <div class="page-section">
            <div class="section-heading">Transformation and Reinvention</div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>“It’s gonna be really big. Really big. Very, very, very big.”</p>
                    <p>...</p>
                    <p>
                        “It’s similar to Berkshire Hathaway, except what Berkshire did in decades we’re attempting to do
                        in a much shorter time in terms of creating that much value.”
                    </p>
                    <p>
                        “We can go in there and apply the Chewy and [GameStop] mindset of like brutal efficiency and
                        increase the profitability of the company very, very quickly and so we could capture a lot more
                        value by focusing on this under optimized asset, and then eventually we could move on to the
                        next one, but, you know, we’ll see what happens.”
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.cnbc.com/2026/01/30/gamestop-ceo-ryan-cohen-targets-consumer-mega-deal.html"
                                target="_blank" class="external-link" rel="nofollow">January 30, 2026</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">eBay</div>
            <p>In May 2026, GameStop formally <a [routerLink]="'/ebay'">proposed an acquisition of eBay</a>.</p>
            <ul>
                <li>On May 3, 2026, GameStop formally proposed to purchase eBay for approximately <b>$56 billion</b>
                </li>
                <li>On May 12, 2026, eBay formally rejected the proposal, calling it ‘<b>neither credible nor
                        attractive</b>.’

                </li>
                <!-- <li>For official information from GameStop about eBay, please visit <a
                        href="https://investor.gamestop.com/ebay/" target="_blank" class="external-link"
                        rel="nofollow">investor.gamestop.com/ebay</a></li> -->
            </ul>

            <div class="quote-section-container">
                <div class="quote-section">

                    <p>“The more [eBay] fights me, the more . . . I’m not going to take no for an answer. I’m not going
                        away. I’m a pain in the ass.”</p>

                    <div class="quote-attribution">GameStop CEO Ryan Cohen</div>
                    <div class="quote-attribution-2">
                        <div style="margin-left: 10px;"><a href="https://archive.is/4NNjI" target="_blank"
                                class="external-link" rel="nofollow">May 8, 2026 comments with the Financial Times</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>