<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Ryan Cohen
        </h1>
        <h5 class="page-subtitle">
            CEO and Chairman of the GameStop Board of Directors
        </h5>
        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Largest individual shareholder of GameStop since 2020</li>
                <li>Chairman of the board of directors since June 2021</li>
                <li>CEO of GameStop since September 2023</li>
                <li>Led the successful <a [routerLink]="'/turnaround'">turnaround of GameStop</a></li>
            </ul>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        No fancy promises, no road shows, no pandering.

                        Just a focus on efficiency, and long-term alignment with our owners the shareholders.
                    </p>
                    <div class="quote-attribution">
                        Ryan Cohen

                    </div>
                    <div class="quote-attribution-2">
                        2025 Annual Meeting of Stockholders
                    </div>
                    <div class="quote-attribution-2">
                        <a href="https://www.reddit.com/r/GME/comments/1l9ozu2/ryan_cohens_statements_from_the_gamestop_corp/"
                            target="_blank" class="external-link" rel="nofollow">June 12, 2025</a>
                    </div>
                </div>
            </div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We're not going to call our shots in advance, for obvious reasons, but GameStop is following
                        GameStop's strategy. We're not following anyone else's strategy.
                    </p>
                    <div class="quote-attribution">
                        Ryan Cohen
                    </div>
                    <div class="quote-attribution-2">
                        Bitcoin Conference 2025 Interview with David Bailey
                    </div>
                    <div class="quote-attribution-2">
                        <a href="https://x.com/gamestop/status/1927770418959577147" target="_blank"
                            class="external-link" rel="nofollow">May 28, 2025</a>
                    </div>
                </div>
            </div>





            <div class="quote-section-container">
                <div style="display: flex;flex-direction: row; width: 100%; justify-content: center;">
                    <div class="quote-section" style="flex-grow: 2;">
                        <p>
                            We are focused on building shareholder value over the long term.
                        </p>
                        <div class="quote-attribution">
                            Ryan Cohen

                        </div>
                        <div class="quote-attribution-2">
                            2024 Annual Meeting of Stockholders
                        </div>
                        <div class="quote-attribution-2">
                            <a href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/"
                                target="_blank" class="external-link" rel="nofollow">June 17, 2024</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="page-section"
            style="width:100%; max-width: 100%; display:flex; flex-direction:column; align-items: center; padding: 0px;"
            *ngIf="isBrowser">
            <div *ngIf="!isMobile" style="max-width: 650px;">
                <app-image-carousel [carousel]="rcCarousel" [maxWidth]="400"></app-image-carousel>
                <!-- <img [src]="rcImagePaths[0]" alt="" style="width: 100%;"> -->
                <!-- <img *ngFor="let imagePath of rcImagePaths" [src]="imagePath" alt="" style="width: 100%;"> -->
            </div>
            <div *ngIf="isMobile" style="max-width: 100%;">
                <app-image-carousel [carousel]="rcCarousel" [maxWidth]="screenWidth"></app-image-carousel>
            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">At GameStop</div>
            <p>Ryan Cohen began buying shares of GME while GameStop was <a [routerLink]="'/downfall-era'">a struggling
                    company</a>, stating in <a href="https://x.com/michaeljburry/status/1994073614325273079"
                    target="_blank" class="external-link" rel="nofollow">an April 2019 email</a> to <a
                    [routerLink]="'/michael-burry'">Michael Burry</a> that he was "a large holder of GameStop."</p>
            <p>By August of 2020, Ryan Cohen became the largest individual shareholder of GME with an approximately 9%
                stake of the company at that time.</p>
            <p>Negotiating with the then-board of directors, Ryan Cohen received board seats and eventually ascended to
                the position of chairman of the GameStop board of directors in June 2021. At that time, the board of
                directors was completely replaced by Ryan Cohen and other members who he had a working history with.</p>
            <p>The company at that time was losing hundreds of millions of dollars per year and had a poor outlook. The
                <a [routerLink]="'/turnaround'">turnaround of the company</a> had begun.
            </p>
            <p>In September 2023, Ryan Cohen became the CEO of the company.</p>
            <p>By <a [routerLink]="'/fy25'">fiscal year 2025 results</a>, GameStop was operationally profitable for the
                first time in 8 years, had
                the highest stockholders' equity in the history of the company, and had its most profitable year in the
                history of the company. The turnaround efforts have been successful.</p>
        </div>


        <div class="page-section">
            <div class="section-heading">Compensation</div>
            <p>At GameStop, Ryan Cohen does not receive a salary, cash bonuses, or stock.</p>
            <p>In January 2026, the board of directors announced a proposal for a <a
                    href="https://investor.gamestop.com/news-releases/news-details/2026/GameStop-Announces-Long-Term-Performance-Award-for-Ryan-Cohen/default.aspx"
                    target="_blank" class="external-link" rel="nofollow">long-term performance award for Ryan Cohen</a>.

            </p>
            <ul>
                <li>The propsal is designed to incentivize extraordinary growth and performance of the company as well
                    as long term commitment by Ryan Cohen</li>
                <li>The award is 100% “at-risk”: Cohen receives no guaranteed salary, cash bonuses, or time-vested stock
                    — he only benefits if the company meets defined performance targets</li>
                <li>The award consists of the option to purchase up to 171M shares at an exercise price of $20.66 per
                    share, structured
                    in nine tranches that vest only if both market cap and profitability goals are achieved</li>
                <li>This proposal is subject to the approval of GameStop’s
                    stockholders, who will be asked to approve it at the annual shareholder meeting</li>
            </ul>

            <!-- https://www.businesswire.com/news/home/20260107051945/en/GameStop-Announces-Long-Term-Performance-Award-for-Ryan-Cohen -->
        </div>

        <div class="page-section">
            <div class="section-heading">Business Philosophy</div>
            <p>Through various interviews and public posts, Ryan Cohen expresses his business philosophy and view of
                Corporate America.</p>
            <p>Ryan Cohen consistently expresses support for the alignment of interests between shareholders and
                corporate leaders — that directors and CEOs should share the risks with their shareholders by having a
                personal
                financial stake in the business.</p>
            <p>In <a href="https://x.com/ryancohen/status/2024203261830447185" target="_blank" class="external-link"
                    rel="nofollow">a February 18, 2026 polemic titled "The Hollow Men,"</a> Ryan Cohen criticizes the
                culture and behavior of modern Corporate America and urges a return of the "Owner's Mentality," where
                "leaders treat shareholder capital with the same reverence they treat their own savings."</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Interviews and Media Appearances</div>
            <ul>
                <li>
                    2026
                    <ul>
                        <li>Regarding the <a [routerLink]="'/ebay'">proposed acquisition
                                of eBay</a>
                            <ul>
                                <li>May 9: <a href="https://www.youtube.com/watch?v=C1ij2nQymtA" class="external-link"
                                        rel="nofollow" target="_blank">Interview with Justin Resells on YouTube</a></li>
                                <li>May 9:
                                    <a href="https://web.archive.org/web/20260509105533/https://www.businessinsider.com/gamestop-ryan-cohen-explains-why-hes-serious-about-ebay-2026-5"
                                        class="external-link" rel="nofollow" target="_blank">Commentary with Business
                                        Insider</a>
                                </li>
                                <li>
                                    May 8: <a href="https://archive.is/4NNjI" class="external-link" rel="nofollow"
                                        target="_blank">Commentary with the Financial Times</a>
                                </li>
                                <li>May 5: <a
                                        href="https://www.reddit.com/r/Superstonk/comments/1t4swpn/great_interview_w_ryan_cohen_by_tbpn/"
                                        class="external-link" rel="nofollow" target="_blank">Interview with TBPN
                                        Business</a></li>
                                <li>May 5: <a
                                        href="https://www.reddit.com/r/Superstonk/comments/1t4o8zu/full_ryan_cohen_interview/"
                                        class="external-link" rel="nofollow" target="_blank">Interview with Charles
                                        Payne on Fox
                                        Business</a></li>
                                <li>May 4: <a
                                        href="https://www.reddit.com/r/Superstonk/comments/1t3fa8s/full_interview_with_rc_on_cnbc/"
                                        target="_blank" class="external-link" rel="nofollow">Interview with CNBC</a>
                                </li>
                                <li>May 3: <a href="https://archive.is/agKeM" target="_blank" class="external-link"
                                        rel="nofollow">Statements to the WallStreetJournal</a></li>
                            </ul>
                        </li>


                        <li><a href="https://www.cnbc.com/2026/01/30/gamestop-ceo-ryan-cohen-targets-consumer-mega-deal.html"
                                class="external-link" rel="nofollow" target="_blank">January 30 interview with CNBC</a>
                            regarding potential acquisitions
                        </li>
                    </ul>
                </li>
                <li>
                    2025
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=UVSGKY4X018" target="_blank" class="external-link"
                                rel="nofollow">October 20 interview with TBPN</a></li>
                        <li><a href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                                target="_blank" class="external-link" rel="nofollow">July 15 interview with Charles
                                Payne on Fox
                                Business</a></li>
                        <li><a href="https://www.reddit.com/r/Superstonk/comments/1m0fitk/ryan_cohen_on_cnbc_july_15_2025/"
                                target="_blank" class="external-link" rel="nofollow">July 15 interview with Andrew
                                Sorkin on
                                CNBC</a></li>
                        <li><a href="https://x.com/gamestop/status/1927770418959577147" target="_blank"
                                class="external-link" rel="nofollow">May 28 interview with
                                David Bailey from BTC Inc.</a></li>
                    </ul>
                </li>

                <li>
                    2022
                    <ul>
                        <li><a [routerLink]="'/rc-interview'">November 20 interview with Joe
                                Fonicello of
                                GMEdd.com</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Before GameStop</div>
            <p>Ryan Cohen built <a href="https://en.wikipedia.org/wiki/Chewy_(company)" target="_blank"
                    class="external-link" rel="nofollow">Chewy</a> into the top online pet retailer, sold it for $3.35
                billion in 2017.</p>
        </div>


        <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Ryan_Cohen" target="_blank" class="external-link" rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Ryan Cohen - Wikipedia
                </a>

            </div>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>