<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Financial Conflict
        </h1>
        <h5 class="page-subtitle">
            Factions with opposing interests continue to compete over the outcome of GME
        </h5>


        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Financial conflicts can exist when 2 or more factions with <b>opposing financial interests</b>
                    compete on a particular financial or market outcome

                </li>
                <li>There apparently exists an ongoing financial conflict over the share price of GME
                    <ul>
                        <li>One side, <b>GME short sellers</b>,
                            also known as "shorts" or "bears", benefits financially <span>when the
                                price of GME goes down</span></li>
                        <li>The other side, <b>GME shareholders</b>, also known as "bulls", benefits financially
                            <span>when the price of GME goes up</span>
                        </li>
                    </ul>
                </li>
                <li>As the conflict has evolved, so too have the competing narratives put forth by both sides</li>
                <li>The conflict ends when one side capitulates, willingly, or because they can no longer afford to
                    maintain their
                    position, e.g.:
                    <ul>
                        <li>
                            GME shareholders could lose faith in their investment and sell their shares, which would
                            contribute to downward GME price movement in sufficient quantities
                        </li>
                        <li>
                            GME short sellers could lose faith in their short position, or their ability to continue to
                            hold their short position, and then close it, which would contribute to upward GME price
                            movement in sufficient quantities
                        </li>
                    </ul>
                </li>
                <li>It remains unclear what specific outcome can be expected in either direction, and in what kind of
                    time frame.
                    However, something that is clear is that GameStop is at no risk of bankruptcy for the foreseeable
                    future</li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">GameStop’s Downfall: The Beginning of the Conflict</div>
            <p>For a <a [routerLink]="'/downfall'">period of time, approximately 2018 through 2020</a>, GameStop was a
                struggling company in a weak position, and looked very much like it could be headed towards bankruptcy.
            </p>
            <p>Some hedge funds opened GME short positions because they believed the company’s
                fundamentals did not justify its stock price and that its value would decline over time. </p>

            <p>GameStop was widely seen as a struggling brick-and-mortar retailer in an industry
                increasingly shifting toward digital sales and subscription-based gaming services. This combined with
                declining revenue,
                store closures, and challenges adapting to new gaming trends made it an attractive target for short
                sellers. </p>
            <p>Some hedge funds assessed GameStop’s financials and market position, and concluded that the
                company was overvalued and that shorting the stock could be a profitable strategy, marking the beginning
                of this financial conflict.
            </p>
            <p>Of note, for a period of time, GME <a [routerLink]="'/short-interest'">short interest</a> exceeded 140%
                of the number of shares in the public float.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Opposition by GME Investors</div>
            <p>Prior to 2021, some keen investors observing GME, such as <a [routerLink]="'/keith-gill'">Keith Gill</a>,
                saw the opposite view of GME short sellers, that GME was undervalued and over-shorted, and took a
                counter-position by investing in GME.</p>
            <p>A social media phenomenon grew around Keith Gill's view of GME, and eventually hundreds of thousands of
                retail investors began buying shares of GME, driving the price up.</p>
            <p>During this same time period, in late 2020, <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> began buying
                significant amounts of GME shares, contributing to upwards GME price movement. Ryan Cohen later stated
                in <a [routerLink]="'/rc-interview'">a 2022 interview with
                    GMEdd.com</a>:
            </p>
            <div class="quote-section">
                "I invested in GameStop because I
                thought it was cheap. I thought the intrinsic value of the business was worth more than the price that I
                paid, there was a tremendous amount of skepticism around GameStop and those are the things that I like.
                I like looking at things where no one is looking at them. Those are usually some of the best
                opportunities. "
            </div>

            <p>Eventually, the relentless buying pressure from enthusiastic retail investors culminated in the <a
                    [routerLink]="'/sneeze'">GME sneeze</a>, a significant event which drew a large amount of attention
                towards GME and marked a turning point in the conflict.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Competing Narratives</div>
            <p>As a consequence of competing financial interests, there are competing narratives around GME.

            </p>
            <p>A general narrative put forth by bearish GME short sellers with a vested interest in the share price of
                GME going down
                is that GameStop is a dying brick-and-mortar retailer with an outdated business model, and is ultimately
                destined for bankruptcy.
            </p>
            <p>A general narrative put forth by bullish GME investors with a vested interest in the share price of GME
                going up is that while GameStop <i>was</i> a dying brick-and-mortar
                retailer with an outdated business model, it is a company that is undergoing a <a
                    [routerLink]="'/turnaround'">turnaround</a> and is ultimately destined for greatness.
            </p>
            <p>
                These two narratives contradict the other; they cannot both be true simultaneously. One side is
                necessarily more correct than the other, though, due to the nature of this conflict and the ensuing
                information warfare surrounding it, it is often unclear what the true reality is.
            </p>
            <p>Aside from these basic forms of those narratives, to some degree the story of GME has become about <i>the
                    conflict
                    itself</i>, evolving beyond just the fundamental financial metrics of the company.
            </p>

        </div>

        <div class="page-section">
            <div class="section-heading">Victory Condition: Capitulation of a Faction</div>
            <p>GME bears win when their opponents, the bulls, give up on GameStop and capitulate and sell their shares
                of GME. In such a scenario, shareholders have lost faith in the outlook of the company, sell their
                shares, and the stock price plummets. As the price goes down, the value of the short position held by
                GME bears goes up. In the best case scenario for GME bears, GameStop goes bankrupt and the stock gets
                delisted.</p>
            <p>GME bulls win when their opponents, the bears, give up on their GME short position and close out of it.
                Alternatively, GME bears could be forced to close their position via margin call, which would produce
                the same outcome. In order for a short position to be closed, the holder of that position must buy
                shares in order to return them to the party that they originally borrowed them from. In such a scenario,
                short sellers are buying back shares of GME, causing the price of GME to rise, thus increasing the value
                held by shareholders.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">GameStop is at No Risk of Bankruptcy</div>
            <p>Using a variety of different measurements or calculations, for example the <a
                    href="https://www.investopedia.com/terms/a/altman.asp" target="_blank">Altman-Z score</a>, something
                that is clear is that GameStop is at no risk of
                bankruptcy for the foreseeable future, ruling this out as a plausible outcome of this conflict.</p>
            <p>Furthermore, <b>the book value of GME is currently about <span style="color: green;">$11</span> per
                    share</b>, as a calculation of: assets
                minus liabilities, divided by total shares outstanding.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Speculative Assumption: Shorts Never Closed</div>
            <p>Many retail investors that purchased shares of GME were doing so as a bet against that other faction that
                was seeking to lower the price of GME; GME investors were directly challenging GME short sellers in the pursuit of profit.</p>
            <p>After the events of January 2021, the story of GME entered into a new phase with competing narratives.
            </p>
            <p>On the one hand, there is the prevailing narrative put forth by mainstream financial media and
                elsewhere, that the events of January 2021 happened, the thing that happened was a short squeeze, the short
                squeeze ended naturally, and then it was over. Implicit in this narrative, is the notion that shorts
                closed, that shorts moved on, that there no longer exists high short interest in GME and that therefore
                any GME investor hoping for a future short squeeze is wasting their time; forget GameStop.</p>
            <p>Many GME shareholders do not believe in that narrative, and offer a counter-narrative: <b>shorts never
                    closed</b>, and that in general the mainstream financial media and financial institutions are lying
                about it.</p>
            <p>The implication of this belief that is commonly assumed to be true by many GME shareholders is that there
                are some market participants, hedge funds or otherwise, that
                remain on the hook with an underwater GME short position or swap equivalent that must eventually be
                closed, and when this happens, the outcome will be a real short squeeze, an event commonly referred to by
                some GME shareholders as <a [routerLink]="'/moass'">MOASS (the mother of all short squeezes)</a>.</p>
            <p>This belief is an assumption that remains speculative and not proven by hard evidence.  Rather, it is supported by a variety of clues and circumstantial evidence.</p>
            <p>In general, whether true or false, the idea that shorts never closed continues to be a motivating belief held by many GME shareholders.</p>
            <p>From this point of view, a large short position can be considered an unrealized asset that can be gained via capitulation of the short sellers, such as in the case of Ackman versus Icahn.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Recognition</div>
            <p>Oftentimes, GameStop is treated by the media with cynicism, negativity, and even plain dishonesty.</p>
            <p>On rare occasion, however, media or media personalities acknowledge that there is actually more to GameStop than what is just superficially reported.</p>
            <ul>
                <li>"When asked about Gamestop i just say it is a controlled stock and not more than that. The haters know exactly what i mean"<br>
                - Jim Cramer, <a href="https://x.com/jimcramer/status/1544796911785361408" target="_blank">July 6, 2022</a></li>
                <li>April 6, 2024:  Reporting on GameStop's FY 2023 earnings, Reuters.com published <a href="https://www.reuters.com/breakingviews/gamestop-saga-ends-winner-capital-markets-2024-04-03/" target="_blank">an article</a> titled:  "GameStop saga ends. Winner: capital markets"<br>
                In this article, the authors stated:  "the beauty of a good trade is that there exists a winner and a loser; A thesis is tested, and one view will prevail. In this case, “shorts” were right. That leaves a lesson for those nursing dwindled bank accounts. The meme army may have lost, but perhaps next time will be clearer-eyed." </li>
            </ul>
        </div>
        <!-- <div class="page-section">
            <div class="section-heading">Information Warfare Tactics</div>
            <p>When financial conflicts escalate, they often involve information warfare, where each side tries to
                control the narrative, influence investors, and manipulate market sentiment. </p>
            For GME opponents, some tactics might involve:
            <ul>
                <li>Control the narrative via manipulation of the financial media and use of public relations firms</li>
                <li>Spread FUD on social media platforms using influencers and bots</li>
                <li>Discredit bullish investors as uninformed and delusional idiots</li>
                
            </ul>
        </div> -->






        <!-- <div class="page-section">
            <div class="section-heading">Extreme GME Outcomes: Bankruptcy versus MOASS</div>
            <p>The ultimate outcome that would benefit GME short sellers would be one that maximizes the value of
                holding a GME short position or swap equivalent.
                An outcome that would maximize this value would be one where GME shareholders capitulate
                and sell their shares, the business fails, the company files for bankruptcy, and the stock gets
                delisted. </p>
            <p>The ultimate outcome that would benefit GME shareholders would be one that maximizes the return on
                investment from holding shares of GME. In the general context of stocks, this usually means buying
                shares at some initial price, and as the underlying business increases in value, the price of those
                shares goes up.
            </p>
            <p>
                However, in the context of an ongoing financial conflict, this outcome
                goes beyond the value of the shares going up exclusively on the basis of improvements to the underlying
                business. Any short position
                or swap equivalent that currently exists must eventually be closed, which ultimately entails purchasing
                shares of GME from the market, an action that causes upward price movement. </p>
        </div> -->





        <!-- <div class="page-section">
            <div class="section-heading">Historical Financial Conflicts</div>
            <p>There have been financial conflicts in history that this GME conflict can be compared to.</p>
            <p>For example, the case of Bill Ackman shorting herbalife versus Carl Icahn who took the counter position
                and eventually forced Ackman's capitulation.</p>
        </div> -->



    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>