<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            gmewiki.org Directory
        </h1>
        <h5 class="page-subtitle">
            List of pages on gmewiki.org
        </h5>


        <div class="page-section">
            <div class="section-heading">
                Page List
            </div>

            <div style="display:flex;flex-direction: column; padding-top: 20px; padding-bottom: 20px;">

                <div class="directory-item">
                    <div class="item-title">
                        About
                    </div>
                    <div class="item-description">
                        About gmewiki.org
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/about'">Go to About page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/about</span>
                    </div>
                </div>


                <div class="directory-item">
                    <div class="item-title">
                        ATMs
                    </div>
                    <div class="item-description">
                        In 2024, GameStop raised nearly $3.5 billion from 3 at-the-market equity offering programs
                        ("ATMs"). In 2021 GameStop also raised cash with 2 ATMs.
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/atms'">Go to ATMs page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/atms</span>
                    </div>
                </div>




                <!-- <div class="directory-item">
                    <div class="item-title">
                        Bear Case
                    </div>
                    <div class="item-description">

                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/bear-case'">Go to Bear Case page</a>
                    </div>
                    <div class="item-url">
                        gmewiki.org/bear-case
                    </div>
                </div> -->

                <!-- <div class="directory-item">
                    <div class="item-title">
                        Bull Case
                    </div>
                    <div class="item-description">

                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/bull-case'">Go to Bull Case page</a>
                    </div>
                    <div class="item-url">
                        gmewiki.org/bull-case
                    </div>
                </div> -->

                <div class="directory-item">
                    <div class="item-title">
                        Burp
                    </div>
                    <div class="item-description">
                        In 2024, the market price of GME suddenly soared high. Some have referred to this event as "The
                        Burp." Why did this happen?
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/burp'">Go to The Burp page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/burp</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GME Financial Conflict
                    </div>
                    <div class="item-description">
                        Factions with opposing interests continue to compete over the outcome of GME
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/conflict'">Go to GME Financial Conflict page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/conflict</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Downfall Era
                    </div>
                    <div class="item-description">
                        From approximately 2016 through 2020, GameStop was heading downwards
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/downfall'">Go to Downfall Era page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/downfall</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        DRS
                    </div>
                    <div class="item-description">
                        Direct Registration System - The only way to have both ownership and possession of your shares
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/drs'">Go to DRS page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/drs</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GME DRS Timeline
                    </div>
                    <div class="item-description">
                        Timeline of relevant events pertaining to the relationship between GME shareholders and DRS
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/drs-timeline'">Go to GME DRS Timeline page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/drs-timeline</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        DRS versus DSPP
                    </div>
                    <div class="item-description">
                        Both are forms of registered shares, only DRS provides self-custody
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/drs-vs-dspp'">Go to DRS versus DSPP page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/drs-vs-dspp</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Financial Statements
                    </div>
                    <div class="item-description">
                        Earnings results and related company financial information
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/financials'">Go to GameStop Financials page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/financials</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Fiscal Year 2023 Results: Profitable for the First Time in 6 Years
                    </div>
                    <div class="item-description">
                        GameStop reported full-year profitability, contradicting the prevailing media sentiment that
                        GameStop is a terrible company destined for bankruptcy
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/fy23'">Go to GameStop FY 2023 page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/fy23</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Fiscal Year 2024 Earnings Results: Increasing Profitability and Value
                    </div>
                    <div class="item-description">
                        Despite store closures and reduced revenue, GameStop shows improved profitability and the
                        highest equity valuation in its history
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/fy24'">Go to GameStop FY 2024 page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/fy24</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        FTDs
                    </div>
                    <div class="item-description">
                        Failure to deliver / fails-to-deliver:  a structural loophole that enables market participants to exploit the financial system for profit 
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/ftd'">Go to FTD page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/ftd</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GameStop Investment Policy
                    </div>
                    <div class="item-description">
                        As legacy retail contracts, GameStop evolves into a capital allocator with a growing focus on
                        strategic investments
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/investment-policy'">Go to GameStop Investment Policy page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/investment-policy</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Keith Gill
                    </div>
                    <div class="item-description">
                        Keith Gill, AKA Roaring Kitty, AKA DeepFuckingValue
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/keith-gill'">Go to Keith Gill page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/keith-gill</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Financial Media Narratives on GME
                    </div>
                    <div class="item-description">
                        Financial media is often demonstrably biased, cynical, and dishonest when reporting about GME
                        and GameStop
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/media-vs-gme'">Go to Financial Media Narratives on GME page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/media-vs-gme</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Omission of DRS by Financial Media
                    </div>
                    <div class="item-description">
                        Financial media is incentivized to not ever bring attention to DRS
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/media-omits-drs'">Go to Omission of DRS by Financial Media page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/media-omits-drs</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        MOASS
                    </div>
                    <div class="item-description">
                        Mother of all short squeezes
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/moass'">Go to MOASS page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/moass</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Naked Short Selling
                    </div>
                    <div class="item-description">
                        A form of fraud where the perpetrator profits while lowering the price of a target stock
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/naked-short-selling'">Go to Naked Short Selling page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/naked-short-selling</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        CNBC on Naked Short Selling of GME
                    </div>
                    <div class="item-description">
                        Naked short selling is a form of fraud where the perpetrator profits while lowering the price of
                        a target stock. CNBC had an awkward moment about it.
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/naked-shorts-cnbc'">Go to CNBC on Naked Short Selling of GME page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/naked-shorts-cnbc</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GameStop Company Ownership
                    </div>
                    <div class="item-description">
                        Who owns GameStop?
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/ownership'">Go to Ownership page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/ownership</span>
                    </div>
                </div>


                <div class="directory-item">
                    <div class="item-title">
                        Ryan Cohen
                    </div>
                    <div class="item-description">
                        CEO and Chairman of the GameStop Board of Directors
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/ryan-cohen'">Go to Ryan Cohen page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/ryan-cohen</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        The Ryan Cohen Interview with Joe Fonicello of GMEdd.com
                    </div>
                    <div class="item-description">
                        On November 20, 2022, an interview with Ryan Cohen and Joe Fonicello of GMEdd.com is published.
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/rc-interview'">Go to the Ryan Cohen Interview page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/rc-interview</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Short Interest (SI)
                    </div>
                    <div class="item-description">
                        A metric that measures the (reported) number of shares sold short, indicating bearish sentiment
                        of a stock
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/short-interest'">Go to Short Interest page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/short-interest</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        January 2021 GME Sneeze, also known as the "GME Short Squeeze"
                    </div>
                    <div class="item-description">
                        Something unprecendented happened. Wall Street responded drastically
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/sneeze'">Go to the Sneeze page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/sneeze</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        "Sneeze" versus "Squeeze"
                    </div>
                    <div class="item-description">
                        Which label is more accurate?
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/sneeze-vs-squeeze'">Go to the Sneeze versus Squeeze page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/sneeze-vs-squeeze</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Social Media for GME shareholders
                    </div>
                    <div class="item-description">
                        Connect with GME shareholders across various social media platforms
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/social-media'">Go to Social Media page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/social-media</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Start: Welcome to gmewiki.org
                    </div>
                    <div class="item-description">
                        An information tool all about GME and GameStop
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/start'">Go to Start page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/start</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GameStop Stores
                    </div>
                    <div class="item-description">
                        GameStop continues to close stores as part of ongoing efforts to improve the financial health of
                        the company
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/stores'">Go to GameStop Stores page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/stores</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GME Timeline
                    </div>
                    <div class="item-description">
                        Explore the history of GameStop and see noteworthy events in their relationship to the changes
                        of GME stock
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/timeline'">Go to Timeline page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/timeline</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        Trading Cards
                    </div>
                    <div class="item-description">
                        Starting in 2024, GameStop has made efforts to expand into the market of graded trading cards
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/trading-cards'">Go to Trading Cards page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/trading-cards</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        GameStop Company Turnaround and Transformation
                    </div>
                    <div class="item-description">
                        Since 2021, GameStop has been undergoing a transformation: fewer stores, higher value, renewed
                        profitability
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/turnaround'">Go to GameStop Company Turnaround and Transformation page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/turnaround</span>
                    </div>
                </div>

                <div class="directory-item">
                    <div class="item-title">
                        T+35 Settlement Cycle
                    </div>
                    <div class="item-description">
                        An observed market cycle related to FTDs (fails-to-deliver) that can influence the price of a
                        stock
                    </div>
                    <div class="item-jump-to">
                        <a [routerLink]="'/t-plus-35'">Go to T+35 Settlement Cycle page</a>
                    </div>
                    <div class="item-url">
                        <span>gmewiki.org/t-plus-35</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>