.section-body{
    display:flex;
    flex-direction: row;
}




@media (max-width:900px) {
    .section-body{
        display:flex;
        flex-direction: column-reverse;
    }
  }
  

.menu-item{
    // width: 100%;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 15px;
}
.menu-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.507);
    cursor: pointer;
}
.section-p{
    padding-left:30px;
    padding-right: 30px;
    // text-align: center;
    font-size: 1.2em;
}

.page-image{
    width: 100%;
    max-width: 640px;
    border-radius: 10px;
}