.section-body{
    display:flex;
    flex-direction: row;
    
}


.section-p{
    padding-left:0px;
    padding-right: 0px;
    // text-align: center;
    font-size: 1.2em;
    margin-top: 0px;
}
.section-heading{
    margin-top: 0px;
}

.image-container{
    width: 100%;
    max-width: 100%;
}
.page-image{
    // margin-right: 10px;
    max-width: 100%;
}

// @media (max-width:1300px) {
    .section-body{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-heading{
        text-align: center;
    }
    .section-p{
        padding-left:30px;
        padding-right: 30px;
        // text-align: center;
        font-size: 1.2em;
    }
    
//   }
  

.menu-item{
    // width: 100%;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 15px;
}
.menu-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.507);
    cursor: pointer;
}
.menu-item-dark:hover{
    border: 1px solid rgba(255, 255, 255, 0.507);
    cursor: pointer;
}


@media (max-width:600px) {

    .page-image{
        // width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    
  }
  
