<div class="component-root">
    <h1 class="page-title">
        Welcome to gmewiki.org
    </h1>
    <h5 class="page-subtitle">
        An information tool all about GME and GameStop
    </h5>


    <div class="page-content">
        <div class="page-section menu-item" [routerLink]="'/timeline'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GME Timeline</div>
            <div class="section-body">

                <div class="image-container">
                    <img src="assets/main-pages/timeline.png" alt="gme timeline" class="page-image" >
                </div>

                <p class="section-p">Explore the history of GameStop and see noteworthy
                    events in their relationship to the changes of GME
                    stock</p>
            </div>

        </div>

        <div class="page-section menu-item" [routerLink]="'/earnings'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GME Earnings and Financial Information</div>
            <div class="section-body">
                <img src="assets/main-pages/earnings.png" alt="gme earnings" class="page-image">
                <div>
                    <p class="section-p">View the status and history of GameStop revenue, net
                        earnings, stockholders' equity, and related
                        information</p>
                    <p class="section-p">As of fiscal year 2024 results, GameStop had revenue
                        of $3.8 billion, and net income of $131 million.</p>
                </div>


            </div>

        </div>

        <div class="page-section menu-item" [routerLink]="'/ownership'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GME Ownership</div>
            <div class="section-body">
                <div style="max-width: 650px; margin-right: 10px;"> <img src="assets/main-pages/ownership.png"
                        alt="gme ownership" class="page-image"></div>

                <div>
                    <p class="section-p">Who owns GameStop?

                    </p>
                    <p class="section-p">
                        See a breakdown of the shares held by registered shareholders, Ryan Cohen and insiders, Keith
                        Gill,
                        and
                        institutions
                    </p>

                    <p class="section-p">
                        As a publicly traded company, GameStop is unusual because a significant portion of all issued
                        shares
                        are owned by registered shareholders.
                    </p>
                </div>

            </div>
        </div>

        <div class="page-section menu-item" [routerLink]="'/turnaround'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GameStop Company Turnaround</div>
            <div class="section-body">
                <div style="max-width: 650px;"> <img src="assets/info-pages/turnaround.png" alt="GameStop Turnaround"
                        class="page-image"></div>
                <div>
                    <p class="section-p">Since 2021, GameStop has been undergoing a transformation: fewer stores, higher
                        value, renewed
                        profitability.</p>
                    <p class="section-p">Core financial metrics show significant improvements to the company since the
                        turnaround efforts began.</p>
                </div>

            </div>

        </div>

        <div class="page-section menu-item" [routerLink]="'/stores'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GameStop Store Count Information</div>
            <div class="section-body">
                <div style="margin-right: 10px;"> <img src="assets/info-pages/stores-page.png" alt="Store counts"
                        class="page-image" ></div>
                <div>
                    <p class="section-p">See how GameStop's physical store count has changed over the years</p>
                    <p class="section-p">
                        "With respect to retail operations, we plan to continue reducing costs and focusing on
                        profitability... This means a smaller network of stores with an expanded assortment of higher
                        value
                        items that fit into our trade-in model."
                        <br>
                        - CEO Ryan Cohen (June 17, 2024)
                    </p>
                </div>
            </div>
        </div>


        <div class="page-section menu-item" [routerLink]="'/investment-policy'"
            [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GameStop Investment Policy</div>
            <div class="section-body">
                <div class="section-p">
                    GameStop has made significant changes to its Investment Policy, giving Ryan Cohen discretion over
                    investments, as well as demonstating intent on obtaining bitcoin.
                </div>
            </div>
        </div>


        <div class="page-section menu-item" [routerLink]="'/drs'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">DRS (Direct Registration System)</div>
            <p class="section-p">Unlike most publicly traded companies, a significant portion of all GME shares ({{
                registeredPercent }}%)
                are held by registered shareholders via DRS.</p>
        </div>

        <div class="page-section menu-item" [routerLink]="'/social-media'"
            [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GME Social Media</div>
            <p class="section-p">Connect with the GME shareholder community across numerous platforms</p>
        </div>

        <div class="page-section menu-item" [routerLink]="'/faq'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">GME FAQ</div>
            <p class="section-p">Find answers to generic questions pertaining to GME</p>
        </div>

        <div class="page-section menu-item" [routerLink]="'/about'" [ngClass]="isDarkMode ? 'menu-item-dark': '' ">
            <div class="section-heading">About</div>
            <p class="section-p">About gmewiki.org</p>
        </div>
    </div>

    <!-- For short pages (shorter than the height of the screen) -->
    <!-- <app-footer class="app-footer-fixed"></app-footer> -->

    <!-- For pages that will exceed the height of the screen -->
    <app-footer class="app-footer"></app-footer>
</div>