<div class="component-root">
    <div class="page-title">
        Welcome to gmewiki.org
    </div>
    <div class="page-subtitle">
        An information tool all about GME and GameStop
    </div>


    <div class="page-content">
        <div class="page-section menu-item" [routerLink]="'/timeline'" >
            <div class="section-heading">GME Timeline</div>
            <div class="section-body">

                <img src="assets/main-pages/timeline.png"
                        alt="gme timeline" class="page-image">
                <p class="section-p">Explore the history of GameStop and see noteworthy
                    events in their relationship to the changes of GME
                    stock</p>
            </div>

        </div>

        <div class="page-section menu-item" [routerLink]="'/earnings'">
            <div class="section-heading">GME Earnings and Financial Information</div>
            <div class="section-body">
                <img src="assets/main-pages/earnings.png"
                        alt="gme earnings" class="page-image">
                <p class="section-p">View the status and history of GameStop revenue, net
                    earnings, stockholders' equity, and related
                    information</p>

            </div>

        </div>

        <div class="page-section menu-item" [routerLink]="'/ownership'">
            <div class="section-heading">GME Ownership</div>
            <div class="section-body">
                <div style="max-width: 400px;"> <img src="assets/main-pages/ownership.png" 
                    alt="gme ownership" class="page-image"></div>
                
                <p class="section-p">Who owns GameStop?<br>
                    See a breakdown of the shares held by registered shareholders, Ryan Cohen and insiders, Keith Gill,
                    and
                    institutions</p>
            </div>
        </div>

        <div class="page-section menu-item" [routerLink]="'/social-media'">
            <div class="section-heading">GME Social Media</div>
            <p>Connect with the GME shareholder community across numerous platforms</p>
        </div>

        <div class="page-section menu-item" [routerLink]="'/faq'">
            <div class="section-heading">GME FAQ</div>
            <p>Find answers to common questions pertaining to GME</p>
        </div>

        <div class="page-section menu-item" [routerLink]="'/about'">
            <div class="section-heading">About</div>
            <p>About gmewiki.org</p>
        </div>
    </div>

    <!-- For short pages -->
    <!-- <app-footer class="app-footer-fixed"></app-footer> -->

    <!-- For full pages -->
    <app-footer class="app-footer"></app-footer>
</div>