<div class="component-root gamestop-background" [ngStyle]="backgroundNgStyle">
    <div class="page-top-bar" [ngClass]="isDarkMode? 'page-top-bar-dark': 'page-top-bar'" *ngIf="!isMobile">
        <div class="top-bar-content">
            <div class="title-container">
                <div class="welcome-page-title">Welcome to gmewiki.org</div>
                <div class="welcome-page-subtitle" [ngStyle]="subtitleNgStyle">An information website all about GME and
                    GameStop</div>
            </div>
        </div>

        <div class="directory-label">
            <a [routerLink]="'/directory'" class="top-bar-section" *ngIf="screenWidth >= 650"><span
                    *ngIf="screenWidth >= 1000">gmewiki.org</span> Directory</a>
        </div>
        <div class="main-menu-label-container" *ngIf="screenWidth >= 650" (mouseenter)="onMouseEnterMainMenu()">
            <div class="main-menu-label" [ngClass]="isDarkMode? 'main-menu-label-dark': 'main-menu-label'"
                [ngStyle]="mainMenuLabelNgStyle">
                Main Menu
            </div>
        </div>


    </div>

    <div *ngIf="isMobile" class="page-top-bar-mobile">
        <div style="font-weight: bold;color:white; text-align: center;">Welcome to gmewiki.org
        </div>
        <div style="font-size: 0.8em;color:white; text-align: center;">An information website
            all about GME and GameStop</div>
    </div>



    <div class="page-content" [ngStyle]="gapSectionNgStyle"></div>


    <div class="page-content">
        <div class="page-section menu-item" [routerLink]="'/fy25'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GameStop Fiscal Year 2025 Earnings Results: The Turnaround Delivers</div>
            <div class="section-body">
                <div>
                    <p class="section-p">As of fiscal year 2025 results, GameStop has reported its highest net income in company history. 
                        Stockholders' equity is higher than it has ever been. </p>
                    <p class="section-p">Showing strong full-year operational profits, it is clear: GameStop has turned
                        itself around. GameStop is not a company that is struggling financially; it is stronger than
                        ever and improving continuously.
                    </p>
                    <div class="image-container">
                        <img *ngIf="!isDarkMode" src="assets/earnings-sankey/fy25-sankey.png" alt="gme timeline"
                            class="page-image">
                        <img *ngIf="isDarkMode" src="assets/earnings-sankey/fy25-sankey.png" alt="gme timeline"
                            class="page-image">
                    </div>
                </div>
            </div>
        </div>


        <div class="page-section menu-item" [routerLink]="'/investment-policy'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GameStop Investment Policy</div>

            <p class="section-p">As the legacy business has contracted, GameStop is evolving into a capital allocator with a
                growing focus on strategic investments. </p>
            <div class="section-p">
                GameStop has made significant changes to its Investment Policy, giving CEO Ryan Cohen discretion over
                investments.
            </div>
        </div>

        

        <div class="page-section menu-item" [routerLink]="'/turnaround'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GameStop Company Turnaround</div>
            <div class="section-body">
                <div>
                    <p class="section-p">Starting in 2021, GameStop began an unprecedented turnaround.</p>
                    <p class="section-p">GameStop was losing hundreds of millions of
                        dollars per year, and facing real risk of bankruptcy.
                        As of fiscal year 2025 results, GameStop reported its most profitable year ever, and now has the highest stockholders' equity
                        in company history.
                    </p>
                    <p class="section-p">The turnaround has been successful.</p>
                    <app-turnaround-table></app-turnaround-table>
                </div>
            </div>
        </div>


        <div class="page-section menu-item" [routerLink]="'/timeline'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GME Timeline</div>
            <div class="section-body">
                <div class="image-container">
                    <img *ngIf="!isDarkMode" src="assets/main-pages/timeline.png" alt="gme timeline" class="page-image">
                    <img *ngIf="isDarkMode" src="assets/main-pages/timeline-dark.png" alt="gme timeline"
                        class="page-image">
                </div>

                <p class="section-p">Explore the history of GameStop and see noteworthy
                    events in their relationship to the changes of GME
                    stock</p>
            </div>
        </div>

        <div class="page-section menu-item" [routerLink]="'/earnings'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GME Earnings and Financial Information</div>
            <div class="section-body">
                <img *ngIf="!isDarkMode" src="assets/main-pages/earnings.png" alt="gme earnings" class="page-image">
                <img *ngIf="isDarkMode" src="assets/main-pages/earnings-dark.png" alt="gme earnings" class="page-image">
                <div>
                    <p class="section-p">View the status and history of GameStop revenue, net
                        earnings, stockholders' equity, and more</p>
                    <p class="section-p">As of fiscal year 2025 results, GameStop had revenue
                        of $3.6 billion, and net income of $416 million — the most profitable year in the history of the
                        company.</p>
                </div>
            </div>
        </div>

        <div class="page-section menu-item" [routerLink]="'/ownership'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GME Ownership</div>
            <div class="section-body">
                <div style="max-width: 650px; margin-right: 10px;">
                    <img *ngIf="!isDarkMode" src="assets/main-pages/ownership.png" alt="gme ownership"
                        class="page-image">
                    <img *ngIf="isDarkMode" src="assets/main-pages/ownership-dark.png" alt="gme ownership"
                        class="page-image">
                </div>

                <div>
                    <p class="section-p">Who owns GameStop?<br>
                        See a breakdown of ownership of all GME shares
                    </p>
                    <p class="section-p">
                        As a publicly traded company, GameStop is unusual because a significant portion of all issued
                        shares
                        are owned by registered shareholders.
                    </p>
                </div>

            </div>
        </div>



        <div class="page-section menu-item" [routerLink]="'/social-media'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}">
            <div class="section-heading">GME Social Media</div>
            <p class="section-p">Connect with the GME shareholder community across numerous platforms</p>
        </div>


        <div class="page-section menu-item" [routerLink]="'/about'"
            [ngClass]="{ 'menu-item-dark': isDarkMode, '': !isDarkMode, 'menu-item-mobile': isMobile, 'menu-item': !isMobile}"
            style="margin-bottom: 20px;">
            <div class="section-heading">About</div>
            <p class="section-p">About gmewiki.org</p>
        </div>
    </div>

    <app-footer class="app-footer" [ngClass]="isDarkMode ? 'border-top-dark': 'border-top'"
        style="margin-top: 10px;"></app-footer>
</div>