<div class="component-root" id="goUp">
    <div class="page-content">
        <h1 class="page-title">
            DRS - Direct Registration System
        </h1>
        <h5 class="page-subtitle">
            The only way that a shareholder is able to have both ownership <i>and possession</i> of their shares
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Cede_and_Company" target="_blank" class="external-link"
                        rel="nofollow">Cede & Co.</a>, a private
                    company and partner of the <a href="https://en.wikipedia.org/wiki/Depository_Trust_Company"
                        target="_blank" class="external-link" rel="nofollow">DTC</a>, is the registered owner of the
                    majority of all issued shares of
                    publicly traded companies in the United
                    States

                    <ul>
                        <li>
                            As of 1998, Cede & Co. was the registered owner of <a
                                href="https://www.sechistorical.org/collection/papers/1990/1998_0101_DTCAR_1.pdf"
                                target="_blank" class="external-link" rel="nofollow">83% of the shares of all New York
                                Stock Exchange-listed companies and 70% of the shares included in the Nasdaq Stock
                                Market</a>
                            <ul>
                                <li>
                                    Since 1998, this
                                    ownership percentage has not been publicly released again
                                </li>
                            </ul>
                        </li>
                        <li>When shares of a company are purchased at a stock broker, the buyer becomes a <a
                                href="https://www.investopedia.com/terms/b/beneficialowner.asp" target="_blank"
                                class="external-link" rel="nofollow">beneficially owner</a> of shares but holds only
                            share entitlements. The registered holder of those
                            shares is Cede & Co.</li>
                        <li>Due to lack of transparency by Cede & Co. and the DTC, the number of share entitlements that
                            exist
                            among stock brokers and other market participants cannot be verified</li>
                    </ul>

                </li>
                <li>DRS is an acronym for Direct Registration System
                    <ul>
                        <li>DRS is a mechanism that enables investors to own and hold shares registered in their own
                            name on the issuing company's shareholder register, making the shareholder known to the
                            company</li>
                        <li>Moving shares to DRS removes Cede & Co's registered ownership of those shares, making the
                            investor the registered owner</li>
                        <li>
                            Holding shares in DRS form is the only way to have both ownership and possession of
                            electronically-held shares
                        </li>
                    </ul>
                </li>
                <li>A <a href="https://www.investopedia.com/terms/s/shareholder-register.asp" target="_blank"
                        class="external-link" rel="nofollow">shareholder register</a> (sometimes referred to as a
                    ledger) is a record of who
                    owns a company's shares, and is typically maintained by a
                    <a href="https://www.investopedia.com/terms/t/transferagent.asp" target="_blank"
                        class="external-link" rel="nofollow">transfer agent</a>
                    <ul>
                        <li>GameStop's transfer agent is <a href="https://en.wikipedia.org/wiki/Computershare"
                                target="_blank" class="external-link" rel="nofollow">Computershare</a> </li>
                    </ul>
                </li>


                <li>A significant number of <a [routerLink]="'/bull-faction'">committed GME shareholders</a> have
                    registered their shares
                    <ul>
                        <li>
                            Approximately 175,000 individuals have registered their shares of GME
                        </li>
                        <li>
                            Approximately {{ drsPercent }}% of all issued shares of GME are held in DRS form,
                            represeting a significant portion of <a [routerLink]="'/ownership'">GME
                                ownership</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="page-section" *ngIf="isBrowser">
            <div class="section-heading">
                Registered shares of GME by fiscal quarter
            </div>
            <p style="color:gray;">Fiscal quarters prior to Q2 22 have been adjusted for the stock split. Registered
                shares includes DRS and DSPP shares.</p>
            <div style="display:flex;flex-direction: column; width: 100%; align-items: center;" >
                <app-drs-gme-chart style="width: 800px; max-width: 100%;"></app-drs-gme-chart>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">Why Hold Shares in DRS form?</div>
            <p>Holding shares in DRS form is the only way to have both ownership <i>and possession</i> of your shares,
                with no intermediary.
            </p>
            <p>Shares held in brokerage accounts are <a href="https://www.investopedia.com/terms/b/beneficialowner.asp"
                    target="_blank" class="external-link" rel="nofollow">beneficially owned</a>, and subject to the
                terms and conditions of the brokerage. Furthermore, in any type of situation where a broker becomes
                insolvent, an investor's access to their shares in that brokerage account would be subject to the
                bankruptcy proceedings. While <a href="https://www.investopedia.com/terms/s/sipc.asp" target="_blank"
                    class="external-link" rel="nofollow">SIPC</a> insurance does provide some protection, it does not
                provide full coverage of assets.</p>
            <p>
                Please visit <a href="https://whydrs.org">WhyDRS.org</a> for more information about DRS
            </p>

        </div>

        <div class="page-section">
            <div class="section-heading">How to hold shares of GME in DRS form</div>
            <p>Owning directly registered shares of GME can be achieved mainly in 2 different ways. Each method is a
                2-step process.</p>

            <b>Method 1:</b>
            <ol>
                <li>An investor purchases shares of GME at a stock broker, for example Fidelity or IBKR
                </li>
                <li>The investor requests to the broker to transfer the shares to DRS</li>
            </ol>
            <p></p>

            <b>Method 2:</b>
            <ol>
                <li>An investor purchases shares of GME from GameStop's transfer agent Computershare
                </li>
                <li>The investor requests to Computershare to transfer their shares from Computershare's plan into DRS
                </li>
            </ol>
            <p>
                Please visit <a href="https://drsgme.org" target="_blank" class="external-link"
                    rel="nofollow">DRSGME.org</a> for more information about
                registering shares of GME
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Held by registered holders with Computershare: DRS versus DSPP</div>
            <ul>
                <li>All shares held with GameStop's transfer agent Computershare are considered "registered",
                    which means that the individual investor is listed by name on the issuer's (GameStop's) stock
                    register
                    (also referred to as
                    the "ledger") and the investor is therefore known to the company.</li>
                <li>However, of registered shares, DRS is the only form that provides both ownership <i> and possession
                    </i> of shares</li>
                <li>Holding shares in Computershare's Direct Stock Purchase Plan (DSPP) provides registered ownership
                    but not possession of shares</li>
            </ul>

            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/dspp'">DSPP</a>
            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">DRS Discovery Timeline</div>

            <ul>
                <li>
                    In the aftermath of the <a [routerLink]="'/sneeze'">GME sneeze of January 2021</a>, GME investors
                    began to search for information to help make sense of what really happened and how the market
                    actually
                    functions
                </li>
                <li>Gathering largely on <a [routerLink]="'/reddit'">Reddit</a>, several communities emerged, for
                    example <a [routerLink]="'/superstonk'">Superstonk</a>, where GME was the
                    central topic of conversation</li>
                <li>Through a series of discoveries and conversations, GME investors eventually learned
                    that DRS was the only way that an investor can obtain real ownership of the shares they paid for by
                    putting the registered ownership of the shares in their own name</li>
                <li>GME shareholders advocating for DRS have faced resistance and censorship on Reddit</li>
            </ul>

            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/drs-timeline'">full DRS discovery timeline</a>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">Why isn't DRS information reported by financial information providers?</div>
            <ul>
                <li>Mainstream financial media is not incentivized to ever discuss DRS</li>
                <li>The incentive is much greater to never validate the existence and purpose of DRS</li>
                <li>Common finance tools that are supposed to provide ownership information of publicly traded stocks
                    such as GME do not publish any information about DRS, despite the significant percentage of all GME
                    shares that are directly registered</li>
            </ul>
            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/media-omits-drs'">media omission of DRS</a>
            </div>
        </div>

        <div class="page-section" style="margin-bottom: 50px;"></div>
    </div>

    <app-footer class="app-footer"></app-footer>
</div>