<div class="component-root">
    <div class="page-content" style="width: 100%;">
        <div class="page-title" stsyle="width:100%;">
            Outcome of GameStop's completion of 3 at-the-market equity offering programs
        </div>
        <div class="page-subtitle">
            In 2024, GameStop raised nearly $3.5 billion in cash from 3 ATMs in exchange for shares
        </div>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>On 3 occassions in 2024, GameStop has raised cash by selling shares</li>
                <li>On May 24, 2024, GameStop completed
                    <a href="https://gamestop.gcs-web.com/news-releases/news-release-details/gamestop-completes-market-equity-offering-program-1"
                        target="_blank">
                        the first of 3 ATMs
                    </a>, raising $0.933 billion
                </li>
                <li>On June 11, 2024, GameStop completed
                    <a href="https://gamestop.gcs-web.com/news-releases/news-release-details/gamestop-completes-market-equity-offering-program-2"
                        target="_blank">
                        the second of 3 ATMs
                    </a>, raising an additional $2.137 billion
                </li>
                <li>"Having a strong balance sheet especially in times of economic uncertainty is a strategic
                    advantage." <br>-- Ryan Cohen, GameStop 2024 Annual Meeting (<a href="https://www.reddit.com/r/GME/comments/1di2uw9/ryan_cohens_statements_from_the_2024_shareholder/" target="_blank">June 17</a>)</li>
                <li>
                    On September 23, 2024, GameStop completed
                    <a href="https://gamestop.gcs-web.com/news-releases/news-release-details/gamestop-completes-market-equity-offering-program-3"
                        target="_blank">
                        the third of 3 ATMs
                    </a>, raising an additional $0.4 billion
                </li>
            </ul>
        </div>
        <div class="page-section">
            <div class="section-heading">
                Table of changes to GME equity in 2024
            </div>
            <table class="table" *ngIf="!isMobile">
                <thead>
                    <tr class="top-row">
                        <td>Date</td>
                        <td>Action</td>
                        <td>Shares issued and sold</td>
                        <td>Average price per share</td>
                        <td>Cash raised</td>
                        <td>Stockholders' equity</td>
                        <td>Total shares outstanding</td>
                        <td>Book value per share</td>
                        <!-- <td>Voting power dilution</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-weight: 300;">
                        <td>As of May 4</td>
                        <td>Q1 earnings release</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>$1.3 B</td>
                        <td>306.2 M</td>
                        <td>$4.25</td>
                        <!-- <td>--</td> -->
                    </tr>
                    <tr style="font-weight: 500;">
                        <td>May 24</td>
                        <td>ATM completion</td>
                        <td>45 M</td>
                        <td>$20.74</td>
                        <td>$0.93 B</td>
                        <td>$2.23 B</td>
                        <td>351.2 M</td>
                        <td>$6.35</td>
                        <!-- <td>87 % of May 4th equivalent</td> -->
                    </tr>
                    <tr style="font-weight: 500;">
                        <td>June 11</td>
                        <td>ATM completion</td>
                        <td>75 M</td>
                        <td>$28.49</td>
                        <td>$2.14 B</td>
                        <td>$4.37 B</td>
                        <td>426.2 M</td>
                        <td>$10.25</td>
                        <!-- <td>72 % of May 4th equivalent</td> -->
                    </tr>
                    <tr style="font-weight: 300;">
                        <td>As of August 3</td>
                        <td>Q2 earnings release</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>$4.4 B</td>
                        <td>426.5 M</td>
                        <td>$10.32</td>
                        <!-- <td>--</td> -->
                    </tr>
                    <tr style="font-weight: 500;">
                        <td>September 23</td>
                        <td>ATM completion</td>
                        <td>20 M</td>
                        <td>$20.00</td>
                        <td>$0.4 B</td>
                        <td>$4.8 B</td>
                        <td>446.5 M</td>
                        <td>$10.75</td>
                        <!-- <td></td> -->
                    </tr>
                </tbody>


            </table>
            <table class="table" *ngIf="isMobile">
                <thead>
                    <tr class="top-row">
                        <td>Date</td>
                        <td>Stockholders' equity</td>
                        <td>Total shares outstanding</td>
                        <!-- <td>Book value per share</td>
                        <td>Voting power dilution</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>May 4</td>
                        <td>$1.3 B</td>
                        <td>306.2 M</td>
                        <!-- <td>$4.25</td>
                        <td>--</td> -->
                    </tr>
                    <tr>
                        <td>May 24 ATM completion</td>
                        <td>$2.23 B</td>
                        <td>351.2 M</td>
                        <!-- <td>$6.35</td>
                        <td>87 % of May 4th equivalent</td> -->
                    </tr>
                    <tr>
                        <td>June 11 ATM completion</td>
                        <td>$4.37 B</td>
                        <td>426.2 M</td>
                        <!-- <td>$10.25</td>
                        <td>72 % of May 4th equivalent</td> -->
                    </tr>
                    <tr>
                        <td>August 4</td>
                        <td>$4.4 B</td>
                        <td>426.5 M</td>
                        <!-- <td>$4.25</td>
                        <td>--</td> -->
                    </tr>
                    <tr>
                        <td>September 23</td>
                        <td>$4.8 B</td>
                        <td>446.5 M</td>
                        <!-- <td>$4.25</td>
                        <td>--</td> -->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>