<div class="chart-container" id="chartContainer">
    <div class="custom-legend" *ngIf="showCustomLegend">
        <div class="legend-item" *ngFor="let legendItem of customLegendItems">
            <div class="color-square" [style.backgroundColor]="legendItem.color"></div>
            {{legendItem.title}}
        </div>
    </div>
    <canvas baseChart class="chart" id="chartCanvas" [type]="'bar'" [data]="barChartData" [options]="barChartOptions"
        [legend]="barChartLegend">
    </canvas>
</div>