<div class="chart-container" id="chartContainer">
    <div class="custom-legend" *ngIf="showCustomLegend">
        <div class="legend-item">
            <div class="color-square" style="background-color: rgba(3, 90, 252, 0.9);"></div>
            Revenue ($ billions)
        </div>
        <div class="legend-item">
            <div class="color-square" style="background-color: rgba(0, 145, 10, 0.9);"></div>
            Net Income ($ millions)
        </div>
        <div class="legend-item">
            <div class="color-square" style="background-color: rgba(255, 0, 0, 0.9);"></div>
            Net Loss ($ millions)
        </div>
    </div>
    <canvas baseChart class="chart" id="chartCanvas" [type]="'bar'" [data]="barChartData"
        [options]="barChartOptions" [legend]="barChartLegend">
    </canvas>
</div>