<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            Naked Short Selling
        </div>
        <div class="page-subtitle">
            A form of fraud where the perpetrator profits while lowering the price of a target stock
        </div>



        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <div>
                <ul>
                    <li>
                        What it is: Naked short selling is when a trader short-sells a stock without first borrowing the
                        shares (or even ensuring they can be borrowed). This means they sell shares they don’t actually
                        have.

                    </li>
                    <li>
                        Why they do it: Traders may attempt naked short selling to profit from a drop in a stock’s
                        price. It can be done quickly (and sometimes outside the rules) when they believe a stock price
                        is about to fall but don’t want to go through the process or expense of borrowing shares
                        properly.

                    </li>
                    <li>How they do it: By placing a short-sell order without locating or borrowing the shares
                        beforehand, relying on the idea that they can buy them back later at a cheaper price—or that the
                        trade will go unnoticed if not strictly regulated.
                    </li>
                    <li>Risks: If the stock price rises instead of falls, the trader faces potentially unlimited losses,
                        because there’s no limit to how high a stock can go—and they still have to buy shares to close
                        their short position.
                    </li>
                    <li>Regulation: In many markets, naked short selling is heavily restricted or outright illegal, as
                        it can distort stock prices and create excessive selling pressure, making markets appear more
                        volatile and less fair.
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Discussion online of naked short selling and GME
            </div>
            <p>Following the <a [routerLink]="'/sneeze'">Sneeze of January 2021</a>, many GME investors began to
                investigate and discuss what exactly was going on in the stock market to have caused this peculiar
                event.</p>
            <p>It didn't take very long for the hive mind to point towards naked short selling as one of the necessary
                culprits.
                After all, how could it be that the reported short interest of a stock could exceed the number of shares
                of that stock that officially exist? In the case of GME, in January 2021, analytics firm S3 Partners
                reported a short interest of 141%.
            </p>
            <p>During these social media discussions, there was often a great amount of doubt surrounding naked short
                selling; many social media users explicitly denied the existence of naked short selling.
            </p>
            <p> The very
                idea of naked short selling sounds absurd, selling something you don't have. Was it
                even a real thing? How prevalent was it in the stock market? To what degree was naked short selling
                involved in creating the conditions that led to the GME sneeze?</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Media on the topic of naked short selling</div>
            <ul>
                <li>Mainstream financial outlets like CNBC, Bloomberg, and Reuters often emphasize that direct evidence
                    of large-scale naked short selling of GME has not been conclusively proven</li>
                <li>Outlets covering the GME saga frequently mention retail investors' community-driven narratives about
                    naked short selling, "synthetic shares," and dark pools. While some platforms portray these as
                    conspiracy theories or exaggerations, others acknowledge the lack of transparency in market
                    mechanics that fuels these beliefs</li>
            </ul>

            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/cnbc-naked-shorts'">CNBC on the topic of naked short selling of GME</a>
            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">
                Admission from a market participant
            </div>
            <p>

                <a href="https://www.youtube.com/watch?v=i-tKiiHWGkE" target="_blank">Here is a clip recorded on April
                    23, 2021</a> from the
                miniseries <i><a href="https://en.wikipedia.org/wiki/Gaming_Wall_Street">Gaming
                        Wall St</a></i>, released March 3, 2022, in which a market participant admits to using naked
                short selling to make profits, and emphasizes that the problem is ubiquitous:

            </p>

            <p class="quote-section" style="display: block; line-height: 2.0;">
                "Folks I know who are still in the industry have been telling me, ‘I wouldn’t advise you to talk about
                it.’
                But I think they’re all living in a fake world. <br><b>I used to
                    illegally naked short sell stocks every day</b>. Every day. As long as I was collecting commissions.
                And the
                bank did not care.
                <br>The client sends an
                order
                electronically, and all you do is click on the order, go to execute; it’ll pull up a little box, you
                type in anything you want, and you just hit ‘OK.’ You don’t ask questions. You appreciate the order, and
                if that involves shorting a stock naked, you do it anyway. <br>Because management essentially tells you,
                ‘Just create the business. Anything on the back side, we will deal with.’ <br>So you’re collecting money
                on
                the front, you collect money on the back, and you actually have zero risk. The clients never see that.
                <br><b>All the prime lenders—they all do it. Consistently</b>."
            </p>

        </div>





        <div class="page-section">
            <div class="section-heading">
                Naked short selling of GME stock
            </div>
            <p>Naked short selling is an open secret of the stock market. It is real, it is prevalent, it is widely
                known about, yet rarely talked about in the mainstream media and enforcement against it rarely occurs.

            </p>

            <p>It is difficult to prove because it is
                behavior that is perpetrated covertly by market participants that possess the ability to do so while
                evading detection and consequences.
            </p>

            <p>When GME shareholders began investigating the peculiarity of GME in the aftermath of the sneeze of
                January 2021, the
                discovery of naked short selling played an important role in investors' understanding of what is
                otherwise a mysterious and unclear story.
                Many GME shareholders continue to have the assumption that GME has been naked short sold to some extent,
                perhaps to
                a very large extent.
            </p>
        </div>
        <div class="page-section" style="height: 50px;">

        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>

    
</div>