<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            "Sneeze" versus "Squeeze"
        </h1>
        <h5 class="page-subtitle">
            Which label is more accurate?
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Most commentary and reporting on the <a [routerLink]="'/sneeze'">events of January 2021</a> refer to
                    those events as a <a href="https://en.wikipedia.org/wiki/Short_squeeze" target="_blank"
                        class="external-link" rel="nofollow">"short squeeze"</a> </li>
                <li>Others, notably <a [routerLink]="'/bull-faction'">GME shareholders</a> on social media, commonly
                    refer to that episode as "the sneeze," based on the belief that an actual short squeeze did not
                    properly play out because <a [routerLink]="'/shorts-never-closed'">"shorts never closed"</a>
                </li>
            </ul>
        </div>

        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Competing Sentiments
            </div>
            <p>
                Various sources, and ultimately the commonly found consensus is that in <a
                    [routerLink]="'/sneeze'">January 2021</a>, there was
                definitively a short squeeze of GME. That, the thing that happened to GME was a short squeeze, it was an
                event in history that happened, those parties that held a GME short position got squoze, their short
                positions closed, then it ended,
                now it's over, an historical event that has passed.
            </p>
            <p>
                For example, the Wikipedia article <a href="https://en.wikipedia.org/wiki/GameStop_short_squeeze"
                    target="_blank" class="external-link" rel="nofollow">GameStop short squeeze</a> plainly asserts that
                a short squeeze took place.
                The investopedia.com article <a href="https://www.investopedia.com/terms/s/shortsqueeze.asp"
                    target="_blank" class="external-link" rel="nofollow">short squeeze</a> has a section about the
                "GameStop short squeeze," and also asserts
                plainly that such an event did happen.
            </p>

            <p>
                In cases like this, a possible implication of the term "short squeeze" is that the events of January
                2021
                pertaining to GME amount now to a
                historical episode that happened, then it ended naturally, and now it is over.
                Yet, oftentimes, like in both of the information sources provided above, the magnitude of the situation
                is downplayed, and the severity of the actions taken is glossed over, such as when a multitude of market
                participants acted
                in unison to turn off the buy button for GME and other stocks.
                The action of disabling purchasing of stock for several days across most major stock brokerages provided
                a major break and advantage for <a [routerLink]="'/bear-faction'">those that were positioned short on
                    GME</a>, and ultimately interrupted the naturally occuring momentum that was raising the stock
                price. It was an unprecedented
                maneuver in response to a dramatic situation. Market personality Jim Cramer would later state candidly
                that "<a [routerLink]="'/media-vs-gme'">it was totally rigged</a>."
            </p>

            <p>
                While some amount of short covering and short closing certainly did occur, according to the <a
                    href="https://www.sec.gov/files/staff-report-equity-options-market-struction-conditions-early-2021.pdf"
                    target="_blank" class="external-link" rel="nofollow">
                    SEC Staff Report on Equity and Options Market Structure Conditions in Early 2021
                </a>, "... it was the positive sentiment, not the buying-to-cover, that sustained the weeks-long
                price appreciation of GameStop stock." "While a short squeeze did not appear to be the main driver
                of events, and a gamma squeeze
                less likely, the episode highlights the role and potential impact of short selling and short
                covering."
            </p>

            <p>
                The lack of transparency combined with the nature of the manipulative maneuvers taken by the
                incumbent financial institutions lead some GME shareholders to believe that <a
                    [routerLink]="'/shorts-never-closed'">shorts never
                    closed</a> — that the short obligations held by those <a [routerLink]="'/bear-faction'">GME
                    bears</a> still exist in some form, even though the great magnitude of short positions no longer
                appear
                in the GME <a [routerLink]="'/short-interest'">short interest</a>.
            </p>
            <p>
                Based on the view that shorts never closed, many GME investors have concluded that what occured was not
                an actual short squeeze. Many investors continued to buy and hold shares of GME, with
                the belief that those hedge funds and other market participants were still obligated to eventually close
                their
                short position at some point, and when they do, <a [routerLink]="'/moass'">the real short
                    squeeze</a> will happen.
            </p>
            <p>Thus, this faction commonly refers to the events of January 2021 not as a
                squeeze but as "the sneeze."</p>

        </div>
        <div class="page-section">
            <div style="font-size: 1.1em;">
                See also: <a [routerLink]="'/conflict'">GME Financial Conflict</a>
            </div>
        </div>

    </div>
    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>