<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Household Investors, aka Retail Investors
        </h1>
        <h5 class="page-subtitle">
            A prominent faction of the GME saga
        </h5>


        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Household GME shareholders have played an important role in the GME saga since approximately <a
                        [routerLink]="'/sneeze'">January 2021</a>
                </li>
                <li>Hundreds of thousands of individuals, communicating over social media, learn and share information
                    pertaining to GME and the market</li>
                <li>This faction has <a [routerLink]="'/drs'">directly registered</a> millions of shares of GME,
                    representing the single largest specific portion of <a [routerLink]="'/ownership'">GME ownership</a>
                </li>
                <li>The number of registered shares of GME has stagnated since 2022 but remains steady, with about 90%
                    of all registered shares staying in place since direct registering began in 2021</li>
                <li>The board of directors and this faction of GME shareholders have an alignment of interests. For
                    example, the <a [routerLink]="'/ryan-cohen'">CEO Ryan Cohen</a> receives no compensation and only
                    holds shares, ensuring appropriate incentive to improve the value of the stock for all shareholders
                </li>
                <li>The board of directors retains strong support from retail investors, as demonstrated by voting
                    outcomes in each annual shareholder meeting since 2021</li>

            </ul>

        </div>
    </div>
</div>