<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            Investors
        </div>
        <div class="page-subtitle">
            A prominent faction
        </div>


        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li><strong>Role:</strong> GME shareholders, particularly retail investors, have played a key role in
                    countering institutional short-selling, reshaping market dynamics, and challenging Wall Street
                    practices. Their collective action has strengthened retail investor influence and disrupted
                    traditional financial power structures.</li>

                <li><strong>Value:</strong> Shareholders see GME as more than just a stock—it represents financial
                    decentralization, market fairness, and a long-term commitment to the company’s transformation beyond
                    brick-and-mortar retail into a modern, digital-first business.</li>

                <li><strong>Importance:</strong> The GME movement has shed light on issues like market manipulation,
                    naked short-selling, and regulatory loopholes, leading to increased calls for transparency,
                    fairness, and accountability in financial markets.</li>

                <li><strong>Enthusiasm:</strong> Shareholder enthusiasm has driven elevated share prices, which GameStop
                    leveraged through at-the-market (ATM) equity offerings, raising billions of dollars. This
                    strengthened the company’s financial position, giving it the flexibility to invest in its strategic
                    transformation and long-term stability.</li>

                <li><strong>Actions:</strong> GME shareholders have consistently supported the current leadership team,
                    as evidenced by shareholder votes reelecting the incumbent board of directors since 2021. Many
                    investors have also chosen to hold their shares directly via the Direct Registration System (DRS),
                    reinforcing their commitment to long-term ownership.</li>
            </ul>

        </div>
    </div>
</div>