<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Warrants
        </h1>
        <h5 class="page-subtitle">
            In 2025, GameStop issued a dividend of warrants with a $32 exercise price
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>On September 9, 2025, GameStop <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Dividend-of-Warrants-to-Shareholders/default.aspx"
                        target="_blank" class="external-link" rel="nofollow">announced</a> the dividend of warrants to
                    shareholders
                    <ul>
                        <li>1 warrant issued for every 10 shares of GME held on the record date of October 3, 2025</li>
                    </ul>
                </li>
                <li>Warrant Terms
                    <ul>
                        <li>
                            Each warrant allows for the purchase of 1 share of GME at an <b>exercise price of $32</b>
                        </li>
                        <li>The warrants have an expiration date on October 30, 2026</li>
                        <li>The warrants are separately tradable on the NYSE under the ticker GME WS (or <a
                                href="https://www.google.com/finance/beta/quote/GME+:NYSE" class="external-link"
                                rel="nofollow" target="_blank">GME+</a> ) </li>
                    </ul>
                </li>
                <li>If all 59M warrants are exercised, GameStop would raise approximately $1.9B</li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Distribution of Warrants</div>
            <p>The dividend of warrants were distributed on <a
                    href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-the-Distribution-of-Warrants-to-Shareholders/default.aspx"
                    target="_blank" class="external-link" rel="nofollow">October 7, 2025</a>, in accordance with those
                who held shares of
                GME and those who held <a [routerLink]="'/convertible-notes'">convertible senior notes</a> on the record
                date
                of October 3, 2025.
            </p>
            <div style="max-width: 100%; display:flex;flex-direction: column;align-items: center; margin-bottom: 40px;">
                <img src="assets/info-pages/warrants.png" alt="Distribution of GME Warrants"
                    style="width: 1200px; max-width: 800px; border-radius:10px;">
            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">More Information</div>
            <p>Go to <a href="https://investor.gamestop.com/warrant-dividend/default.aspx" class="external-link" rel="nofollow" target="_blank">investor.gamestop.com/warrant-dividend</a> for all announcements, filings and an FAQ pertaining to the warrants.</p>
        </div>


    </div>

    <app-footer class="app-footer"></app-footer>
</div>