.table {
    width: 100%;
    border-collapse: collapse;
}

.td-container {
}

.td-value {
    // padding: 5px;
    // color: rgba(0, 255, 0, 0.801);
    font-family: 'Inter', Arial, sans-serif;
    font-variant-numeric: tabular-nums;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
}


.td-value-mobile {
    font-size: 0.82em;
    padding: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-variant-numeric: tabular-nums;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3em;
    font-weight: 550;
    margin-bottom: 10px;
}
.title-mobile{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.title-row{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.buttons-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.options-button{
    margin: 5px;
    color: inherit;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}
.options-button:hover{
        cursor: pointer;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.5);
}