<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Keith Gill
        </h1>
        <h5 class="page-subtitle">
            Keith Gill, AKA Roaring Kitty, AKA DeepFuckingValue

        </h5>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    <a href="https://x.com/TheRoaringKitty" target="_blank">Roaring Kitty</a> (or RK), also known as <a
                        href="https://www.reddit.com/user/deepfuckingvalue/" target="_blank">DeepFuckingValue</a> (or
                    DFV), real name <a href="https://en.wikipedia.org/wiki/Keith_Gill" target="_blank">Keith Gill</a>,
                    is an individual who originally invested in GME call options starting in 2019, eventually growing
                    their position and accumulating shares
                </li>
            </ul>
        </div>
        <div class="page-section">
            <div class="section-heading">Timeline</div>
            <ul>
                <li>September 8, 2019: Keith Gill <a
                        href="https://www.reddit.com/r/wallstreetbets/comments/d1g7x0/hey_burry_thanks_a_lot_for_jacking_up_my_cost/"
                        target="_blank">posted on Reddit</a> for the first time as DeepFuckingValue, with GME call
                    options valued at $100 thousand. </li>
                <li>
                    Roaring Kitty began to gain popularity on social media in 2020 for his contrarian but bold GME
                    position
                </li>
                <li>
                    As investors joined in and bought GME, eventually the share price of GME started to rise
                    dramatically, which drew more attention, which caused more buying, until the eventual
                    <a [routerLink]="'/sneeze'">January 2021 sneeze</a>
                </li>
                <ul>
                    <li>For this, Keith Gill was <a href="https://www.youtube.com/watch?v=OARREl39syQ" target="_blank">questioned by the U.S. House Committee on Financial Services</a> for his
                        involvement - see Keith Gill's full response below</li>
                    <li>
                        The movie Dumb Money (2023) tells the story of that series of events
                    </li>
                </ul>


                <li>Roaring Kitty / DeepFuckingValue disappeared from social media in 2021</li>
                <li>Roaring Kitty / DeepFuckingValue returned 3 years later in 2024 showing a substantially increased
                    position of GME shares and call options, valued at several hundred million dollars</li>
            </ul>
            <div style="width: 100%; display:flex;flex-direction: column; align-items: center;">
                <div style="font-weight: bold;">Roaring Kitty Live Stream - June 7, 2024</div>
                <a href="https://www.youtube.com/watch?v=U1prSyyIco0" target="_blank">
                    <img src="assets/dfv/rk-2024-06-07.png" alt="" style="border-radius: 10px;">
                </a>
            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">
                Keith Gill's Statements to the U.S. House Financial Services Committee
            </div>
            <div class="page-subtitle">February 18, 2021</div>

            <div class="quote-section">
                <p>
                    Thank you, Chairwoman Waters, Ranking Member McHenry, and members of the committee.
                </p>

                <p>
                    I’m happy to discuss with the committee my purchases of GameStop shares and my discussions of their
                    fair
                    value on social media. It is true that my investment in that company multiplied in value many times.
                    For
                    that, I feel enormously fortunate. I also believe the current price of the shares demonstrates that
                    I’ve
                    been right about the company.
                </p>


                <p>
                    A few things I am not:
                    I’m not a cat.
                    I am not an institutional investor, nor am I a hedge fund.
                    I do not have clients, and I do not provide personalized investment advice for fees or commissions.
                </p>

                <p>
                    I’m just an individual whose investment in GameStop and posts on social media were based upon my own
                    research and analysis.
                </p>


                <p>
                    I grew up in Brockton, Massachusetts. My family was not wealthy—my father was a truck driver, and my
                    mom
                    a registered nurse. I was one of three kids and the first in my family to earn a four-year college
                    degree. When I graduated from Stonehill College in 2009, it was not a good time to be looking for a
                    job.
                    From 2010 to 2017, I worked at a few startup companies, but there were significant periods when I
                    was
                    unemployed.
                </p>


                <p>
                    I took an interest in the stock market, and even though I had very little money, I used those times
                    to
                    educate myself and learn more about investing.
                </p>


                <p>
                    In 2019, after nearly two years unemployed, I accepted a marketing and financial education job at
                    MassMutual. My wife, Caroline, and I were thrilled that I had an income and benefits. My job was to
                    help
                    develop financial education classes that advisors could present to prospective clients. I was not a
                    stockbroker or a financial advisor. I did not talk to clients, and I did not recommend stocks for
                    them
                    to buy.
                </p>

                <p>
                    Before and after I joined MassMutual, I studied and followed stocks. One of those was GameStop. In
                    early
                    June 2019, the price of GameStop stock declined below what I thought was its fair value. I invested
                    in
                    GameStop in 2019 and 2020 because, as I studied the company, I became more and more confident in my
                    analysis.
                </p>

                <p>
                    Two important factors—based entirely on publicly available information—gave me confidence that
                    GameStop
                    was undervalued.
                </p>

                <p>
                    First, the market was underestimating the prospects of GameStop’s legacy business and overestimating
                    the
                    likelihood of bankruptcy. I grew up playing video games and shopping at GameStop, and I plan to
                    continue
                    shopping there. GameStop stores still provide real value to consumers and reliable revenue for
                    GameStop.
                </p>

                <p>
                    Second, I believed that GameStop had the potential to reinvent itself as the ultimate destination
                    for
                    gamers within the rapidly growing $200 billion gaming industry. GameStop had a unique opportunity to
                    pivot toward a technology-driven business by embracing the digital economy. GameStop might be able
                    to
                    find new revenue streams that vastly exceed the value of its current business.
                </p>

                <p>
                    I am hardly the only person who has advocated these points.

                </p>

                <p>
                    When I wrote and spoke about GameStop on social media with other individual investors, our
                    conversations
                    were no different from people in a bar, on a golf course, or at home talking or arguing about a
                    stock.
                    Hedge funds and other Wall Street firms have teams of analysts working together to compile research
                    and
                    analyze shares of companies. Individual investors don’t have those resources. Social media platforms
                    like Reddit, YouTube, and Twitter are leveling the playing field.
                </p>

                <p>
                    The idea that I used social media to promote GameStop stock to unwitting investors and influence the
                    market is preposterous. My posts did not cause the movement of billions of dollars into GameStop
                    shares.
                </p>

                <p>
                    It is tragic that some people lost money, and my heart goes out to them. But what happened in
                    January
                    just demonstrates again that investing in public securities is extremely risky.
                </p>

                <p>
                    As I said earlier, I consider myself and my family fortunate with our investment. When the stock
                    price
                    broke $20 in December, I knew my investment was a success. I was so happy to visit my family in
                    Brockton
                    for the holidays. The money will go such a long way for us. We had an incredibly difficult 2020.
                    Most
                    difficult was the tragic and unexpected loss of my sister, Sarah, in June. I’m grateful to be in a
                    position to give back to and support my family.
                </p>

                <p>
                    As for what happened in January, others will have to explain it. It’s alarming how little we know
                    about
                    the inner workings of the market, and I’m thankful that this committee is examining what happened.
                </p>

                <p>
                    I also want to say that I support retail investors’ right to invest in what they want, when they
                    want. I
                    support the right of individuals to send a message based on how they invest.
                </p>

                <p>
                    As for me—I like the stock. I’m as bullish as I’ve ever been on a potential turnaround for GameStop,
                    and
                    I remain invested in the company.
                </p>

                <p>
                    Thank you. Cheers, everyone.
                </p>

            </div>
            <div class="quote-attribution">
                Keith Gill,  <a href="https://www.youtube.com/watch?v=OARREl39syQ" target="_blank" style="margin-left: 4px;"> February 18, 2021</a>
            </div>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>