<div class="bar"></div>
<div class="page-section" style="margin-top: 0;">
    <div class="section-heading">2025</div>
    <ul>
        <li>GameStop makes significant changes to its <a [routerLink]="'/investment-policy'">Investment Policy</a></li>
        <li>GameStop Reports <a [routerLink]="'/fy24'">Fiscal Year 2024 Earnings Results</a>: Increasing Profitability
            and Value</li>
        <li>Nintendo announces release of <a href="https://gamestop.com/switch2" target="_blank">Switch 2</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2024</div>
    <ul>
        <li>GameStop reports <a [routerLink]="'/fy23'">Fiscal year 2023 results</a>, demonstrates full-year
            profitability for the first time in 6 years</li>
        <li>Following from this was "The Burp"</li>
        <li>This coincided with an appearance from Roaring Kitty</li>
        <li>GameStop subsequently raised nearly $3.5 B in cash from <a [routerLink]="'/atms'">3 at-the-market equity
                offerings</a></li>
        <li>GameStop enters the <a [routerLink]="'/trading-cards'">graded trading cards</a> market; Nat Turner appointed
            as board member</li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2023</div>
    <ul>
        <!-- <li>Censorship on Reddit</li> -->
        <li><a href="https://en.wikipedia.org/wiki/Dumb_Money">Dumb Money</a> movie is released</li>
        <li>Ryan Cohen becomes CEO; turnaround in progress</li>
        <li>CEO Ryan Cohen receives authorization to manage the company's <a
                [routerLink]="'/investment-policy'">investment portfolio</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2022</div>
    <ul>
        <!-- <li>GameStop investors publish <a href="https://drsgme.org" target="_blank">DRSGME.org</a></li> -->
        <li>US House financial committee publishes <a
                href="https://democrats-financialservices.house.gov/uploadedfiles/6.22_hfsc_gs.report_hmsmeetbp.irm.nlrf.pdf"
                target="_blank">Game Stopped</a> report</li>
        <li>Hedge fund <a href="https://en.wikipedia.org/wiki/Melvin_Capital" target="_blank">Melvin Capital</a> shuts
            down for some reason</li>
        <li>Ryan Cohen gives <a [routerLink]="'/rc-interview'">an interview</a> with GMEdd.com</li>
        <li><a href="https://lemmy.whynotdrs.org/post/226948" target="_blank">WallStreetBets bans GME</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2021</div>
    <ul>
        <li><a [routerLink]="'/sneeze'">The Sneeze</a> of January 2021</li>
        <li>GameStop raises approximately $1.7 billion with <a [routerLink]="'/atms'">2 ATMs</a></li>
        <li>Ryan Cohen appointed chairman of the board of directors; the <a [routerLink]="'/turnaround'">turnaround</a>
            of the company begins</li>
        <li>GME investors discover <a [routerLink]="'/drs'">DRS</a>; GameStop begins publishing number of registered
            shares</li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2020</div>
    <ul>
        <li><a [routerLink]="'/keith-gill'">Keith Gill</a> aka Roaring Kitty, aka DeepFuckingValue brings attention to
            GME on social media</li>
        <li><a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> buys GME and becomes the largest individual shareholder</li>
    </ul>
</div>