<div class="bar"></div>
<div class="page-section" style="margin-top: 0;">
    <div class="section-heading">2025</div>
    <ul>
        <li>GameStop makes significant changes to its <a [routerLink]="'/investment-policy'">Investment Policy</a> </li>
        <li>GameStop Reports <a [routerLink]="'/fy24'">Fiscal Year 2024 Earnings Results</a>: Increasing Profitability and Value</li>
        <!-- <li>GameStop announces FY 2024 earnings results will be released on <a href="https://gamestop.gcs-web.com/news-releases/news-release-details/gamestop-announces-release-date-fourth-quarter-fiscal-2024" target="_blank">March 25</a></li>    -->
        <li>Nintendo announces release of <a href="https://gamestop.com/switch2" target="_blank">Switch 2</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2024</div>
    <ul>
        <li><a [routerLink]="'/fy23'">Reported full-year profitability for FY23</a></li>
        <li>Following from this was "The Burp"</li>
        <li>This coincided with an appearance from Roaring Kitty</li>
        <li>GameStop subsequently <a [routerLink]="'/atms'">raised nearly $3.5 B in cash</a></li>
        <li>GameStop appointed Nat Turner to the board of directors in accordance with new efforts in <a [routerLink]="'/trading-cards'">graded trading cards</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2023</div>
    <ul>
        <li>Censorship on Reddit</li>
        <li>Release of the movie <a href="https://en.wikipedia.org/wiki/Dumb_Money">Dumb Money</a></li>
        <li>Ryan Cohen becomes CEO</li>
        <li>CEO Ryan Cohen receives authorization to manage the company's <a [routerLink]="'/investment-policy'">investment portfolio</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2022</div>
    <ul>
        <li>GameStop investors publish <a href="https://drsgme.org" target="_blank">DRSGME.org</a></li>
        <li>US House financial committee publishes <a href="https://democrats-financialservices.house.gov/uploadedfiles/6.22_hfsc_gs.report_hmsmeetbp.irm.nlrf.pdf" target="_blank">Game Stopped</a> report</li>
        <li>Hedge fund <a href="https://en.wikipedia.org/wiki/Melvin_Capital" target="_blank">Melvin Capital</a> shuts down for some reason</li>
        <li>Ryan Cohen gives <a [routerLink]="'/rc-interview'">an interview</a> with GMEdd.com</li>
        <li><a href="https://lemmy.whynotdrs.org/post/226948" target="_blank">WallStreetBets bans GME</a></li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2021</div>
    <ul>
        <li><a [routerLink]="'/sneeze'">The Sneeze</a> of January 2021</li>
        <li><a [routerLink]="'/keith-gill'">Keith Gill</a> likes the stock</li>
        <li>GameStop raises cash with <a [routerLink]="'/atms'">2 ATMs</a></li>
        <li>Ryan Cohen appointed chairman of the board of directors</li>
        <li>The company <a [routerLink]="'/turnaround'">turnaround</a> begins</li>
        <li>GME investors discover <a [routerLink]="'/drs'">DRS</a>; GameStop begins publishing number of registered shares</li>
    </ul>
</div>
<div class="bar"></div>
<div class="page-section">
    <div class="section-heading">2020</div>
    <ul>
        <li><a [routerLink]="'/keith-gill'">Keith Gill</a> aka <a href="https://x.com/TheRoaringKitty" target="_blank">Roaring Kitty</a> aka <a href="https://www.reddit.com/user/DeepFuckingValue/" target="_blank">DeepFuckingValue</a> draws attention to GME on social media</li>
        <li><a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> buys GME</li>
    </ul>
</div>