<div class="page-section" style="margin-top: 0;">
    <div class="section-heading">2025</div>
    <p>Nothing to report yet</p>
</div>

<div class="page-section">
    <div class="section-heading">2024</div>
    <ul>
        <li>Reported full-year profitability for FY23</li>
        <li>Following from this was "The Burp"</li>
        <li>This coincided with an appearance from Roaring Kitty</li>
        <li>GameStop subsequently raised nearly $3.5 B in cash</li>
        <li>GameStop appointed Nat Turner to the board of directors</li>
    </ul>
</div>

<div class="page-section">
    <div class="section-heading">2023</div>
    <ul>
        <li>Censorship on Reddit</li>
        <li>Release of the movie Dumb Money</li>
        <li>Ryan Cohen becomes CEO</li>
        <li>CEO Ryan Cohen receives authorization to manage the company's investment portfolio</li>
    </ul>
</div>

<div class="page-section">
    <div class="section-heading">2022</div>
    <ul>
        <li>GameStop investors publish DRSGME.org</li>
        <li>US House financial committee publishes Game Stopped report</li>
        <li>Hedge fund Melvin Capital shuts down for some reason</li>
        <li>Ryan Cohen gives an interview with GMEdd.com</li>
        <li>GME is banned from WallStreetBets</li>
    </ul>
</div>

<div class="page-section">
    <div class="section-heading">2021</div>
    <ul>
        <li>The Sneeze of January 2021</li>
        <li>Keith Gill likes the stock</li>
        <li>GameStop raises cash with 2 ATMs</li>
        <li>Ryan Cohen appointed chairman of the board of directors</li>
        <li>The company turnaround begins</li>
        <li>GME investors discover DRS; GameStop begins publishing number of registered shares</li>
    </ul>
</div>

<div class="page-section">
    <div class="section-heading">2020</div>
    <ul>
        <li>Keith Gill aka Roaring Kitty aka DeepFuckingValue draws attention to GME on social media</li>
        <li>Ryan Cohen buys GME</li>
    </ul>
</div>