<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Deliberate omission of DRS by financial media
        </h1>
        <h5 class="page-subtitle">
            Financial media is incentivized to not ever bring attention to DRS
        </h5>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <p>The simplest explanation for why mainstream financial media does not ever report about DRS is that
                adovcating for DRS is against Wall Street's interests.
                Mainstream financial media is highly influenced by incumbent Wall Street market participants and works
                to spread narratives favorable to those market participants.
            </p>
            <ul>
                <li>Advertising ties: Major financial institutions are key advertisers for mainstream media. Promoting
                    DRS could alienate these sponsors by suggesting an alternative to broker-based services.</li>
                <li>Preserving the status quo: The traditional system (shares held in “street name” through brokers) is
                    deeply ingrained. Highlighting DRS risks encouraging a shift away from this profitable norm.</li>
                <li>Simplified storylines: Coverage typically revolves around price movements and short-term trading.
                    DRS, with its emphasis on long-term ownership, doesn’t fit the quick-hit news cycle.</li>
                <li>Shared financial interests: High trading volumes benefit both Wall Street (fees) and financial media
                    (engagement). DRS promotes direct ownership and often less frequent trading, potentially reducing
                    these revenue streams.</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Evidence</div>
            <p>On commonly available stock information tool, such as <a
                    href="https://www.google.com/finance/quote/GME:NYSE" target="_blank">Google Finance</a>, or <a
                    href="https://finance.yahoo.com/quote/GME/" target="_blank">Yahoo Finance</a>, there is no information to be found in the ownership section or anywhere else about DRS.</p>
            <p>Searching for DRS on websites of financial media outlets yields no results.</p>
        </div>
    </div>
</div>