<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Reinvention of GameStop
        </h1>
        <h5 class="page-subtitle">
            GameStop is evolving into something bigger
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>By <a [routerLink]="'/fy25'">fiscal year 2025 results</a>, GameStop has successfully demonstrated
                    its strongest financial position in its history, after nearly 5 years of <a
                        [routerLink]="'/turnaround'">turnaround efforts</a></li>
                <li>GameStop is now positioned for its next phase, which goes far beyond its legacy business model of
                    making money by selling video games</li>
                <li>GameStop is evolving into a capital allocator with a growing focus on <a
                        [routerLink]="'/investment-policy'">strategic investments</a></li>
                <li>GameStop is targeting other consumer companies for potential <a
                        [routerLink]="'/m&a'">acquisitions</a></li>
            </ul>


        </div>




        <div class="page-section">
            <div class="section-heading">GameStop Investment Policy</div>
            <p>
                As the legacy business has shrunk, GameStop is increasing its focus on <a
                    [routerLink]="'/investment-policy'">capital allocation and strategic
                    investments</a>.
            </p>
            <p>GameStop raised over $4 billion through <a [routerLink]="'/convertible-notes'">2 private offerings of
                    convertible senior notes</a> in April and June
                2025.</p>
            <p>In May 2025, GameStop announced that it had acquired 4,710 BTC.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        Maybe the future value when you think about GameStop ... may have more to do with
                        how we deploy our balance sheet than the cash that the retail operations will generate.
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                                target="_blank" class="external-link" rel="nofollow">July 15, 2025</a></div>
                    </div>
                </div>
            </div>
        </div>




        <div class="page-section">
            <div class="section-heading">Mergers and Acquisitions</div>


            <p>
                In a January 2026 interview with CNBC, Ryan Cohen provided some
                insight into the possible direction of <a [routerLink]="'/m&a'">acquisitions</a>.
            </p>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        It’s similar to Berkshire Hathaway, except what Berkshire did in decades we’re attempting to do
                        in a much shorter time in terms of creating that much value.
                    </p>
                    <p>
                        We can go in there and apply the Chewy and [GameStop] mindset of like brutal efficiency and
                        increase the profitability of the company very, very quickly and so we could capture a lot more
                        value by focusing on this under optimized asset, and then eventually we could move on to the
                        next one, but, you know, we’ll see what happens.
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.cnbc.com/2026/01/30/gamestop-ceo-ryan-cohen-targets-consumer-mega-deal.html"
                                target="_blank" class="external-link" rel="nofollow">January 30, 2026</a></div>
                    </div>
                </div>
            </div>

            <p>In May 2026, GameStop formally <a [routerLink]="'/ebay'">proposed an acquisition of eBay</a>.</p>
        </div>
        <div class="page-section">
            <div class="section-heading">Evolutions of Companies</div>


            <p>GameStop Director Larry Cheng has also hinted that companies in the past have evolved into things that
                are
                quite different than their original business model.</p>


            <div class="quote-section-container">
                <div class="quote-section">
                    <p>Do you remember when:</p>
                    <p>
                        Berkshire Hathaway was a textiles company?<br>
                        American Express was an express mail business?<br>
                        Nokia was a pulp mill?<br>
                        Samsung was a grocery trader?<br>
                        Marriott was a root beer stand?<br>
                        Instagram was a check-in app?<br>
                    </p>
                    <p>
                        I don't - businesses evolve... Other examples?<br>
                    </p>
                    <div class="quote-attribution">GameStop Director Larry Cheng
                        <span><a href="https://x.com/larryvc/status/1796186429472546983" target="_blank"
                                class="external-link" rel="nofollow">May 30,
                                2024</a></span>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>