<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            T+35
        </h1>
        <h5 class="page-subtitle">
            An observed market cycle that can influence the price of a stock
        </h5>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    Failure to deliver (FTD):  An FTD happens when the seller fails to deliver the required shares to the
                    buyer by the settlement date (T+2)
                </li>
                <li>Persistent FTDs build up over time as short sellers and other market participants struggle to deliver shares</li>
                <li>Roughly 35 trading days after a surge in FTDs, the accumulated pressure forces short sellers to cover their positions</li>
                <li>This forced buying can drive up the stock’s price</li>
            </ul>
        </div>
        <!-- <div class="page-section">
            <app-help-contribute></app-help-contribute>
        </div> -->
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-fixed"></app-footer>
</div>