<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Bull Case
        </h1>
        <h5 class="page-subtitle">
            Arguments for GME stock
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Originally, when GameStop gained much attention in 2021, it was a contrarian investment with many weaknesses</li>
                <li>After a period of 5 years in a row of net losses, GameStop was net profitable in FY 2023 and again in FY 2024, </li>
                <li>GME has a strong and committed base of investors.  Over 170 thousand individuals hold registered shares of GME, most of whom have been holding since 2021.</li>
                <li>The strong shareholder base shares an alignment of financial interests with the GameStop CEO and chairman Ryan Cohen, who does not receive compensation, but rather only holds shares.</li>
                <li>As part of turnaround efforts, GameStop is designing and selling new original products, and forming new partnerships.</li>
                <li>The video game industry is an approximately $200 B per year industry, and growing, with many opportunities for a company like GameStop to generate new business.</li>
                <li>GameStop has expanded efforts into the collectibles market, an industry even larger than video games, at approximately $500 B per year.</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">Evolution</div>
            <p>The circumstances around GME have changed significantly from 2020 to present.</p>
            <p>Before GameStop gained much attention in early 2021, it was a struggling brick and mortar retail business in the video game industry.  A multitude of Wall Street participants saw the vulnerable position that GameStop was in, and bet against GME stock.</p>
            <p>However, from 2021 onward, under a new leadership team, GameStop has been transforming itself into a much more lean, agile, and valuable company.</p>
            <p>Any notion that the company is going to go out of business soon is now plainly false.  GameStop has a negligible amount of debt, and a huge pile of cash that generates more cash from interest.</p>
        </div>


        <!-- <div class="page-section">
            <div class="section-heading">Information Sources</div>
            <p>The GME bull case is supported by GME shareholders that believe in it.  Information conforming to the GME bear case can be found in locations such as:</p>
            <ul>
                <li>reddit.com/r/GME</li>
                <li>reddit.com/r/Superstonk</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div> -->
    </div>
</div>
