<div class="table-root">
    <div class="toolbar">
        <div>
            <button (click)="onClickQuartersYears('YEARS')" class="tool-button"
                [ngClass]="{'selected-time': displayIsAnnual === true}">
                Annual Results
            </button>
            <button (click)="onClickQuartersYears('QUARTERS')" class="tool-button"
                [ngClass]="{'selected-time': displayIsQuarter === true}">
                Quarterly Results
            </button>
        </div>

    </div>


    <table class="table">
        <thead>
            <tr style="font-weight: 500;" [style.fontSize]="fontSize">
                <td [style.width]="columnWidth()">{{timePeriod}}</td>
                <!-- <td *ngIf="columnCount >=7" [style.width]="columnWidth()">Document Date</td> -->
                <td [style.width]="columnWidth()">Revenue<br>(billions)</td>
                <td [style.width]="columnWidth()">Net income<br>(millions)</td>
                <td *ngIf="columnCount >=5" [style.width]="columnWidth()">Assets<br>(billions)</td>
                <td *ngIf="columnCount >=5" [style.width]="columnWidth()">Liabilities<br>(billions)</td>
                <td [style.width]="columnWidth()">Stockholders' Equity<br>(billions)</td>
                <td *ngIf="columnCount >=8" [style.width]="columnWidth()">Earnings / Loss per share</td>
            </tr>
        </thead>
        <tbody *ngFor="let row of tableRows">
            <tr>
                <td>
                    <a [href]="row.earningsResult.url" target="_blank"
                        style="display:flex;flex-direction: row; justify-content: space-between; align-items: center; text-decoration: none; color: rgb(71, 71, 71);">
                        <div>
                            {{ row.earningsResult.reportingPeriod }} {{ trimmedYear(row.earningsResult.fiscalYear) }}
                        </div>
                        <div *ngIf="pageWidth > 1375" class="date-url" style="text-align: right;">
                            {{ date(row.earningsResult.reportDateYYYYMMDD)}}
                        </div>
                    </a>
                </td>
                <td [style.backgroundColor]="backgroundColor(row.earningsResult, 'REVENUE')">
                    $ {{ ((row.earningsResult.revenue)/1000000000).toFixed(1) }}
                </td>
                <td [style.backgroundColor]="backgroundColor(row.earningsResult, 'NETINCOME')"
                    [style.width]="columnWidth()">
                    $ {{ ((row.earningsResult.netEarnings/1000000)).toFixed(0)}}
                </td>
                <td [style.backgroundColor]="backgroundColor(row.earningsResult, 'ASSETS')" *ngIf="columnCount >=5">
                    $ {{ ((row.earningsResult.totalAssets)/1000000000).toFixed(1)}}
                </td>
                <td [style.backgroundColor]="backgroundColor(row.earningsResult, 'LIABILITIES')"
                    *ngIf="columnCount >=5">
                    $ {{ ((row.earningsResult.totalLiabilities)/1000000000).toFixed(1)}}
                </td>
                <td [style.backgroundColor]="backgroundColor(row.earningsResult, 'EQUITY')">
                    $ {{ ((row.earningsResult.stockholdersEquity)/1000000000).toFixed(1)}}
                </td>
                <td *ngIf="columnCount >=8" [style.backgroundColor]="backgroundColor(row.earningsResult, 'EPS')">
                    $ {{row.earningsResult.netEPS.toFixed(2)}}
                </td>
            </tr>
        </tbody>
    </table>

    <div style="text-align: center; font-size: 0.8em; color: gray; padding: 5px;">For a link to the financial
        statements, click on the first box in each row</div>
    <div class="more-rows-bar" *ngIf="showButton">
        <button class="more-rows-button" (click)="onClickShowMoreRows()">Show more rows</button>
    </div>

</div>