<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">

            "Sneeze" versus "Squeeze"
        </h1>
        <h5 class="page-subtitle">
            Which label is more accurate?
        </h5>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Competing sentiments
            </div>
            <p>Various sources, and ultimately the commonly found consensus is that in January 2021, there was
                definitively a short squeeze of GME. That, the thing that happened to GME was a short squeeze, it was an
                event in history that happened, those parties that held a GME short position got squoze, then it ended,
                now it's over, an historical event that has passed.</p>
            <p>For example, the Wikipedia article <a href="https://en.wikipedia.org/wiki/GameStop_short_squeeze"
                    target="_blank">GameStop short squeeze</a> plainly asserts that a short squeeze took place.
                The investopedia.com article <a href="https://www.investopedia.com/terms/s/shortsqueeze.asp"
                    target="_blank">short squeeze</a> has a section about the "GameStop short squeeze," and also asserts
                plainly that such an event did happen.
            </p>
            <p>In cases like this, the implication is that the events of January 2021 pertaining to GME amount now to a
                historical episode that happened, then it ended, and now it is over.
                Yet, oftentimes, like in both of the information sources provided above, the magnitude of the situation
                is downplayed, and the severity of the actions taken is glossed over, such as when a multitude of market
                participants acting
                in unison to turn off the buy button for GME and other stocks.
                The action of disabling purchasing of stock for several days across most major stock brokerages provided
                a major break and advantage for those that were positioned short on GME. It was an unprecedented
                maneuver in response to a dramatic situation.
            </p>

            <p>GME shareholders often assert that <b>shorts never closed</b>. This view is based on the belief that
                short sellers opened GME short positions years prior to the run in January 2021. In those earlier times,
                the share price of GME was so low compared to the prices during and after the sneeze, that those parties
                holding that short position <b>could not afford to close their short position</b>, and therefore never
                did.

            </p>
            <p>On January 27, 2021, CNBC ran an article stating that <a
                    href="https://www.cnbc.com/2021/01/27/hedge-fund-targeted-by-reddit-board-melvin-capital-closed-out-of-gamestop-short-position-tuesday.html"
                    target="_blank">
                    Melvin Capital, hedge fund targeted by Reddit board, closes out of GameStop short position
                </a>. CNBC curiously even <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/l8539h/cnbc_now_running_ads_promoting_that_melvin/">ran
                    ads</a> on Twitter and likely elsewhere, announcing this breaking news.
                If any hedge fund made a significant move one way or the other in a situation like this, why would they
                go to the media and announce it to the world? And why would the media run ads to further promote this
                announcement?
            </p>
            <p>
                On February 2, 2021, Mark Cuban went to the r/WallStreetBets subreddit to have <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/lawubt/hey_everyone_its_mark_cuban_jumping_on_to_do_an/"
                    target="_blank">an AMA discussion about GME</a>. In this conversation, Mark <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/lawubt/comment/glqndlx/"
                    target="_blank">stated</a>: "<b>Their goal
                    is to never cover their short</b>. But that would take the company going out of business or being
                delisted. That wont happen here."
                This conversation with Mark Cuban further solidified in the minds of some GME investors the notion that
                shorts never closed.</p>

            <p>Further evidence that shorts did not close can be inferred from <a [routerLink]="'/ftd'">FTD</a> data
                which remains curiously elevated.</p>

            <p>In conclusion, many GME shareholders hold the view that GME <b>did not</b> have a proper short squeeze of
                GME in January
                2021, because the episode was prematurely interrupted when the market participants prevented further
                purchasing of GME shares, to the advantage of those market participants that held a GME short position.
                Furthermore, it is speculatively believed, though difficult to prove, that there are participants that
                have a GME short position that remains open that must eventually be closed. For this reason, this event
                is often referred to as the GME "sneeze" by GME shareholders, and not a short squeeze; that the real
                squeeze is <a [routerLink]="'/moass'">an event yet to come</a>.</p>


            <div style="font-size: 1.1em;">
                See <a [routerLink]="'/sneeze'">the sneeze</a>
            </div>
        </div>

    </div>
    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>