<div class="component-root">
    <div class="page-content">
        <div class="page-title">
            FTD
        </div>
        <div class="page-subtitle">
            Failure to deliver

        </div>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>FTDs (fails-to-deliver) occur when a party in a stock transaction fails to deliver the security to
                    the buyer by the settlement date</li>
            </ul>


        </div>

        <div class="page-section">
            <div class="section-heading">
                Causes
            </div>
            <ul>
                <li>Short Selling Without Borrowing: A trader sells a stock short without borrowing or locating shares
                    to deliver, leading to a failure to provide them when the buyer expects delivery.</li>
                <li>Administrative Errors: Mistakes in processing trades, such as incorrect recording or communication
                    between brokers, can cause a failure to settle.</li>
                <li>Stock Recall or Unavailability: Borrowed shares are recalled by the lender, or shares are
                    unavailable for borrowing at settlement, causing a delivery failure.</li>
                <li>Insufficient Inventory: The seller does not possess or cannot acquire the required securities due to
                    a shortage in the market.</li>
                <li>Market Disruptions: Technical glitches, trading halts, or other unforeseen events can prevent timely
                    settlement of securities.</li>
            </ul>


        </div>

        <div class="page-section">
            <div class="section-heading">
                Persistent FTDs
            </div>
            <ul>
                <li>Indicators of Market Manipulation: Persistent FTDs may result from practices like <a [routerLink]="'/naked-short-selling'">naked short
                    selling</a>, where traders sell shares they haven't borrowed, artificially increasing supply and
                    pressuring the stock price downward.</li>
                <li>Liquidity and Pricing Issues: Ongoing FTDs can distort the true value of a security, creating supply
                    and demand imbalances that harm market stability and investor confidence.</li>
                <li>Regulatory Concerns: Regulators often view persistent FTDs as red flags, investigating these
                    patterns to enforce compliance with trading rules and prevent market abuse.</li>
                <li>Impact on Companies: Issuing companies may suffer from persistent FTDs due to depressed stock
                    prices, reduced investor confidence, and limited access to capital.</li>
                <li>Investor Awareness: For investors, persistent FTDs can signal potential risks, manipulation, or
                    transparency issues in the trading of a specific security.</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Other links
            </div>
            <div><a href="https://en.wikipedia.org/wiki/Failure_to_deliver" target="_blank">FTD on Wikipedia</a></div>
            <div><a href="https://www.investopedia.com/terms/f/failuretodeliver.asp" target="_blank">FTD on
                    investopedia</a></div>
        </div>
    </div>
</div>