<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            FTD
        </h1>
        <h5 class="page-subtitle">
            Failure to deliver

        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>FTDs (fails-to-deliver) occur when a party in a stock transaction fails to deliver the security to
                    the buyer by the settlement date</li>
            </ul>


        </div>

        <div class="page-section">
            <div class="section-heading">
                Causes
            </div>
            <ul>
                <li>Short selling without borrowing: A trader sells a stock short without borrowing or locating shares
                    to deliver, leading to a failure to provide them when the buyer expects delivery.</li>
                <li>Administrative errors: Mistakes in processing trades, such as incorrect recording or communication
                    between brokers, can cause a failure to settle.</li>
                <li>Stock recall or unavailability: Borrowed shares are recalled by the lender, or shares are
                    unavailable for borrowing at settlement, causing a delivery failure.</li>
                <li>Insufficient inventory: The seller does not possess or cannot acquire the required securities due to
                    a shortage in the market.</li>
                <li>Market disruptions: Technical glitches, trading halts, or other unforeseen events can prevent timely
                    settlement of securities.</li>
            </ul>


        </div>

        <div class="page-section">
            <div class="section-heading">
                Persistent FTDs
            </div>
            <ul>
                <li>Indicators of market manipulation: Persistent FTDs may result from practices like <a [routerLink]="'/naked-short-selling'">naked short
                    selling</a>, where traders sell shares they haven't borrowed, artificially increasing supply and
                    pressuring the stock price downward.</li>
                <li>Liquidity and pricing issues: Ongoing FTDs can distort the true value of a security, creating supply
                    and demand imbalances that harm market stability and investor confidence.</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">
                T+35 Settlement Cycle
            </div>
            <p>The <a [routerLink]="'/t-plus-35'">T+35 settlement cycle</a>:  SEC Rule 204 gives market participants, such as market makers or authorized participants, up to 35 calendar days to deliver securities after a sale.  Various observations corroborate that this cycle can impact the price of a stock.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Other links
            </div>
            <div><a href="https://en.wikipedia.org/wiki/Failure_to_deliver" target="_blank">FTD on Wikipedia</a></div>
            <div><a href="https://www.investopedia.com/terms/f/failuretodeliver.asp" target="_blank">FTD on
                    investopedia</a></div>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>