<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Proposed Acquisition of eBay
        </h1>
        <h5 class="page-subtitle">
            In May 2026, GameStop formally proposed an acquisition of eBay
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>On May 3, 2026, GameStop formally proposed to purchase eBay for approximately <b>$56 billion</b>
                </li>
                <li>On May 12, 2026, eBay formally rejected the proposal, calling it ‘<b>neither credible nor
                        attractive</b>.’

                </li>
                <!-- <li>For official information from GameStop about eBay, please visit <a
                        href="https://investor.gamestop.com/ebay/" target="_blank" class="external-link"
                        rel="nofollow">investor.gamestop.com/ebay</a></li> -->
            </ul>

            <div class="quote-section-container">
                <div class="quote-section">

                    <p>“The more [eBay] fights me, the more . . . I’m not going to take no for an answer. I’m not going
                        away. I’m a pain in the ass.”</p>

                    <div class="quote-attribution">GameStop CEO Ryan Cohen</div>
                    <div class="quote-attribution-2">
                        <div style="margin-left: 10px;"><a href="https://archive.is/4NNjI" target="_blank"
                                class="external-link" rel="nofollow">May 8, 2026 comments with the Financial Times</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="page-section">
            <div class="section-heading">Background</div>
            <p>From 2021 through 2025, GameStop was undergoing an <a [routerLink]="'/turnaround'">unprecedented
                    turnaround</a>, during which time the company was focused on dealing with a poor outlook and its
                weakest financial
                position in its history.
                As of the <a [routerLink]="'/fy25'">fiscal year 2025 earnings results</a>, GameStop was in the strongest
                financial position in its history.
            </p>
            <p>Following the success of the turnaround, GameStop was in a position to go into <a
                    [routerLink]="'/reinvention'">its next phase</a>.
                The proposal to acquire eBay has been the first and most significant development of this phase yet. The
                possible acquisition of eBay may be the first of numerous eventual <a [routerLink]="'/m&a'">mergers and
                    acquisitions by GameStop</a>.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">Proposal to Acquire eBay</div>
            <p>GameStop has proposed a deal to buy eBay at a valuation of <b>$55.5 billion</b>, or <b>$125 per
                    share</b>, through a
                leveraged buyout.</p>
            <p>The proposed deal would provide half of that amount (approximately $28 billion) in cash (provided with a
                $20 billion loan from TD), and the other
                half in equity ownership in stock of the combined company of GameStop and eBay.</p>
            <div style="font-size:1.1em;">See <a href="https://investor.gamestop.com/ebay/" target="_blank"
                    class="external-link" rel="nofollow">investor.gamestop.com/ebay</a></div>
        </div>

        <div class="page-section">
            <div class="section-heading">Proposal to Acquire eBay Timeline</div>
            <p>On May 1st, 2026, The Wall Street Journal <a href="https://archive.is/7CK7v" target="_blank"
                    class="external-link" rel="nofollow">broke the news</a> that GameStop is preparing an offer to
                acquire eBay.</p>
            <p>This news was met with mixed reactions across social media, including bewilderment about how GameStop,
                the much smaller company valued at around $12 billion in market capitalization at the time, could
                possibly acquire a much larger company, eBay, valued at over $40 billion in market capitalization.</p>
            <p>On May 3rd, The Wall Street Journal published a followup article, <a href="https://archive.is/7CK7v"
                    target="_blank" class="external-link" rel="nofollow">GameStop Is Offering to Buy eBay for $56
                    Billion, CEO Ryan Cohen Says</a> which
                included statements from Ryan Cohen.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “There is nobody who is more qualified, based on my experience, to run the eBay business”
                    </p>
                    <p>...</p>
                    <p>“EBay should be worth—and will be worth—a lot more money ... I’m
                        thinking about turning eBay into something worth hundreds of billions of dollars.”</p>
                    <p>...</p>
                    <p>“It could be a legit competitor to Amazon”</p>
                    <p>...</p>
                    <p>“I’m going to be as focused on eBay and as personally involved as I have been in the GameStop
                        turnaround for the next few years.”</p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen</div>
                    <div class="quote-attribution-2">
                        <div style="margin-left: 10px;"><a href="https://archive.is/agKeM" target="_blank"
                                class="external-link" rel="nofollow">May 3, 2026 comments with the Wall Street
                                Journal</a></div>
                    </div>
                </div>
            </div>

            <p>Ryan Cohen has been interviewing with a variety of outlets to deliver his message publicly.</p>

            <ul>
                <li>May 13: <a href="https://x.com/APompliano/status/2054557773518504317" class="external-link"
                        rel="nofollow" target="_blank">
                    Interview with Anthony Pompliano</a></li>
                <li>May 9: <a href="https://www.youtube.com/watch?v=C1ij2nQymtA" class="external-link" rel="nofollow"
                        target="_blank">Interview with Justin Resells on YouTube</a></li>
                <li>May 9:
                    <a href="https://web.archive.org/web/20260509105533/https://www.businessinsider.com/gamestop-ryan-cohen-explains-why-hes-serious-about-ebay-2026-5"
                        class="external-link" rel="nofollow" target="_blank">Commentary with Business
                        Insider</a>
                </li>
                <li>
                    May 8: <a href="https://archive.is/4NNjI" class="external-link" rel="nofollow"
                        target="_blank">Commentary with the Financial Times</a>
                </li>
                <li>May 8: <a
                        href="https://www.wsj.com/podcasts/the-journal/can-gamestop-really-buy-ebay/1fdb98f2-57b7-49c1-8c72-db4213fe4b1d"
                        class="external-link" rel="nofollow" target="_blank">Interview in The Journal podcast by
                        WallStreetJournal</a></li>
                <li>May 5: <a
                        href="https://www.reddit.com/r/Superstonk/comments/1t4swpn/great_interview_w_ryan_cohen_by_tbpn/"
                        class="external-link" rel="nofollow" target="_blank">Interview with TBPN
                        Business</a></li>
                <li>May 5: <a href="https://www.reddit.com/r/Superstonk/comments/1t4o8zu/full_ryan_cohen_interview/"
                        class="external-link" rel="nofollow" target="_blank">Interview with Charles
                        Payne on Fox
                        Business</a></li>
                <li>May 4: <a
                        href="https://www.reddit.com/r/Superstonk/comments/1t3fa8s/full_interview_with_rc_on_cnbc/"
                        target="_blank" class="external-link" rel="nofollow">Interview with CNBC</a>
                </li>
                <li>May 3: <a href="https://archive.is/agKeM" target="_blank" class="external-link"
                        rel="nofollow">Commentary with the WallStreetJournal</a></li>
            </ul>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        The platform stagnated over the last decade. And I could do a lot with eBay. That's a very
                        strong
                        business and that's right up my alley.
                    </p>

                    <p>...</p>

                    <p>I want to own eBay forever.</p>

                    <p>...</p>

                    <p>
                        It's not something that's going to take a few years. It's something that's going to happen fast
                        fast fast because I'm putting leverege on this thing, and I don't want to run a leveraged
                        business.
                    </p>
                    <p>I'm not going to run it hot, I'm going to pay down the leverage and I am going to increase
                        earnings.</p>

                    <p>...</p>

                    <p>The goal here isn't to be an activist. The goal is: I want to own eBay, I want to run eBay. I
                        want that to be my baby. I want to build something much larger, and cost-cutting frankly is the
                        way to make the business more efficient to pay down the debt and innovate. </p>

                    <p>...</p>

                    <p>I'm focused on what I can build over a long period of time. And if I got my hands on eBay, I can
                        build something worth a lot and much larger than it is.</p>


                    <div class="quote-attribution">GameStop CEO Ryan Cohen</div>
                    <div class="quote-attribution-2">
                        <div style="margin-left: 10px;"><a
                                href="https://www.reddit.com/r/Superstonk/comments/1t4swpn/great_interview_w_ryan_cohen_by_tbpn/"
                                target="_blank" class="external-link" rel="nofollow">May 5, 2026 Interview with TBPN</a>
                        </div>
                    </div>
                </div>
            </div>





        </div>


        <div class="page-section">
            <div class="section-heading">Skepticism and Doubt</div>
            <p>Amidst the news of GameStop's proposal to acquire eBay, a variety of news outlets and commentators have
                provided their opinions on this move. Some of the sentiment has been quite negative and cynical.
            </p>
            <p>Ryan Cohen's <a
                    href="https://www.reddit.com/r/Superstonk/comments/1t3fa8s/full_interview_with_rc_on_cnbc/"
                    target="_blank" class="external-link" rel="nofollow">interview with CNBC</a> produced numerous
                reactions. <a href="https://archive.is/juHIH" target="_blank" class="external-link" rel="nofollow">An
                    article by businessinsider.com</a> dissected the
                "bizarre" interview and stated that "Cohen
                looks distracted out of the gate." <a
                    href="https://moneywise.com/investing/stocks/gamestop-stock-ryan-cohen-ebay-bid-interview"
                    class="external-link" target="_blank" rel="nofollow">An article by Moneywise.com</a> also called it
                "bizarre" and stated that it caused GameStop's stock to plummet, and that Cohen's answers came off as
                "rude, awkward, defensive, and ultimately unhelpful."</p>
            <p>Fortune.com published an article titled <a href="https://archive.is/3WZFK" target="_blank"
                    class="external-link" rel="nofollow">Why GameStop’s bid for eBay echoes one of the worst business
                    deals of all time</a>, emphasizing that GameStop would be overpaying for eBay, and the combined
                company would be overvalued.</p>
            <p>On <a href="https://www.youtube.com/watch?v=MflTfcUbFNA" target="_blank" class="external-link"
                    rel="nofollow">an episode of Pivot with Kara Swisher and Scott Galloway</a>, Kara Swisher said "This
                is a meme stocks -- this guy is such a moron. He's always trying to get that stupid stock up. The
                GameStop thing. And take advantage of people." Scott Galloway said: "There is no way they could do this.
                This should be a once sentence response from the board of eBay: 'You are not a serious people, period.'
                " </p>
            <!-- <p>
                
                Patrick Boyle on YouTube
                "The Dumbest Takeover Bid"
                https://www.youtube.com/watch?v=iBlu45HFruk


            </p> -->
            <p>In places like <a [routerLink]="'/reddit'">gme_meltdown on Reddit</a>, in typical fashion of cynicism and
                condescension, commenters are apparently
                celebrating at the tremendous bearishness of GameStop's proposal to acquire eBay, calling it <a
                    href="https://www.reddit.com/r/gme_meltdown/comments/1t9abn5/comment/ol0kj5a/" class="external-link"
                    rel="nofollow" target="_blank">"an amazing week,"</a> and stating <a
                    href="https://www.reddit.com/r/gme_meltdown/comments/1t7hnxy/comment/okp4h74/" class="external-link"
                    rel="nofollow" target="_blank">"I used to pray for
                    times like this."</a></p>
            <div style="font-size:1.1em;">See <a [routerLink]="'/conflict'">GME Conflict</a></div>
            <div style="font-size:1.1em;">See <a [routerLink]="'/conflict'">FUD</a></div>
        </div>

        <div class="page-section">
            <div class="section-heading">Proposal Rejected by Ebay</div>
            <p>On May 12, 2026, <a
                    href="https://www.sec.gov/Archives/edgar/data/1065088/000155278126000322/e26249_ex99-1.htm"
                    target="_blank" class="external-link" rel="nofollow">eBay formally rejected</a> GameStop's
                unsolicited proposal to acquire it, calling it ‘<b>neither credible nor attractive</b>.’
                Ryan Cohen <a href="https://x.com/ryancohen/status/2054396112723702007" target="_blank"
                    class="external-link" rel="nofollow">reposted</a> a <a
                    href="https://x.com/BoilerPaulie/status/2054193985535500741" target="_blank" class="external-link"
                    rel="nofollow">post on X</a> which provided a cynical interpretation of
                eBay's letter, suggesting that the true reason eBay rejected the offer is because the board of directors
                of eBay ‘remains focused on protecting the current regime and delivering “value”… mostly to [themselves]
                and [their] consultants.’
            </p>

        </div>



    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>