<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            "The Price is Fake"
        </h1>
        <h5 class="page-subtitle">
            Amidst an ongoing <a [routerLink]="'/conflict'">conflict</a> over GME, a commonly held sentiment among some
            GME shareholders is that the market trading price of GME stock is manipulated and therefore artificial
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="page-section">
            
        </div>

        


    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>