.footer-root {
    // display: flex;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 15px;
}





.footer-root-mobile {
    // display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}


.title {
    font-size: 0.8em;
    color: gray;
}


.socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-url {
    margin: 5px;
    font-size: 1.2em;
}

.icon-image {
    width: 30px;
    height: 30px;
    // padding: 2px;
    // background-color: white;
    // border: 1px solid white;
    border-radius: 30px;
}

.directory {
    width: 100%;
    min-width: 260px;
    max-width: 300px;
    text-align: left;
    // padding: 5px;
    flex-grow: 2;
}

.edit-page-link {
    width: 100%;
    min-width: 260px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: right;
    font-size: 0.8em;
    font-weight: normal;
    flex-grow: 2;
}


@media (min-width: 460px) {
    .footer-root {
        display: flex;
        flex-direction: column;

        .directory {
            order: 1;
            text-align: center;
        }

        .socials {
            order: 3;
        }

        .edit-page-link {
            order: 2;
            margin: 15px;
            // text-align: center;
        }
    }

    .footer-root-mobile {
        display: none;
    }
}

@media (min-width: 800px) {
    .footer-root {
        display: flex;
        flex-direction: row;

        .directory {
            order: 1;
            text-align: left;
        }

        .socials {
            order: 2;
        }

        .edit-page-link {
            order: 3;
            text-align: right;
            align-items: flex-end;
            margin:0px;
        }
    }


}

@media (max-width: 459px) {
    .footer-root {
        display: none;
    }

    .footer-root-mobile {
        display: flex;
    }
}