.footer-root{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 0.8em;
    color:gray;
}
.icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-url{
    margin: 5px;
    font-size: 1.2em;
}
.icon-image{
    width: 30px;
    height: 30px;

    // background-color: white;
    // border: 1px solid white;
    border-radius: 30px;
}