<div class="footer-root">

    <div class="title">
        Connect with gmewiki.org
    </div>
    <div class="icons">
        <a href="https://bsky.app/profile/gmewiki.bsky.social" target="_blank" class="icon-url">
            <img src="assets/icons/bluesky-logo.png" alt="Bluesky" class="icon-image">
        </a>

        <a href="https://x.com/gmewiki" target="_blank" class="icon-url">
            <img src="assets/icons/x-twitter-logo.png" alt="X" class="icon-image" style="border:1px solid white;">
        </a>

        <a href="https://www.reddit.com/r/gmewiki/" target="_blank" class="icon-url">
            <img src="assets/icons/reddit-icon.png" alt="reddit" class="icon-image">
        </a>

        <a href="https://github.com/jergy2/gme-wiki" target="_blank" class="icon-url">
            <img src="assets/icons/github-logo.png" alt="github" class="icon-image" style="background-color: white;">
        </a>
    </div>


</div>