.footer-root {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer-root-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.title {
    font-size: 0.8em;
    color: gray;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-url {
    margin: 5px;
    font-size: 1.2em;
}

.icon-image {
    width: 30px;
    height: 30px;
    // padding: 2px;
    // background-color: white;
    // border: 1px solid white;
    border-radius: 30px;
}

.directory{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    // padding: 5px;
}