<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            BBBY
        </h1>
        <h5 class="page-subtitle">
            BBBY / BBBYQ ticker - formerly Bed Bath and Beyond, now called 20230930-DK-Butterfly-1, Inc.
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>BBBY has a curious relationship to GME</li>
                <li>BBBY was one of the stocks that rallied significantly during <a [routerLink]="'/sneeze'">the
                        Sneeze</a>, thus giving it the 'meme stock' tag</li>
                <li><a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> made a move on BBBY in 2022 and some retail investors
                    followed; Ryan Cohen expressed intent to hold the board accountable</li>
                <li>On April 23, 2023, Bed Bath and Beyond declared bankruptcy. The BBBY ticker became BBBYQ</li>
                <li>On September 29, 2023, the stock was delisted, and the company's legal name was changed to
                    <b>20230930-DK-Butterfly-1, Inc.</b>
                </li>
                <li>The bankruptcy proceedings of DK-Butterfly are ongoing and continue to be discussed on social media
                </li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">
                See Also
            </div>
            <ul>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Bed_Bath_%26_Beyond" target="_blank" rel="nofollow"
                        class="external-link">Bed Bath & Beyond -
                        Wikipedia</a>
                </li>
            </ul>
        </div>

    </div>
    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>