<div class="component-root" id="goUp">
    <div class="page-content">
        <h1 class="page-title">
            GME Equity
        </h1>
        <h5 class="page-subtitle">
            Assessing the value of a GME share
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Breakdown
            </div>
            <div style="width: 100%; display:flex;flex-direction: column; align-items: center;">
                <div style="border-radius: 5px; background-color: gray; height: 400px; width: 400px;">
                    
                </div>
            </div>
        </div>
    </div>
</div>
