<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Financial Conflict
        </h1>
        <h5 class="page-subtitle">
            Factions with opposing interests continue to compete over the outcome of GME
        </h5>


        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Financial conflicts can exist when 2 or more factions with <b>opposing financial interests</b>
                    compete on a particular financial or market outcome

                </li>
                <li>A financial conflict has apparently emerged over the outcome of GME stock
                    <ul>
                        <li>One side, <a [routerLink]="'/bear-faction'"><b>GME short sellers</b>,
                                also known as "shorts" or "bears"</a>, gains financially <span>when the
                                price of GME goes down</span></li>
                        <li>The other side, <a [routerLink]="'/bull-faction'"><b>GME shareholders</b>, also known as
                                "bulls"</a>, gains financially
                            <span>when the price of GME goes up</span>
                        </li>
                    </ul>
                </li>
                <li>As the conflict has evolved, so too have the competing narratives put forth by both sides</li>
                <li>The conflict ends when one side capitulates
                </li>
                <li>It remains unclear what specific outcome can be expected in either direction, and in what kind of
                    time frame
                </li>
                <li>Following the successful <a [routerLink]="'/turnaround'">turnaround</a> of the company, GameStop has
                    moved into its next phase: <a [routerLink]="'/reinvention'">the reinvention of the company</a>
                    <ul>
                        <li>In May 2026, GameStop formally proposed an <a [routerLink]="'/ebay'">acquisition of eBay</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">
                Before the Conflict Began - mid 2010s
            </div>
            <p>In the mid 2010s, some participants in the financial markets, such as the hedge fund Melvin Capital, saw
                GameStop as a vulnerable company with a non-viable business model, and that the company therefore was
                ultimately destined for bankruptcy.</p>
            <p>With this point of view towards the company, they deployed an investment strategy of short-selling GME
                stock with the aim of profiting from the demise of the company.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “Specific to GameStop, we had a research-supported view well before the recent events [<a
                            [routerLink]="'/sneeze'">of January 2021</a>]. In fact,
                        we had been short GameStop since Melvin’s inception six years earlier [2014] because we believed
                        and
                        still believe that its business model – selling new and used video games in physical stores – is
                        being overtaken by digital downloads through the internet. And that trend only accelerated in
                        2020, when, because of the pandemic, people were downloading video games at home. As a
                        result, the gaming industry had its best year ever. But GameStop had significant losses.”
                    </p>

                    <div class="quote-attribution">
                        Gabe Plotkin, Founder and Chief Investment Officer, Melvin Capital Management
                        <a href="https://www.congress.gov/117/meeting/house/111207/witnesses/HHRG-117-BA00-Wstate-PlotkinG-20210218.pdf?utm_source=chatgpt.com"
                            target="_blank" class="external-link" rel="nofollow">February 18, 2021</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">GameStop’s Downfall - late 2010s</div>
            <p>For a <a [routerLink]="'/downfall'">period of time in the late 2010s</a>, GameStop was indeed showing
                signs of weakness and was struggling financially. Starting around 2018, GameStop began showing
                significantly reduced earnings, and was soon losing hundreds of millions of dollars per year. The video
                game industry was increasingly moving towards digital downloads, and the leadership of GameStop at that
                time had failed to properly address this.
            </p>
            <p>The COVID-19 pandemic put additional pressure on the company, futher accelerating losses in revenue and
                closures of <a [routerLink]="'/stores'">stores</a>.</p>

            <p>The <a [routerLink]="'/bear-case'">case against GameStop</a> was looking like a sensible bet. The stock
                market at the time indicated such — in 2019, the <a [routerLink]="'/short-interest'">short interest</a>
                of GME at that time started climbing rapidly. Notably, from 2019 through to early 2021, the short
                interest of GME stock exceeded 100%.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">
                Conflict Approaches: The Rise of the Apes
            </div>
            <p>Contrary to those that were betting against GameStop, some investors took the opposite position,
                believing that "the market was underestimating the prospects of GameStop’s legacy business and
                overestimating the likelihood of bankruptcy," and began investing in GME. Notably, <a
                    [routerLink]="'/michael-burry'">Michael
                    Burry</a> opened a GME position in late 2018; in early 2019 <a [routerLink]="'/ryan-cohen'">Ryan
                    Cohen</a> had referred to himself as "a large holder of GameStop" in an email to Michael Burry, and
                in late 2019 <a [routerLink]="'/keith-gill'">Keith Gill</a> opened a position in GME.</p>
            <p>Keith Gill studied GME stock and began sharing his view on social media as Roaring Kitty on YouTube and
                Twitter, and as DeepFuckingValue on <a [routerLink]="'/reddit'">Reddit</a>. In September 2019, he posted
                for the first time as DeepFuckingValue in WallStreetBets on Reddit, showing
                GME call options that expired in January 2021, drawing interest and skepticism from Reddit users.
                Keith Gill continued to post about GME and GameStop on social media throughout 2019 and 2020.
            </p>

            <p>By the second half of 2020, coinciding with Ryan Cohen's
                increased accumulation of GME stock and the rising price of GME, these social media posts began
                attracting significant attention. As the price of GME was rising, so too did the value of Keith Gill's
                position which he continued to share regularly on WallStreetBets, giving increased credibility and
                interest in his position by other social media users. This growing momentum caused other investors to
                buy shares of GME stock, which caused the price of the stock to rise further, which attracted even more
                attention across social media, in an accelerating feedback loop.
            </p>
            <p>
                The emergence of hundreds of thousands of retail investors, drawn towards this story through social
                media, completely changed the situation and narrative about GME, despite that GameStop was still very
                weak
                financially.
            </p>
            <p>
                During this turbulent time, the trading price of the stock was clearly detatched from the
                fundamental value of the company, yet the price continued to rise.

                The GME short interest was still very high amidst the rising price of the stock, and this was an
                important component of the entire narrative at the time. Many retail investors bought shares of GME not
                primarily because they thought it was a good
                investment into the company GameStop, but because they felt that they were going to profit from standing
                up against the short sellers that were betting on the demise of the company by buying the stock and
                creating a short squeeze.
            </p>
            <p>
                A commonly found sentiment was that
                although individually most of these investors were small
                and simple compared to the much larger and more sophisticated hedge funds they found themselves against,
                that, together they were stronger — "apes together strong." Thus emerged on WallStreetBets the somewhat
                self-deprecating moniker "apes" to refer to the swarm of hundreds of thousands of individuals that were
                buying GME stock with shared enthusiasm and financial interest.
            </p>



        </div>
        <div class="page-section">
            <div class="section-heading">
                Conflict Materializes: The Sneeze of January 2021
            </div>
            <p>
                By January 2021, amidst great enthusiasm by retail shareholders across social media, the price of GME
                stock was rising exponentially with no signs of slowing down.

                It was at this point when there were clearly two sides with opposing interests
                competing over the outcome of GME. As the price of the stock continued to rise, the apes believed they
                were winning, and arguably, they were.
                This situation appeared as if it was going to continue until the GME short sellers clearly
                capitulated entirely, and the multitude of GME investors attained a clear victory. That did not happen.
            </p>

            <p>
                On January 28, 2021, approximately 178 financial institutions, in unison, placed GME (and some other
                stocks) in "sell-only", restricting the
                ability for investors to purchase shares of GME. These restrictions remained in place for several days.
                This effectively neutralized the momentum of the rising
                price of GME stock, and the price of GME began to fall, against the interest of the hoard of retail
                investors that were buying the stock.
                Many GME investors felt that this action was an unfair intervention by the incumbent Wall Street
                institutions seeking to protect their own interests. Regarding this event, Jim Cramer would later admit
                that "<a [routerLink]="'/market-tactics'">it was totally rigged</a>."
            </p>

            <div class="quote-section-container">
                <div style="display: flex;flex-direction: row; width: 100%; justify-content: center;">
                    <div class="quote-section" style="flex-grow: 2;">
                        <p>
                            “As for what happened in January, others will have to explain it.
                            <br><br>It’s alarming how little we
                            know about the inner workings of the market.”
                        </p>

                        <div class="quote-attribution">
                            <a [routerLink]="'/keith-gill'">Keith Gill</a>
                            <a href="https://www.youtube.com/watch?v=OARREl39syQ" target="_blank" class="external-link"
                                rel="nofollow" style="margin-left: 4px;"> February 18, 2021</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “It was totally rigged. It's okay. It was rigged. I called it out. In
                        one of
                        those movies I called it out. I don't want any touching that. I like great American stories. I
                        don't
                        like the hokum.”
                    </p>

                    <div class="quote-attribution">
                        Jim Cramer
                        <a href="https://www.reddit.com/r/Superstonk/comments/10siamz/a_new_hero_is_born_shoutout_to_nathan_in_florida/?sort=top"
                            target="_blank" class="external-link" rel="nofollow">Mad Money segment, February 3, 2023</a>
                    </div>
                </div>
            </div>
            <p>
                The events of January 2021 are commonly referred to as "the GameStop short squeeze," or, by some GME
                shareholders as "<a [routerLink]="'/sneeze'">the GME sneeze</a>." The movie Dumb Money (2023) gives a
                dramatized portrayal of these events.
            </p>
            <p>

            </p>
            <p>
                By the beginning of February 2021, the price of GME had
                lost most of its gains.
                Despite the loss of momentum and the falling price of GME, many investors continued to hold on to their
                shares. In late February, for unclear reasons, the price of GME
                began to rise significantly once again, and remained elevated throughout the remainder of 2021.
            </p>

        </div>




        <div class="page-section">
            <div class="section-heading">After the Sneeze</div>
            <p>The sneeze of January 2021, also known as "the GameStop short squeeze," did not resolve into a clear
                victory for either side of the conflict.
            </p>

            <p>
                While the reported short interest of GME did drop significantly from its
                highs of well over 100% down to around 20%, there continued to be a strong sentiment of skepticism
                against the company. There was no total capitulation by the short sellers like many GME investors were
                potentially hoping for.
            </p>

            <p>
                Most of the retail investors of GME that were searching for a quick return on investment did not
                attain one, yet, they did not leave; many continued to hold on to their shares, and continued to
                investigate the peculiar nature of GME stock. Some believed, that
                despite the significant drop in short interest, that "<a [routerLink]="'/shorts-never-closed'">shorts
                    never closed</a>." The suspicion was that, though some short sellers may have exited, there
                continued to
                exist
                significant short obligations that were being hidden in some form or another, and that the short sellers
                and <a [routerLink]="'/media-vs-gme'">complicit financial media</a> were lying about it. There was a
                sentiment that
                this entire situation amounted to systemic fraud, involving, among other practices, <a
                    [routerLink]="'/naked-short-selling'">naked short selling</a>.
            </p>
            <p>
                Around this time, the share price of GME was still very high relative to the actual financial
                performance of the company, which was saddled
                with debt and losing hundreds of millions of dollars per year.
            </p>
            <p>
                In 2020, Ryan Cohen had become the largest shareholder of this weak company. He received seats on the
                board of directors of the company, and eventually was elected as chairman of the board in June 2021, and
                the entire board of directors was replaced.
                Under Cohen's direction, GameStop completed <a [routerLink]="'/atms'">2 at-the-market equity
                    offerings</a>, <b>raising $1.7 billion for the company</b> by selling shares at these
                elevated share prices. This influx of cash proved very helpful in stabilizing the financial standing of
                the company; GameStop paid off its debt, and used the remaining cash to generate interest income as well
                as fund the operations of the business. This significant amount of money could not have been raised so
                easily were it not for the preceding events that drove up the price of the stock.
            </p>
            <p>
                While the company was able to raise cash and buy itself some time and avoid bankruptcy in the short
                term, it was still not in a great position.
                Revenue was continuing to decline, and the video game industry was increasingly moving away from
                physical sales that the company was dependent upon.
            </p>

        </div>




        <div class="page-section">
            <div class="section-heading">Competing Sentiments</div>
            <p>
                Despite the poor outlook for the company in 2021, many GME
                shareholders that invested prior to and during the sneeze continued to have strong conviction in GME as
                an investment.
                Based upon the belief that "shorts never closed," they believed that the events of January 2021 <a
                    [routerLink]="'/sneeze-vs-squeeze'">did not
                    qualify as a proper short squeeze</a>, and that inevitably a real short squeeze was still to come,
                something referred to as "<a [routerLink]="'/moass'">MOASS</a>," or, the "mother of all short
                squeezes."
                Many bullish investors believed it was inevitable and imminent, though it never happened. Despite this,
                and though the company had a poor outlook, many continued to hold on with the belief that it was
                inevitably going to happen for some reason or another.
            </p>
            <p>
                For these beliefs, the retail GME investors were often derided and discredited by the mainstream
                financial media as well as on social media, for example in places such as <a
                    [routerLink]="'/reddit'">r/gme_meltdown on Reddit</a>. Retail GME shareholders have repeatedly been
                portrayed as conspiratorial, delusional, and cultish.
            </p>
            <p>
                GameStop is often portrayed as a dying company with an outdated business model in a diminishing industry
                of physical video game sales. From this point of view, it would appear that there is no future where
                GameStop
                could be a successful business, and that bankruptcy is inevitable. GME is often portrayed as an invalid
                investment, that it is nothing more than a <a [routerLink]="'/meme-stock'">meme stock</a>.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">"Lock the Float" - DRS</div>
            <p>Retail GME investors — the apes — remained confident in their view, despite having not achieving their
                desired
                outcome.
                Hundreds of thousands of these investors were gathered on social media, mostly on Reddit at the time, in
                the r/superstonk subreddit, where they discussed the stock, discussed theories, discussed why they
                believed that shorts never
                closed, discussed the inevitability of MOASS, among many other things that connected to their view on
                GME.
            </p>
            <p>
                Over the course of 2021, throughout the many discussions among these hundreds of thousands of investors,
                they eventually <a [routerLink]="'/drs-timeline'">discovered DRS</a>; they learned that holding shares
                in a brokerage account meant that they were not actually the owner and holder of real shares, but rather
                share entitlements, or "beneficially owned" shares.
                They learned that real shares are all accounted for in the books of the issuing company's transfer
                agent, and that the way that the stock market is set up is that the large majority of all these real
                shares are held by the central Wall Street financial institution Cede & Co., an entity of the DTCC.
                This arrangement effectively gives Wall Street
                a large opaque pool of fungible shares which are internally distributed at their discretion as share
                entitlements to all of
                the financial institutions, including stock brokers where retail investors can buy share entitlements.
            </p>
            <p>
                The retail investors suspected that incumbent Wall Street
                institutions, using a variety of methods both legitimate and illegal, had fraudulently fabricated large
                quantities of GME share entitlements, far more than the number of actual real shares issued by GameStop.
                Since the DTCC's records of distributed share entitlements are not provided to the public, there is no
                way to confirm the actual number of share entitlements that have been distributed.
            </p>
            <p>In their discussions on social media, they attempted to estimate how many shares (share entitlements)
                they collectively held by gathering data and conducting statistical analysis on that data. A sentiment
                emerged which
                concluded that the apes must have been holding more shares of GME than were ever issued by GameStop.</p>
            <p>
                From this view, an idea emerged — the retail investors were going to "lock the float." They
                figured that they would prove the existence of the systemic fraud by <a [routerLink]="'/drs'">directly
                    registering</a> all of the shares of GME that they could, and
                in doing so, eventually reveal that there were in fact far more share entitlements than real shares of
                GME issued by GameStop.
            </p>
            <p>
                In the second half of 2021, GME investors began contacting their brokers and requesting their shares be
                directly registered, gaining full ownership and possession of their shares.
                On December 8, 2021, GameStop reported their Q3 2021 earnings results, reporting for the first time
                number of their shares of common stock were directly registered — 6.9%.
                Throughout 2022, these investors continued to discuss this DRS initiave and continued to register their
                shares.
            </p>

            <app-drs-gme-chart></app-drs-gme-chart>

            <p>Eventually, the momentum of directly registering shares began to slow down, and peaked at 25.2%
                in Q1, 2023. The percentage of shares of GME that were directly registered
                plateaued around 25% until 2024 when GameStop raised money by <a [routerLink]="'/atms'">issuing
                    shares</a>.
            </p>
            <p>
                Though it was an impressive effort with billions of dollars worth of GME shares directly registered by
                nearly 200 thousand individual investors, the initiative to lock the float did not succeed in its
                original objective, and thus the apes were unable to prove in this way the systemic
                fraud of GME that they suspected to exist.
            </p>
            <p>
                Regardless, most of those shares that were directly registered have stayed directly
                registered.
                This shows that what started for many apes as something they thought would be an
                opportunity to get a quick return on investment during the period of time around the sneeze of January
                2021, eventually transformed into long term direct holding of GME shares ever since. Even throughout all
                of
                2022 and 2023, while GameStop was still losing money and the stock price of GME continued trending
                downward, the majority of these investors held on to their directly registered shares.
            </p>
        </div>


        <div class="page-section">
            <div class="section-heading">The Turnaround of GameStop</div>
            <p>Upon replacing the board of directors and becoming chairman in 2021, Ryan Cohen was in the position to
                initiate a
                <a [routerLink]="'/turnaround'">turnaround of GameStop</a>.
            </p>
            <p>Throughout the years of the turnaround, the <a [routerLink]="'/media-vs-gme'">financial media</a>
                were consistently unfavorable towards GameStop,
                continuously portraying it as a dying company without a bright future.</p>
            <p>Under Ryan Cohen's leadership, the company closed unprofitable <a [routerLink]="'/stores'">stores</a>,
                cut costs, raised cash, improved efficiencies, and
                modernized the business. It was not a quick process, and for the first two years the company continued
                to lose
                hundreds of millions of dollars per year.</p>
            <p>After 3 years of turnaround efforts, GameStop reported full-year net profitability in their <a
                    [routerLink]="'/fy23'">fiscal year 2023 results</a>, their first profitable year in 6 years.

                While the net income was miniscule at only $6.7 million, it was positive, and showed clear evidence that
                the company was improving, despite the endless amounts of <a [routerLink]="'/fud'">fear, uncertainty,
                    and doubt</a> that were put out by the critics. Most financial news that reported on GameStop's
                fiscal year 2023 results chose not to report about GameStop's positive net income at all.
            </p>
            <p>
                Starting in 2024, GameStop began to pivot towards <a [routerLink]="'/trading-cards'">graded trading
                    cards</a>.
                This move has shown strong results thus far, and has made GameStop a more durable business, especially
                amidst the continued trend of video games moving from physical to digital sales.
            </p>
            <p>In their <a [routerLink]="'/fy24'">fiscal year 2024 results</a>, GameStop showed significantly improved
                earnings, and in their <a [routerLink]="'/fy25'">fiscal year 2025 results</a>, GameStop reported their
                most profitable year in the history of the company, the highest stockholders' equity in the history of
                the company, and strong operational profitability for the first time in 8 years.
            </p>

            <app-turnaround-table></app-turnaround-table>
            <p>The results of fiscal year 2025 are clear: GameStop's turnaround has been a success, despite all of the
                skepticism.</p>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “Even from when I made my original investment, I was fascinated at how much <b>hatred</b>
                        there was towards an investment in GameStop. It was one of those things where, you know, you
                        would
                        tell someone you invested in GameStop and they'd be like, "What? What are you invested in
                        GameStop
                        for?"
                    </p>
                    <p>
                        And so, there have always been a lot of people on the other side of the trade. And, I have
                        my
                        own
                        personal views on it.
                        I think that it’s un-American to bet against business, but it’s a free market. If you want
                        to be
                        on the other side, no problem.
                        If things work out, those shorts ultimately need to cover, and that could ultimately be a
                        good thing. I don't think it's all bad.
                    </p>
                    <p>
                        I don’t really have much respect for short sellers, and someone who's ultimately not smart
                        enough
                        to find someone successful, they have to bet on someone’s failure. But if things work out,
                        then
                        they gotta cover. So, <b>let them short</b>.”
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                                target="_blank" class="external-link" rel="nofollow">July 15, 2025</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">2026: Continued Skepticism</div>
            <p>Seeing that the company is now undeniably in a financially healthy position, in fact, stronger than it
                has ever been in its history, then objectively, it no longer makes sense to view GameStop as a dying
                business with a poor outlook, yet this sentiment is still commonly pushed by the critics.
            </p>


            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “GameStop is a very different company than it was five years ago.

                        Five years ago, GameStop was a dying brick and mortar retailer.

                        Hardware is cyclical, software went digital, and all the skeptics believed GameStop was dead.

                        GameStop was on the verge of bankruptcy. Since then, we have rebuilt the company.”
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                    </div>
                    <div class="quote-attribution-2"><a
                            href="https://www.reddit.com/r/GME/comments/1upy2ni/ryan_cohens_statements_from_the_2026_annual/"
                            target="_blank" class="external-link" rel="nofollow">2026 Annual Meeting of Stockholders</a>
                    </div>
                </div>
            </div>

            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “I do think that the media, in order to give you credibility, they're gonna have to acknowledge
                        that all of their takes on GameStop just being a meme stock were wrong, and that there is
                        actually a business here, and that there is value being created here, and that they missed that,
                        and they got the story completely wrong.”
                    </p>
                    <p>
                        “You can't have everyone say that they were wrong about GameStop because it ruins their
                        credibility. To maintain their credibility, they have to continue to make you seem less
                        credible.”
                    </p>
                    <div class="quote-attribution">David Friedberg
                        <div style="margin-left: 10px;"><a [routerLink]="'/rc-interview-2026-06-23'">Ryan Cohen
                                interview with David Friedberg, June 23, 2026</a></div>
                    </div>
                </div>

            </div>
        </div>


        <div class="page-section">
            <div class="section-heading">Victory Condition: Capitulation of a Faction</div>
            <p>GME bears win when their opponents, the bulls, give up on GameStop and capitulate and sell their
                shares
                of GME. In such a scenario, shareholders have lost faith in the outlook of the company, sell their
                shares, and the stock price plummets. As the price goes down, the value of the short position held
                by
                GME bears goes up. In the best case scenario for GME bears, GameStop goes bankrupt and the stock
                gets
                delisted.</p>
            <p>GME bulls win when their opponents, the bears, give up on their GME short position and close out of
                it.
                Alternatively, GME bears could be forced to close their position via margin call, which would
                produce
                the same outcome. In order for a short position to be closed, the holder of that position must buy
                shares in order to return them to the party that they originally borrowed them from. In such a
                scenario,
                short sellers are buying back shares of GME, causing the price of GME to rise, thus increasing the
                value
                held by shareholders.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Recognition of the Existence of a Conflict Over GME</div>
            <p>Oftentimes, GameStop is treated by the media with cynicism, negativity, and even plain dishonesty.
            </p>
            <p>On rare occasion, however, media or media personalities acknowledge that there is actually more to
                GameStop than what is just superficially reported.</p>
            <ul>
                <li>"When asked about Gamestop i just say it is a controlled stock and not more than that. The
                    haters
                    know exactly what i mean"<br>
                    - Jim Cramer, <a href="https://x.com/jimcramer/status/1544796911785361408" target="_blank"
                        class="external-link" rel="nofollow">July 6,
                        2022</a></li>
                <li>April 6, 2024: Reporting on GameStop's FY 2023 earnings, Reuters.com published <a
                        href="https://www.reuters.com/breakingviews/gamestop-saga-ends-winner-capital-markets-2024-04-03/"
                        target="_blank" class="external-link" rel="nofollow">an article</a> titled: "GameStop saga
                    ends.
                    Winner: capital markets"<br>
                    In this article, the authors stated: "the beauty of a good trade is that there exists a winner
                    and a
                    loser; A thesis is tested, and one view will prevail. In this case, “shorts” were right. That
                    leaves
                    a lesson for those nursing dwindled bank accounts. The meme army may have lost, but perhaps next
                    time will be clearer-eyed." </li>
            </ul>
        </div>






        <!-- <div class="page-section">
            <div class="section-heading">Historical Financial Conflicts</div>
            <p>There have been financial conflicts in history that this GME conflict can be compared to.</p>
            <p>For example, the case of Bill Ackman shorting herbalife versus Carl Icahn who took the counter position
                and eventually forced Ackman's capitulation.</p>
        </div> -->



    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>
