<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Swaps
        </h1>
        <h5 class="page-subtitle">
            A derivative instrument
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>

        
        
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>