<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Financial Media Narratives on GME
        </h1>
        <h5 class="page-subtitle">
            Financial media is often demonstrably biased, cynical, and misleading when reporting about GME and GameStop
        </h5>
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>When there are two mutually exclusive competing narratives, this suggests the existence of a <a
                        [routerLink]="'/conflict'">conflict</a>.</li>
                <li>
                    Narrative control is a common component of conflicts, including financial conflicts. It is used to
                    shape public perception,
                    influence market behavior, and to avoid regulatory scrutiny.
                </li>
                <li>
                    Signs of narrative control include: consistent negative framing, omission
                    of positive facts (e.g. deliberately failing to mention <a [routerLink]="'/fy23'">GameStop's
                        profitability</a>),
                    discrediting the opposition (e.g. referring to GME as a <a [routerLink]="'/meme-stock'">"meme
                        stock"</a>, referring to GME shareholders as delusional
                    cultists), as well as coordinated messaging across a
                    variety of platforms.
                </li>
                <li><b><a href="https://en.wikipedia.org/wiki/Fear,_uncertainty,_and_doubt" target="_blank"
                            class="external-link" rel="nofollow">Fear,
                            Uncertainty, and Doubt (FUD)</a></b> is a commonly used tactic where negative headlines,
                    alarming predictions, and worst-case scenarios are repeatedly emphasized to shake confidence, to
                    create anxiety, and for the ultimate objective of influencing investors to sell their stock.</li>
                <li>
                    Most financial media is <b>demonstrably biased</b>, <b>cynical</b>, <b>misleading</b>, and
                    <b>dishonest</b> when
                    reporting about GME and
                    GameStop.
                </li>
                <li>This behavior of pushing negative sentiment about GameStop is beneficial to the faction that has a
                    financial interest in the share price of GME going down.</li>
            </ul>
        </div>
        <div class="page-section">
            <div class="section-heading">"Naked Shorts, Yea"</div>
            <p>During heightened levels of enthusiasm and social media activity in 2021, GME investors were digging deep
                into stock market research to understand the events and the aftermath of the <a
                    [routerLink]="'/sneeze'">January 2021 Sneeze</a>.</p>
            <p>Among the discussion was the topic of <a [routerLink]="'/naked-short-selling'">naked short selling</a>,
                an illegal practice perpetrated by some financial market participants. Many GME investors have suspected
                that naked short selling has been a significant contributing factor in GME's curious circumstances.</p>
            <p>On June 4, 2021, Melissa Lee from CNBC accidentally blurted out "<a
                    [routerLink]="'/cnbc-naked-shorts'">naked shorts, yea</a>," in response to the comment "there are a
                lot of short sellers borrowing stock that they didn't have." This incident appeared to have been a
                blunder that affirmed the discussions being had at the time by GME investors.</p>
            <p>A few days later, CNBC put out a segment specifically on the topic of naked short selling, but <b>failed
                    to address any notion of naked short selling of GME stock</b>. This is an example of narrative
                control, where
                the financial media superficially discusses a relevant topic, creating the impression that they actually
                do talk about these things, while deliberately avoiding any depth and specific sensitive details.</p>
        </div>
        <div class="page-section">
            <div class="section-heading">"Sell The Stock First and Ask Questions Later"</div>
            <p>In <a href="https://www.cnbc.com/video/2021/09/09/gamestops-earnings-call-was-absolutely-shameful-loops-chukumba.html"
                    target="_blank" class="external-link" rel="nofollow">a segment from September 2021</a>, CNBC invited
                Anthony Chukumba of Loop Capital to
                talk about GME.
                In an emotion-filled rant, while directly addressing "<a [routerLink]="'/superstonk'">the folks who are
                    on Reddit</a>", Chukumba tells GME
                shareholders to "<b>sell the stock first and ask questions later</b>". </p>
            <p>This segment was one of numerous in which Anthony Chukumba went on CNBC to denigrate GameStop and its
                shareholders, demonstrating that the narrative continued to be in conflict.</p>
            <p>Here is <a
                    href="https://www.reddit.com/r/Superstonk/comments/pkvxdz/cnbc_interview_trying_hard_to_create_a_narrative/"
                    target="_blank" class="external-link" rel="nofollow">one of many discussions</a> had on r/superstonk
                about this incident.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">CNBC Demonstrates Awareness and Contempt for the GME Shareholders of Superstonk
            </div>
            <p>On August 29, 2022, there was an awkward situation on a CNBC segment where they immediately ended a
                segment
                after the guest mentioned "shorts covering." This was obviously noticed and <a
                    href="https://www.reddit.com/r/Superstonk/comments/x0o988/cnbc_cuts_off_guest_immediately_for_mentioning/"
                    target="_blank" class="external-link" rel="nofollow">discussed</a> by the users of
                <a [routerLink]="'/superstonk'">r/superstonk</a>.
            </p>
            <p>The very next day, CNBC put out a short segment <a
                    href="https://www.reddit.com/r/Superstonk/comments/x1qgr9/its_glorious_cnbc_feeling_the_need_to_explain/"
                    target="_blank" class="external-link" rel="nofollow">specifically
                    addressing these discussions that were happening on r/superstonk</a>, in defence of themselves.</p>
            <p>The segment was titled "Reddit and Weep; Abrupt Goodbye Triggers Conspiracy Theories." This incident was
                another demonstration of the ongoing conflict over the GameStop narrative. Investors on social media
                continue to scrutinize the misleading and cynical reporting on GME and the stock market, and outlets
                such as CNBC are observing those discussions of them that are happening on Reddit.</p>
            <p>Yet, curiously, while they acknowledged that these kinds of conversations were happening on "Reddit,"
                they never mention specifically where on Reddit these conversations were happening, even though they
                were happening on the largest GME subreddit, r/superstonk.</p>
            <p>This incident therefore is evidence of CNBC's awareness and contempt for GME shareholders on
                r/superstonk, even though they continue to intentionally omit mentions of the name superstonk.</p>
        </div>
        <div class="page-section">
            <div class="section-heading">"It Was Totally Rigged"</div>
            <p>On February 3, 2023, on a Mad Money segment with Jim Cramer, <a
                    href="https://www.reddit.com/r/Superstonk/comments/10siamz/a_new_hero_is_born_shoutout_to_nathan_in_florida/?sort=top"
                    target="_blank" class="external-link" rel="nofollow">Nathan from Florida asked Jim Cramer</a>: "As
                we saw with GameStop a few years ago,
                big firms have the power to shut down trading if they're losing money... how is that less rigged than
                crypto?"</p>
            <p>To which, Cramer replied: "<b>It was totally rigged. It's okay. It was rigged.</b> I called it out. In
                one of
                those movies I called it out. I don't want any touching that. I like great American stories. I don't
                like the hokum."</p>
            <p>This confession from Cramer about GME is additional evidence of his awareness of the existence of <a
                    [routerLink]="'/conflict'">an ongoing conflict pertaining to GME</a>. Previously, on <a
                    href="https://x.com/jimcramer/status/1544796911785361408" target="_blank" class="external-link"
                    rel="nofollow">July 6, 2022, Cramer
                    tweeted</a>: "When asked about Gamestop i just say it is a controlled stock and not more than that.
                The haters know exactly what i mean"</p>
        </div>

        <!-- <div class="page-section">
            <div class="section-heading">This is Financial Advice</div>
            <p>September 30, 2023</p>
        </div> -->

        <div class="page-section">
            <div class="section-heading">The Media Doesn’t Like To Talk About GameStop’s Profitability</div>
            <p>In March 2024, GameStop reported <a [routerLink]="'/fy23'">fiscal year 2023 results</a>, demonstrating
                full-year profitability for the first time in 6 years, despite decreasing revenue. This was a
                significant achievement and a demonstration of the reality of GameStop's improving financial health.</p>
            <p>Any fair and neutral reporting on these earnings results would make clear that GameStop's bottom line was
                positive, even in the face of reduced revenues. While it was a true negative fact that GameStop's
                revenue was down, it was also a true positive fact that GameStop's net income was significantly up, and
                positive even.</p>
            <p>Yet, most of the reporting on these earnings results failed to mention the fact of GameStop's
                profitability at all. The headlines were highly bearish, and emphasized the true negative facts of
                GameStop's shrinking legacy business while ignoring true positive facts of GameStop's financial health.
            </p>
            <p>Of the financial media articles reporting on GameStop's earnings, more articles omitted mention of
                GameStop's full-year profitability than articles that did report it. An unsuspecting news reader would
                likely be left with the impression that GameStop's financial outlook was bad, which was the intended
                outcome of this reporting behavior.</p>
            <p>Failing to mention GameStop's positive bottom line is <b>a deliberate decision</b>. It goes beyond simply
                reporting true negative facts about GameStop. <b>It demonstrates a clear negative bias in the media's
                    reporting on
                    GameStop.</b> </p>
            <p>When GameStop reported <a [routerLink]="'/fy24'">fiscal year 2024 results</a> one year later, it was more
                difficult for the media to ignore the undeniably significant improvements to GameStop's profitability,
                though the media reporting continued to push negative sentiment despite these profits.</p>
        </div>
    </div>
    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>