<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GameStop Retro
        </h1>
        <h5 class="page-subtitle">
            In 2026, GameStop launched Retro sections in all U.S. stores
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>In 2024, GameStop began rolling out Retro in some <a [routerLink]="'/stores'">stores</a></li>
                <li>In 2026, Retro was launched in all U.S. locations</li>
                <li>The initiative targets a global retro console market that reached an estimated $3.8 billion in 2025
                    and is projected to reach $8.5 billion by 2033, according to a report from Co-op Board Games, per <a
                        href="https://www.investing.com/news/stock-market-news/gamestop-to-launch-retro-sections-in-every-us-store-by-may-4636165"
                        target="_blank" rel="nofollow" class="external-link">Investing.com</a></li>
                <li>GameStop is well-positioned to deal in this market with its network of stores and experience with
                    trade-ins</li>
            </ul>
        </div>

        <div class="page-section">

            <div style="width: 100%; display:flex;flex-direction: column;align-items: center; margin-bottom: 40px;">
                <img src="assets/info-pages/retro.webp" alt="GameStop Retro"
                    style="max-width: 100%; width: 400px; border-radius:10px;">
            </div>
        </div>

    </div>

    <app-footer class="app-footer"></app-footer>
</div>