<div class="choose-chart-root">


    <div class="controls-row">

        <div class="chart-options-buttons">
            <div *ngIf="showMoreChartOptions" class="chart-options-row">
                <div class="chart-options-row-title">Chart type</div>
                <div class="chart-options-group">
                    <button class="chart-option-button" [ngClass]="{'selected': chartIsRevenueVsIncome}"
                        (click)="onClickChartOption(EarningsChartOption.REVENUE_VS_NET_INCOME)">Revenue and Net Income
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsRevenueVsCost}"
                        (click)="onClickChartOption(EarningsChartOption.REVENUE_VS_COST)">Revenue vs Cost of Sales
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsRevenueVsGrossProfit}"
                        (click)="onClickChartOption(EarningsChartOption.REVENUE_VS_GROSS_PROFIT)">Revenue vs Gross
                        Profit
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsOperations}"
                        (click)="onClickChartOption(EarningsChartOption.OPERATING_INCOME)">Operating Income
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsOperationsVsSGA}"
                        (click)="onClickChartOption(EarningsChartOption.OPERATIONS_VS_SGA)">Operating Income versus SG&A
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsGrossProfitVsSGA}"
                        (click)="onClickChartOption(EarningsChartOption.GROSS_PROFIT_VS_SGA)">Gross Profit versus SG&A
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsInterest}"
                        (click)="onClickChartOption(EarningsChartOption.INTEREST_INCOME)">Interest Income
                    </button>

                    <button class="chart-option-button" [ngClass]="{'selected': chartIsEquity}"
                        (click)="onClickChartOption(EarningsChartOption.STOCKHOLDERS_EQUITY)">Stockholders' Equity
                    </button>
                </div>
            </div>
            <div *ngIf="showMoreChartOptions" class="chart-options-row">
                <div class="chart-options-row-title">Time period</div>
                <div class="chart-options-group">
                    <button class="chart-option-button" [ngClass]="{'selected': periodIsAnnual}"
                        (click)="onClickChartPeriod('ANNUAL')">Annually</button>
                    <button class="chart-option-button" [ngClass]="{'selected': periodIsQuarter}"
                        (click)="onClickChartPeriod('QUARTER')">Quarterly</button>
                    <!-- <button class="chart-option-button"  [ngClass]="{'selected': periodIsQoverQ}"
                        (click)="onClickChartPeriod('QOVERQ')">Quarter over
                        quarter</button> -->
                </div>
            </div>
        </div>
        <div>
            <button (click)="onClickMoreCharts()" class="more-charts-button" *ngIf="!showMoreChartOptions">
                <fa-icon [icon]="faChartSimple" style="color:rgb(0, 89, 255);"></fa-icon>
                More charts</button>
            <button (click)="onClickMoreCharts()" class="more-charts-button" style="font-size:0.8em; color: gray;"
                *ngIf="showMoreChartOptions">
                <fa-icon [icon]="faX"></fa-icon>
            </button>
        </div>
    </div>

    <div class="section-heading" style="margin-bottom: 10px; margin-top: 5px;">{{ chartTitle }}</div>
    <!-- <div *ngIf="isLoading && isBrowser" style="height: 650px; background-color: rgba(255, 255, 255, 0); width: 100%;" ></div> -->
    <app-earnings-chart class="earnings-chart-container" *ngIf="!isLoading && isBrowser"></app-earnings-chart>

</div>