<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Teddy
        </h1>
        <h5 class="page-subtitle">
            Teddy.com - a website that sells children's books authored by Ryan Cohen
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Ryan Cohen authored some children's books that are for sale on Teddy.com</li>
                <li>Investors speculate that there is more purpose to the existence of Teddy than is apparent</li>
            </ul>
        </div>
    </div>

    <div class="page-section">
        <div class="section-heading">
            See Also
        </div>
        <ul>
            <li>
                <a href="https://teddy.com" target="_blank" class="external-link" rel="nofollow">Teddy.com</a>
            </li>
        </ul>
    </div>


    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>