.table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    border: 1px solid black;
    // font-size: 1.05em;
    background-color: rgba(0, 0, 0, 0.01);
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}

td{
    // border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
}
.top-row{
    font-weight: bold;

}
.number-cell{
    text-align: right;
}

.chart-container{
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.chart{
    width: 100%;
    max-width: 1200px;
}
.chart-title{
    font-weight: bold;
}