<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            "Shorts never closed"
        </h1>
        <h5 class="page-subtitle">
            Amidst an ongoing <a [routerLink]="'/conflict'">conflict</a> over GME, a commonly held sentiment among some
            GME shareholders is that there
            remains significant obligations by GME short sellers that must eventually be resolved
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>During the <a [routerLink]="'/sneeze'">sneeze</a> of January 2021, the <a
                        [routerLink]="'/short-interest'">short interest</a> of GME exceeded 100%, indicating a
                    tremendous quantity of shares sold short that must eventually be closed</li>
                <li>The sneeze was not permitted to play out naturally. On January 28, 2021, a large number of financial
                    institutions (<a
                        href="https://www.reddit.com/r/GME/comments/1ivm2ei/proof_apex_clearing_demanded_gme_stock_buying_be/"
                        class="external-link" rel="nofollow" target="_blank">approximately 178</a>), in unison,
                    prevented any further purchasing of shares of GME</li>
                <li>This drastic maneuver worked to the benefit of those that were positioned short on GME and
                    interrupted the spontaneously arising momentum of GME</li>
                <li>Mainstream financial media CNBC reported that <a [routerLink]="'/bear-faction'">Melvin Capital</a>
                    closed its GME short position and also
                    ran ads pushing this story</li>
                <li>
                    In the weeks following the sneeze, the reported GME short interest went down significantly, which
                    generally contradicts the idea that shorts never closed. However, deeper investigating of the
                    situation made some investors skeptical of the reported short interest as an authoritative source of
                    data; there are methods that some market participants can utilize to be net short a stock without
                    that appearing as short interest
                </li>
                <li>The view that shorts never closed has been a contributing factor to the conviction held by some GME
                    shareholders that GME was a good long-term investment, on the basis that all existing short
                    positions represent eventual future buying that will drive up the price of the stock</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">CNBC Reports that Melvin Capital Closed its GME Short Position</div>
            <p>CNBC ran <a
                    href="https://www.cnbc.com/2021/01/27/hedge-fund-targeted-by-reddit-board-melvin-capital-closed-out-of-gamestop-short-position-tuesday.html"
                    target="_blank" class="external-link" rel="nofollow">an article</a> the morning of January 27, 2021,
                stating: "Melvin Capital closed
                out its short position in GameStop on Tuesday afternoon [January 26, 2021] after taking a huge loss, the
                hedge fund’s manager told CNBC’s Andrew Ross Sorkin."</p>
            <p>CNBC even <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/l8539h/cnbc_now_running_ads_promoting_that_melvin/"
                    target="_blank" class="external-link" rel="nofollow">ran ads</a> promoting this claim that Melvin
                closed its short position.</p>
            <p>This claim is logically dubious. No real evidence was ever produced to substantiate the claim. The claim
                apparently originated from Melvin Capital, so this was a narrative provided by them without evidence.
                It is logical to assess that this is the version of events that Melvin Capital wanted people to believe
                based on their position, a narrative that would benefit them if people were to believe that it was true
                while it was actually secretly not true.
            </p>
            <p>After all, if it was the truth, then for what purpose would they publicly announce it? It would
                be of no benefit to announce it, and for somebody to have paid to promote that story.
                <!-- It would sort
                of be like a poker player announcing their supposed position to the other players at the table. -->
            </p>
            <p>
                In any case, even if it was true that Melvin Capital closed their GME short position, this would not
                account for any
                of the other market participants that continued to have an existing GME short position or net short
                exposure.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">"Their goal is to never cover their short"</div>
            <p>Amidst online discussions about this topic that were happening during that period of time, on February 2,
                2021, Mark Cuban did <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/lawubt/hey_everyone_its_mark_cuban_jumping_on_to_do_an/"
                    target="_blank" class="external-link" rel="nofollow">
                    an AMA discussion on <a [routerLink]="'/reddit'">r/wallstreetbets</a>
                </a>. Mark was asked if it was possible that the hedge funds would just not cover their shorts at all,
                and just act like it never happened. To this, <a
                    href="https://www.reddit.com/r/wallstreetbets/comments/lawubt/comment/glqndlx/" target="_blank"
                    class="external-link" rel="nofollow">Mark replied</a>: "<b>Their goal is to never cover their
                    short</b>. But that would take the company going out of business or being delisted. That won't
                happen here."
            </p>
            <p>These discussions further validated the idea in the minds of some GME investors that shorts never closed,
                and that it would logically be in the interest of those positioned short to propagate the narrative that
                GME shorts did close,
                when in fact they hadn't.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Cellar Boxing</div>
            <p>In September of 2021, a <a
                    href="https://www.reddit.com/r/Superstonk/comments/pmj9yk/i_found_the_entire_naked_shorting_game_plan/"
                    target="_blank" class="external-link" rel="nofollow">
                    post in r/superstonk</a> introduced GME shareholders to the concept of "cellar boxing," based on <a
                    href="https://investorshub.advfn.com/boards/read_msg.aspx?message_id=2543759" target="_blank"
                    class="external-link" rel="nofollow">an original post from March 2004</a> that described a specific
                market manipulation strategy involving <a [routerLink]="'/naked-short-selling'">naked short selling</a>.
            </p>
            <p>Cellar boxing, as described in the original post, is a strategy where <a
                    href="https://en.wikipedia.org/wiki/Market_maker" target="_blank" class="external-link"
                    rel="nofollow">market makers</a> drive the price of a stock down using legal loopholes and naked
                short selling, profiting greatly in the process, and ultimately causing the death of the target company.
                In the process, the perpetrator creates a large quantity of shares sold naked with the intention of
                never closing that position by <i>ensuring</i> that the victim company dies, getting the stock delisted,
                and thus the naked short position never needs to be resolved because the stock no longer exists.</p>
            <p>When the topic of cellar boxing was introduced to the GME shareholders of r/superstonk, it provided
                insight into market behavior that further corroborated the notion that shorts may have never closed.
                Cellar
                boxing described a behavior in the market where a perpetrator has <b>the means</b>, <b>the motive</b>,
                and <b>the opportunity</b> to fraudulently profit in the process of killing small victim companies by
                creating a large
                quantity of artificial shares sold short, naked, with the intention of never closing out that naked
                position.</p>
        </div>



        <div class="page-section">
            <div class="section-heading">"Shorts Never Closed, Boom!"
            </div>
            <p>On August 23, 2022, a GME shareholder <a
                    href="https://www.reddit.com/r/Superstonk/comments/ww2czg/guy_calls_into_jim_cramers_mad_money_and_says/"
                    target="_blank" class="external-link" rel="nofollow">called in to Jim Cramer's Mad Money</a>,
                claiming he was going to talk about some
                other stock, in order to make a statement about GME. The
                caller, "Victor from California," said that because of Jim Cramer, he bought more shares of GameStop,
                and Bed Bath and Beyond,
                followed by the statement "<b>shorts never closed, boom!</b>"</p>
            <p>The situation was obviously awkward for Jim Cramer, who immediately understood that he had been pranked.
                Cramer replied "not really," and immediately pivoted the conversation away.
            </p>
            <p>This incident demonstrated that there continued to be an ongoing narrative competition over GME. It
                received a lot of positive attention on r/superstonk, amidst a backdrop of continuous negative sentiment
                of GME coming from mainstream media outlets such as CNBC. It demonstrated that GME shareholders
                continued to believe that shorts never closed, over a year and half after the <a
                    [routerLink]="'/sneeze'">sneeze</a>.
            </p>
        </div>


    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>