<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            FUD
        </h1>
        <h5 class="page-subtitle">
            Fear, Uncertainty, Doubt
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>FUD is a manipulative propaganda tactic that is used to induce fear,
                    uncertainty, or doubt to influence perception amd behavior
                </li>
                <li>FUD is common in finance, marketing, politics, and competitive business contexts</li>
                <li>It uses selective facts, exaggeration, false information, and negative framing to discourage
                    investment, adoption, or trust in a product, company, or idea</li>
                <li>In the context of GME, anti-GME FUD is used by <a [routerLink]="'/bear-faction'">GME bears</a> for
                    the
                    purpose of
                    deligitimizing GME, to dissuade potential investors from investing in GME, and to encourage <a
                        [routerLink]="'/bull-faction'">existing shareholders</a> to sell their shares</li>

            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">FUD versus Genuine Criticism</div>
            <p>FUD is information or narratives which are typically misleading or dishonest, and which often seek to provoke
                emotional reactions and uncertainty.</p>
            <p>In contrast, genuine criticism is rooted in facts, reasoned analysis, and transparency; its goal is to
                provide an honest evaluation that can inform decisions. Real criticism acknowledges
                nuance, it acknowledges competing information from competing viewpoints, it admits limitations, and
                it encourages understanding.</p>
        </div>



        <div class="page-section">
            <div class="section-heading">More links</div>
            <div>
                <a href="https://en.wikipedia.org/wiki/Fear,_uncertainty,_and_doubt" target="_blank"
                    class="external-link" rel="nofollow">
                    <img src="assets/icons/wikipedia-logo.png" alt=""
                        style="height: 20px;width: 20px;margin-right: 10px;"> Fear, uncertainty, and doubt - Wikipedia
                </a>

            </div>
        </div>


    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-short-pages"></app-footer>

</div>