<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            CNBC on Naked Short Selling of GME
        </h1>
        <h5 class="page-subtitle">
            Naked short selling is an awkward topic of conversation that the financial media does not often talk about
            with any depth
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>Media personality Melissa Lee of CNBC accidentally blurted out the words "Naked Shorts, Yea," in
                    regards to a conversation about GME stock, and then immediately pivoted the conversation</li>
                <li>CNBC removed this conversation entirely when they published the edited segment</li>
                <li>Several days later, CNBC published a segment on the topic of naked short selling, and while GameStop
                    was mentioned, there was no meaningful discussion about naked short selling of GME stock</li>
                <li>CNBC has not since addressed the topic of naked short selling of GME, despite being aware of the prevalence of
                    this topic on social media</li>
            </ul>
        </div>

        <div class="page-section">
            <div class="section-heading">"Naked shorts, yeah"</div>

            <p>The mainstream financial media often downplays <a [routerLink]="'/naked-short-selling'">naked short
                    selling</a> or denies the existence entirely. Most
                of the time, this simply entails <i>never mentioning</i> naked short selling. If you never talk about
                it, it doesn't exist.
            </p>
            <p>Here is <a href="https://youtu.be/XpHcA8Y1mWI?t=94" target="_blank">
                    a video clip of Melissa Lee from CNBC accidentally blurting out "naked shorts, yeah"</a>, in a
                conversation
                regarding GME and other 'meme stocks' on June 4, 2021, followed by an awkward reaction.
            </p>
            <div style="width: 100%; display:flex;flex-direction: column; align-items: center;">
                <a href="https://youtu.be/XpHcA8Y1mWI?t=94" target="_blank">
                    <img src="assets/misc/melissa-lee-naked-shorts.png" alt="Naked Shorts, Yeah - Melissa Lee"
                        style="width: 100%; max-width: 340px; border-radius:10px;" class="image">
                </a>
            </div>

            <p>
                Immediately afterwards, Melissa Lee pivoted away from the topic of naked short selling.
            </p>
            <p>
                When CNBC uploaded <a href="https://www.youtube.com/watch?v=jOSZCL04YR0" target="_blank">this segment on
                    their official YouTube channel</a>, they titled the segment 'Yields tank and
                market rallies to close
                out the week following May jobs report', and <b>the part about naked short selling and GameStop was
                    removed
                    entirely</b>.
            </p>
        </div>
        <div class="page-section">
            <div class="section-heading">Follow-up</div>
            <p>Several days later, on June 9th, in reaction to <a
                    href="https://www.reddit.com/r/Superstonk/comments/nshffm/naked_shorts_just_confirmed_by_the_enemies/"
                    target="_blank">
                    conversations happening online about the
                    original incident</a>, CNBC released <a href="https://www.youtube.com/watch?v=lB43u38BV8o"
                    target="_blank">
                    a segment specifically about naked short selling</a>.
            </p>
            <p>
                In this segment, they confirm that <b>naked short selling is an illegal practice that does happen</b>,
                but that it is difficult to
                prove
                and the SEC has brought very few cases because it is time-consuming, unglamorous, and requires detailed
                trade records and cooperation from insiders.
            </p>
            <p>
                While they acknowledge the general existence of naked short selling, and briefly mentioned GameStop in
                the discussion, <b>at no point in the segment did they directly address with any depth the notion of
                    naked short selling of GME stock</b>.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Narrative Control Tactics</div>
            <p>This incident was a demonstration of narrative control amidst <a [routerLink]="'/media-vs-gme'">narrative conflict</a>. The financial media, such as CNBC in this case,
                addressed conversations that were happening in places like Reddit, but failed to actually go into the
                topic with any depth.</p>
            <p>CNBC took several days to react to the original incident, giving themselves enough time to determine what
                to discuss, and what not to discuss, on the sensitive topic of naked short selling.</p>
            <p>By discussing it at all, they were arguably doing a <a
                    href="https://en.wikipedia.org/wiki/Limited_hangout" target="_blank">limited hangout</a> —
                revealing part of the truth while deflection attention away from sensitive details. For example, they
                acknowledged that naked short selling does happen and that it is illegal. This means it can happen
                to stocks like GME. This begs some questions such as: to what extent is GME stock being sold short
                naked? Who are the perpetrators of naked short selling of GME stock? CNBC does not provide information
                that would provide answers to these questions.</p>
        </div>


    </div>



    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>