<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            CNBC on naked short selling of GME
        </h1>
        <!-- <h5 class="page-subtitle">
            The media doesn't have an interest in educating its audience about naked short selling of GME
        </div> -->



        <div class="page-section">

        </div>

        <div class="page-section">
            <div class="section-heading">"Naked shorts, yeah"</div>

            <p>The mainstream financial media often downplays <a [routerLink]="'/naked-short-selling'">naked short
                    selling</a> or denies the existence entirely. Most
                of the time, this simply entails <i>never mentioning</i> naked short selling. If you never talk about
                it, it doesn't exist.
            </p>
            <p>Here is <a href="https://youtu.be/XpHcA8Y1mWI?t=94" target="_blank">
                    a video clip of Melissa Lee from CNBC accidentally blurting out "naked shorts, yeah"</a>, in a
                conversation
                regarding GME and other 'meme stocks' on June 4, 2021, followed by an awkward reaction that can be seen
                in the expression on
                her face.
            </p>
            <div style="width: 100%; display:flex;flex-direction: column; align-items: center;">
                <a href="https://youtu.be/XpHcA8Y1mWI?t=94" target="_blank">
                    <img src="assets/misc/melissa-lee-naked-shorts.png" alt="Naked Shorts, Yeah - Melissa Lee"
                        style="width: 100%; max-width: 340px; border-radius:10px;" class="image">
                </a>
            </div>

            <p>

                Immediately afterwards, Melissa Lee pivoted away from the term naked short selling and talked
                vaguely about short selling.
            </p>
            <div>
                <a href="https://www.reddit.com/r/Superstonk/comments/nshffm/naked_shorts_just_confirmed_by_the_enemies/"
                    target="_blank">
                    Here is a discussion about this incident on superstonk
                </a>
            </div>

            <p>
                When CNBC uploaded <a href="https://www.youtube.com/watch?v=jOSZCL04YR0" target="_blank">this segment on
                    their official YouTube channel</a>, they titled the segment 'Yields tank and
                market rallies to close
                out the week following May jobs report', and the part about naked short selling and GameStop has been
                removed
                entirely.
            </p>

            <p>On June 9th, several days after Melissa Lee's accident, reacting to conversations online about the
                original incident, CNBC releases <a href="https://www.youtube.com/watch?v=lB43u38BV8o" target="_blank">
                    a segment specifically about naked short selling</a>.

            </p>
            <p>
                In this segment, they confirm that naked short selling does happen, but that it is difficult to prove
                and the SEC has brought very few cases because it is time-consuming, unglamorous, and requires detailed
                trade records and cooperation from insiders.
            </p>
            <p>
                While they acknowledge the general existence of naked short selling, and briefly mentioned GameStop in
                the discussion, at no point in the segment did they directly address any notion of naked short selling
                of GME stock.
            </p>


            <div class="page-section">
                <div class="section-heading">
                    Who benefits from denying or downplaying the existence of naked short selling?
                </div>
                <div>
                    <ul>
                        <li>
                            Hedge funds or traders that engage in (or benefit from) naked short
                            selling have an incentive to deny or downplay its existence. If the practice is acknowledged
                            and
                            regulated, their trading strategies could be curtailed.
                        </li>
                        <li>In some cases, market makers (who are allowed <a [routerLink]="'/t-plus-35'">certain
                                exemptions</a> to facilitate
                            liquidity) might not want extra scrutiny.</li>
                        <li>Brokerage firms that fail to diligently locate shares (or
                            turn a blind eye to naked short activities) can profit from the additional trading volume or
                            fees. Denying the problem reduces legal and regulatory pressure on them.</li>
                        <li>Acknowledging rampant naked short selling can erode trust in the
                            stock market. By downplaying it, industry players and some commentators try to preserve the
                            image of a fair and orderly market.</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>



    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>