<div class="component-root">
    <h1 class="page-title">
        Social Media for GME shareholders
    </h1>


    <div class="page-content">

        <div class="page-section">

            <p>Connect with GME shareholders across various social media platforms.</p>

            <div class="list">
                <h3>On Discord</h3>
                <div class="community-button">
                    <a href="https://mee6.xyz/i/xyGz2buGJR" target="_blank"
                        style="display:flex;flex-direction: row;align-items: center;">

                        <img src="assets/icons/discord-icon.png" class="social-media-icon"
                            alt="DRSyourGME Public Discord">
                        The DRS Discord
                    </a>
                </div>
                <p>The DRS Discord is an engaging discord server with a large presence of GME shareholders for
                    discussing GME, DRS, stocks, economics, gaming, and other topics. </p>
                    
                    <!-- This server
                    was formerly called DRSyourGME, which emerged as a community gathering place in
                    the aftermath of the banning of the r/DRSyourGME subreddit. This server continues as a community for
                    discussing GME, DRS, stocks, economics, gaming, and other topics. -->


            </div>
        </div>
        <div class="page-section">



            <div class="list">
                <h3>Major subreddits</h3>

                <div class="community-button">
                    <a href="https://www.reddit.com/r/gme" target="_blank" class="subreddit-line">
                        <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                        r/GME
                    </a>
                    <div class="subreddit-description">
                        A generic subreddit for discussions pertaining to GME
                    </div>
                </div>

                <div class="community-button">
                    <a href="https://www.reddit.com/r/teddy" target="_blank" class="subreddit-line">

                        <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/teddy">
                        r/Teddy
                    </a>
                    <div class="subreddit-description">
                        "Teddy Holdings LLC = $BBBY + $GME?<br>
                        We welcome future shareholders of $Teddy or anyone who believes in Ryan Cohen and does not think
                        he is a doofus. Teddy Holdings LLC was incorporated on July 21"
                    </div>
                </div>

                <div class="community-button">
                    <a href="https://www.reddit.com/r/superstonk" target="_blank" class="subreddit-line">
                        <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/superstonk">
                        r/superstonk
                    </a>
                    <div class="subreddit-description">
                        The largest GME subreddit
                    </div>
                    <!-- <div class="subreddit-description">
                        <p>In the aftermath of the <a [routerLink]="'/sneeze'">January 2021 sneeze</a>, superstonk
                            emerged as the predominant subreddit for GME shareholders and remains the largest GME
                            shareholder community.</p>
                        <p>Superstonk was where <a [routerLink]="'/drs'">DRS</a> originally gained widespread attention
                            by GME shareholders.</p>
                        <p>🚩 Over the years, superstonk has demonstrated a pattern of censorship and selective
                            enforcement of arbitrary rules by the unaccountable moderators.</p>
                        <p>🚩 Many GME shareholders have been banned from superstonk, ultimately causing the community
                            to find its way into other places.</p>
                        <p>The most recent <a
                                href="https://www.reddit.com/r/Superstonk/comments/1df8jno/gme_yolo_update_june_13_2024/"
                                target="_blank">GME YOLO update by u/DeepFuckingValue</a> was posted in r/superstonk on
                            June 13, 2024.</p>
                    </div> -->
                </div>

                <!-- <div class="community-button">
                    <a href="https://www.reddit.com/r/DRSyourGME" target="_blank" class="subreddit-line">
                        <img src="assets/icons/reddit-icon-gray.png" class="social-media-icon" alt="r/drsyourgme">
                        r/DRSyourGME
                    </a>
                    <div class="subreddit-description">
                        <p>As r/superstonk started to become unfriendly to the mission of DRSGME.org, this new subreddit
                            was created as a place to continue the conversations pertaining to DRS and GME and expand
                            the knowledge of DRS.</p>
                        <p>🚫 This subreddit was permanently banned for no clear reason by Reddit, without
                            accountability
                            or recourse, on June 14, 2023.</p>
                    </div>
                </div>

                <div class="community-button">
                    <a href="https://www.reddit.com/r/theppshow" target="_blank" class="subreddit-line">

                        <img src="assets/icons/reddit-icon-gray.png" class="social-media-icon" alt="r/theppshow">
                        r/ThePPShow
                    </a>
                    <div class="subreddit-description">
                        <p>
                            ThePPShow subreddit was a subreddit community that operated in conjunction with the show
                            hosted on YouTube, to discuss GME, BBBY, and the bankruptcy proceedings of Bed Bath and
                            Beyond.
                        </p>
                        <p>
                            🚫 This subreddit was permanently banned for no clear reason by Reddit, without
                            accountability or
                            recourse, on November 21, 2023.
                        </p>
                    </div>
                </div>

                <div class="community-button">
                    <a href="https://www.reddit.com/r/WallStreetBets" target="_blank" class="subreddit-line">

                        <img src="assets/icons/reddit-icon-gray.png" class="social-media-icon" alt="r/WallStreetBets">
                        r/WallStreetBets
                    </a>
                    <div class="subreddit-description">
                        <p>WallStreetBets was where u/DeepFuckingValue originally posted GME YOLO updates</p>
                        <p>
                            WallStreetBets played an important role in the lead up to the <a
                                [routerLink]="'/sneeze'">January 2021 sneeze</a>, bringing a large amount of attention
                            to GME to many people on Reddit for the first time.
                        </p>
                        <p>
                            🚫 On November 22, 2022, the unaccountable moderators of WallStreetBets <a
                                href="https://lemmy.whynotdrs.org/post/226948" target="_blank">
                                officially banned GME discussions</a> from that subreddit. You can have discussions
                            about any of the thousands of different stocks and securities in the market, but not GME.
                        </p>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="page-section">
            <div class="list">
                <h3>Podcasts</h3>

                <p>Listen to the <b>Taking Stock</b> podcast on Spotify or X Spaces -- Discussions related to GME but
                    not specifically about GME, including market structure, and technical
                    information about share ownership.</p>




                <a href="https://open.spotify.com/show/2ZeRIz9uF2D0I9jcyrDokV?si=9b0f573c77a1401a" target="_blank"
                    class="follow-x">

                    <img src="assets/icons/spotify-logo.png" class="social-media-icon">
                    Taking Stock on Spotify
                </a>
                <a href="https://x.com/whydrs" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;whydrs
                </a>
                <a href="https://x.com/tehchives" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;tehchives
                </a>

                <a href="https://x.com/6days1week" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;6days1week
                </a>
                <a href="https://x.com/Bibic_Jr" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;Bibic_Jr
                </a>


                <p>Listen to the <b>The Echo Chamber</b> on Apple Podcasts</p>
                <a href="https://podcasts.apple.com/us/podcast/the-echo-chamber/id1788838529" target="_blank"
                    class="follow-x">

                    <img src="assets/icons/apple-podcasts-icon.png" class="social-media-icon">
                    The Echo Chamber
                </a>

                <a href="https://x.com/ShaunFitzzzy" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;ShaunFitzzzy
                </a>
                <a href="https://x.com/ChuckHodl" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;ChuckHodl
                </a>



            </div>
        </div>
        <div class="page-section">
            <div class="list">
                <h3>GME YouTube and live streaming shows</h3>

                <!-- <p>
                    Tune in to The PP Show on X or YouTube, typically Monday Wednesday & Friday in the evening, for live
                    streaming community discussion about GME and related topics
                </p>
                <div style="margin-bottom: 5px;"></div>
                <a href="https://x.com/ThePPseedsShow" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="The PP show on X">
                    &#64;ThePPseedsShow on X
                </a>
                <a href="https://www.youtube.com/@ThePPseedsShow" target="_blank" class="follow-x">

                    <img src="assets/icons/youtube-icon.png" class="social-media-icon" alt="r/teddy">
                    &#64;ThePPseedsShow on YouTube
                </a>
                <br> -->



                <div style="margin-bottom: 15px;"></div>
                <div>Richard Newton on YouTube</div>
                <a href="https://www.youtube.com/@RichardNewton" target="_blank" class="follow-x">

                    <img src="assets/icons/youtube-icon.png" class="social-media-icon" alt="Richard Newton YouTube">
                    &#64;RichardNewton on YouTube
                </a>

                <div style="margin-bottom: 15px;"></div>
                <div>Roaring Kitty most recently did a live stream on <a
                        href="https://www.youtube.com/watch?v=U1prSyyIco0" target="_blank">

                        June 7, 2024</a></div>
                <a href="https://www.youtube.com/@RoaringKitty" target="_blank" class="follow-x">

                    <img src="assets/icons/youtube-icon.png" class="social-media-icon" alt="Roaring Kitty YouTube">
                    &#64;RoaringKitty on YouTube
                </a>
            </div>
        </div>


        <div class="page-section">
            <div class="list">
                <h3>Worthwhile follows</h3>
                <p>Follow some individuals on Reddit or X that make worthwhile original posts pertaining to GME and related topics of discussion</p>
                

                
                <a href="https://www.reddit.com/user/WhatCanIMakeToday/submitted/" target="_blank" class="follow-x">
                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                    u/WhatCanIMakeToday on Reddit
                </a>
                <a href="https://x.com/WhatCanIMT" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;WhatCanIMT on X
                </a>

                <div style="margin-bottom:10px;"></div>
                
                <a href="https://www.reddit.com/user/ringingbells/submitted/" target="_blank" class="follow-x">
                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                    u/ringingbells on Reddit
                </a>
                <a href="https://x.com/u_ringingbells" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;u_ringingbells on X
                </a>

                <div style="margin-bottom:10px;"></div>

                <a href="https://www.reddit.com/user/TheUltimator5/submitted/" target="_blank" class="follow-x">
                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gme">
                    u/TheUltimator5 on Reddit
                </a>
                <a href="https://x.com/TheUltimator5" target="_blank" class="follow-x">

                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;TheUltimator5 on X
                </a>

                <div style="margin-bottom:10px;"></div>

                <a href="https://www.reddit.com/user/region-formal/" target="_blank" class="follow-x">
                    <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="u/region-formal">
                    u/Region-Formal on Reddit
                </a>


            </div>
        </div>

        <div class="page-section">
            <div class="list">
                <h3>GME on X Spaces </h3>
                <p>
                    Follow some individuals that host <a href="https://help.x.com/en/using-x/spaces" target="_blank">X
                        Spaces</a> on a regular basis for "talk radio" type of engagement about GME and related topics
                    of discussion

                </p>
                <a *ngFor="let xAccount of xSpacesAccounts" [href]="'https://x.com/'+xAccount" target="_blank"
                    class="follow-x">
                    <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                    &#64;{{ xAccount }}
                </a>
            </div>
        </div>
        <!-- <div class="page-section">
            <div class="list">
                <h3>Federated Apps</h3>
                <div>
                    Participate in the nascent community-hosted <a href="https://en.wikipedia.org/wiki/Fediverse"
                        target="_blank">fediverse</a>
                </div>
                <div class="community-button">
                    <a href="https://lemmy.whynotdrs.org/" target="_blank"
                        style="display:flex;flex-direction: row; align-items: center;">

                        <img src="assets/icons/lemmy-icon.png" class="social-media-icon"
                            alt="DRSyourGME Public Discord">
                        DRSGME / WhyDRS Lemmy
                    </a>
                </div>

            </div>

        </div> -->
        <div class="page-section">
            <div class="list">
                <h3>GameStop and board members social media</h3>

                <div>
                    GameStop on X
                    <a href="https://x.com/gamestop" target="_blank" class="follow-x">

                        <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                        &#64;gamestop
                    </a>
                </div>
                <div>
                    Ryan Cohen, Chief Executive Officer and Chairman
                    <a href="https://x.com/ryancohen" target="_blank" class="follow-x">

                        <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                        &#64;ryancohen
                    </a>
                </div>
                <div>
                    Larry Cheng, Director
                    <a href="https://x.com/larryvc" target="_blank" class="follow-x">

                        <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                        &#64;larryvc
                    </a>
                </div>
                <div>
                    Jim Grube, Director
                    <a href="https://x.com/jim_grube" target="_blank" class="follow-x">

                        <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                        &#64;jim_grube
                    </a>
                </div>
                <div>
                    Nathaniel Turner, Director
                    <a href="https://x.com/natsturner" target="_blank" class="follow-x">

                        <img src="assets/icons/x-twitter-logo.png" class="social-media-icon">
                        &#64;natsturner
                    </a>
                </div>


            </div>
        </div>
        <div class="page-section">
            <div class="list">
                <h3>gmewiki.org</h3>

                <div class="community-button">
                    <a href="https://x.com/gmewiki" target="_blank"
                        style="display:flex;flex-direction: row;align-items: center;">

                        <img src="assets/icons/x-twitter-logo.png" class="social-media-icon" alt="gmewiki on X">
                        &#64;gmewiki on X
                    </a>
                </div>

                <div class="community-button">
                    <a href="https://bsky.app/profile/gmewiki.bsky.social" target="_blank"
                        style="display:flex;flex-direction: row;align-items: center;">

                        <img src="assets/icons/bluesky-logo.png" class="social-media-icon" alt="gmewiki on Bluesky">
                        &#64;gmewiki on Bluesky
                    </a>
                </div>

                <div class="community-button">
                    <a href="https://www.reddit.com/r/gmewiki/" target="_blank"
                        style="display:flex;flex-direction: row;align-items: center;">

                        <img src="assets/icons/reddit-icon.png" class="social-media-icon" alt="r/gmewiki">
                        r/gmewiki subreddit
                    </a>
                </div>

                <div class="community-button">
                    <a href="https://github.com/gmewikiorg/gme-wiki" target="_blank"
                        style="display:flex;flex-direction: row;align-items: center; ">

                        <img src="assets/icons/github-logo.png" class="social-media-icon"
                            style="border: 1px solid white; border-radius: 30px; background-color: white;" alt="github">
                        gmewiki github
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>