<div class="component-root" *ngIf="!isLoading">
    <!-- <h1 class="page-title">
        GameStop Company Ownership
    </h1>
    <h5 class="page-subtitle">
        As of {{ lastUpdated }}
    </h5> -->


    <div class="page-content" style="width: 100%;">

        <!-- <div class="section-heading" chart-content>
            GME Ownership Pie Chart
        </div> -->
        <div class="page-section" style="padding:0px; width: 100%; height: 100%;">
            <!-- <div style="font-size:0.9em; color: gray">in millions of shares</div> -->
            <app-ownership-chart
                style="width: 100%;display:flex;flex-direction:column;align-items: center; flex-grow: 2;"
                *ngIf="isBrowser"></app-ownership-chart>
            <div style="width: 100%; height: auto; max-width: 650px; height: 650px;" *ngIf="!isBrowser"></div>
        </div>

        <div class="page-section" style="padding:0px;">
            <app-ownership-table style="max-width: 100%; margin-top: 30px; width: 100%;"></app-ownership-table>
        </div>

        <div class="page-section">
            <div class="section-heading">Held by Registered Holders at Computershare</div>
            <p>As a publicly traded company, GameStop is unusual because a significant portion of all issued shares are
                owned by
                <a [routerLink]="'/drs'">registered</a> shareholders.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Held by Cede & Co on behalf of the DTCC</div>
            <p>All shares not held by registered holders are held by <a
                    href="https://en.wikipedia.org/wiki/Cede_and_Company" target="_blank" class="external-link"
                    rel="nofollow">Cede & Co</a> on behalf of the
                DTCC.
                This includes all shares held in brokerage accounts by retail investors, insiders, institutions, mutual
                funds, ETFs, and any other types of <a href="https://www.investopedia.com/terms/b/beneficialowner.asp"
                    target="_blank" rel="nofollow" class="external-link">beneficial ownership</a>.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Share Issuance and Dilution</div>
            <p>In 2022, GameStop shareholders authorized the company to issue up to 1
                billion total shares outstanding.</p>
            <p>In 2024, GameStop completed <a [routerLink]="'/atms'">3 at-the-market equity offering programs</a>,
                raising nearly $3.5B by selling 140M shares at an average of around $25 per share.</p>
            <p>In the first half of 2025, GameStop completed <a [routerLink]="'/convertible-notes'">2 private offerings
                    of convertible senior notes</a>, raising an additional $4.2 billion, with additional probable future
                dilution of approximately 140M shares.</p>
            <p>In the second half of 2025, GameStop issued a <a [routerLink]="'/warrants'">dividend of warrants</a>, and
                could potentially raise up to $1.9B if all 59M warrants are
                exercised and turned into shares.</p>
            <!-- <p>In January 2026, the GameStop board of directors proposed an incentive plan for <a
                    [routerLink]="'/ryan-cohen'">Ryan Cohen</a>, where if all targets are met, Ryan Cohen may purchase
                170M shares from GameStop at a fixed price of $20.66 per share.</p> -->
            <p>All together, if all of these future possible dilutions are executed, the total shares outstanding would
                reach approximately 817M shares. </p>
            <p>In 2026, GameStop proposed to increase the authorized share count from 1 billion to 2.5 billion. At the
                annual meeting,
                shareholders <a
                    href="https://www.reddit.com/r/Superstonk/comments/1uqpp7l/8k_voting_results_guess_what_brokers_chose_to_not/"
                    target="_blank" rel="nofollow" class="external-link">voted 68.7% in favor</a> of this proposal. This
                significant increase gives GameStop the flexibility
                it needs for future equity actions, including the potential <a [routerLink]="'/ebay'">acquisition of
                    eBay</a>.</p>
        </div>

    </div>


    <app-footer class="app-footer"></app-footer>
</div>