<div class="component-root" *ngIf="!isLoading">
    <h1 class="page-title">
        GameStop Company Ownership
    </h1>
    <h5 class="page-subtitle">
        As of {{ lastUpdated }}
    </h5>

    
    <div class="page-content" style="width: 100%;">


        <div class="page-section"
            style="padding:0px; width: 100%; height: 100%;" >
            <div class="section-heading">
                GME ownership pie chart
            </div>
            <!-- <div style="font-size:0.9em; color: gray">in millions of shares</div> -->
            <app-ownership-chart style="width: 100%;display:flex;flex-direction:column;align-items: center; flex-grow: 2;" *ngIf="isBrowser"></app-ownership-chart>
            <div style="width: 100%; height: auto; max-width: 650px; height: 650px;" *ngIf="!isBrowser"></div>
        </div>




        <div class="page-section" style="padding:0px;">
            <app-ownership-table style="max-width: 100%; margin-top: 30px; width: 100%;"></app-ownership-table>
        </div>


        <div class="page-section"> 
            <div class="section-heading">Held by registered holders at Computershare</div>
            <p>As a publicly traded company, GameStop is unusual because a significant portion of all issued shares are owned by
                <a style="font-weight: bold; color: #8f1795; text-decoration: none;"
                    [routerLink]="'/drs'">registered</a> shareholders.
            </p>
            <P>All shares held with GameStop's transfer agent Computershare are <a style="font-weight: bold; color: #8f1795; text-decoration: none;"
                [routerLink]="'/drs'">registered</a> in the name of the shareholder.
            </P>
        </div>

        <div class="page-section">
            <div class="section-heading">Held by Cede & Co on behalf of the DTCC</div>
            <p>All shares not held by registered holders are held by <a href="https://en.wikipedia.org/wiki/Cede_and_Company" target="_blank">Cede & Co</a> on behalf of the DTCC.
                This includes all shares held in brokerage accounts by retail investors, insiders, institutions, mutual
                funds, ETFs, and any other types of beneficial ownership.</p>
        </div>
<!-- 
        <div class="page-section">
            <div class="section-heading">Data source credit</div>
            Data for this page was obtained from
            <a href="https://www.computershared.net" target="_blank">computershared.net</a> and <a
                href="https://www.drsgme.org/" target="_blank">DRSGME.org</a>.
        </div> -->


    </div>


    <app-footer class="app-footer"></app-footer>
</div>


<!-- <app-loading class="layout-root" style="justify-content: center;" *ngIf="isLoading"
    [loadingMessage]="loadingMessage"></app-loading> -->