<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Business Competition
        </h1>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>GameStop's main competitors are Amazon, Walmart, Target, and Best Buy</li>
            </ul>
        </div>
        <div class="page-section">
            <div class="circles">

            
            <div [style.width]="getRadius('GAMESTOP')" [style.height]="getRadius('GAMESTOP')" [style.borderRadius]="getRadius('GAMESTOP')" class="circle">
 
            </div>
            <div [style.width]="getRadius('WALMART')" [style.height]="getRadius('WALMART')" [style.borderRadius]="getRadius('WALMART')" class="circle">
 
            </div>
            <div [style.width]="getRadius('AMAZON')" [style.height]="getRadius('AMAZON')" [style.borderRadius]="getRadius('AMAZON')" class="circle">
 
            </div>
            <div [style.width]="getRadius('BESTBUY')" [style.height]="getRadius('BESTBUY')" [style.borderRadius]="getRadius('BESTBUY')" class="circle">
 
            </div>
            <div [style.width]="getRadius('TARGET')" [style.height]="getRadius('TARGET')" [style.borderRadius]="getRadius('TARGET')" class="circle">
 
            </div>
        </div>
        </div>
    </div>
</div>
