<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            May 2024 GME Burp
        </h1>
        <h5 class="page-subtitle">
            Why did the price of GME soar in May 2024?
        </h5>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Following the <a [routerLink]="'/fy23'">strong earnings report that showed full-year
                        profitability for the first time in 6 years</a>, the share price of GME suddenly soared in May
                    2024</li>
                <li>This event coincided with the return of <a [routerLink]="'/keith-gill'">Roaring Kitty</a></li>
                <li>Some may observe that The Burp occurred <a [routerLink]="'/t-plus-thirty-five'">approximately 35
                        trading days</a> after GameStop released the FY23 earnings report</li>
                <li>GameStop capitalized on the high-volume</li>
            </ul>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-fixed"></app-footer>
</div>