<div class="component-root">
    <div class="page-content">
        <div class="page-title">
           May 2024 GME Burp
        </div>
        <div class="page-subtitle">
            Why did the price of GME soar in May 2024?
        </div>


        <!-- Summary -->
        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>Following the <a [routerLink]="'/fy23-profitability'">strong earnings report that showed full-year profitability for the first time in 6 years</a>, the share price of GME suddenly soared in May 2024</li>
                <li>This event coincided with the return of <a [routerLink]="'/keith-gill'">Roaring Kitty</a></li>
                <li>Some may observe that The Burp occurred <a [routerLink]="'/t-plus-thirty-five'">approximately 35 trading days</a> after GameStop released the FY23 earnings report</li>
            </ul>
        </div>
        <!-- <div class="page-section">
            <app-help-contribute></app-help-contribute>
        </div> -->
    </div>
</div>