<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            NFT Marketplace
        </h1>
        <h5 class="page-subtitle">
            From 2022 to 2024, GameStop operated a beta NFT marketplace which never left beta stage
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>In May 2022, GameStop launched NFT wallet for the Chrome web browser</li>
                <li>On July 11 2022, <a
                        href="https://investor.gamestop.com/news-releases/news-details/2022/GameStop-Launches-NFT-Marketplace-07-11-2022/default.aspx?utm_source=chatgpt.com"
                        class="external-link" rel="nofollow" target="_blank">GameStop
                        announced</a> the launched their public beta NFT marketplace</li>
                <li>
                    In August 2023, GameStop indicated that it was <a
                        href="https://decrypt.co/150898/gamestop-nft-wallet-canceled-killed" class="external-link"
                        rel="nofollow" target="_blank">ending support for their
                        crypto wallet</a> amidst “regulatory uncertainty of the crypto space”
                </li>
                <li>
                    In February 2024, <a
                        href="https://www.dexerto.com/tech/gamestop-to-close-nft-marketplace-just-18-months-after-it-opened-2476171/?utm_source=chatgpt.com"
                        class="external-link" rel="nofollow" target="_blank">GameStop closed their NFT marketplace</a>
                    "due to the continuing regulatory uncertainty of the crypto space."
                </li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Trajectory</div>
            <p>In 2022, as the digital wallet and beta NFT marketplace emerged, many <a
                    [routerLink]="'/bull-faction'">GME investors</a> online were excited about the potential of this
                venture.</p>
            <p>As it eventually came to an apparent close, some shareholders continued to believe that there was still
                future potential for an NFT marketplace.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">CEO Commentary in 2026</div>
            <p>
                In 2026, GameStop has initiated <a [routerLink]="'/ebay'">an attempt to acquire eBay</a>.
                In an interview on the All-In podcast, Ryan Cohen provided some commentary on a potential vision for
                eBay which would include a digital marketplace.
            </p>

            <div class="quote-section-container">
                <div class="quote-section">

                    <p>
                        eBay today is the leader in physical items, physical collectibles as an example. And so I
                        would extend that into digital collectibles.<br>
                        And essentially, if you look at all of these in-game items, AAA titles that people are
                        accumulating: skins, weapons, all of these things, taking eBay and building a marketplace where
                        you can provide liquidity for in-game digital items. 
                        <br>
                        Essentially, it's what NFTs could have -- people thought they were, but ultimately they had no real utility. 
                        <br>In-game items actually have real utility. 
                        <br> ... <br>
                        And so I would use eBay to provide liquidity for in-game digital items. And I believe that
                        addressable market is significantly larger than -- could be much larger than eBay's marketplace
                        on physical items, and no one's doing it. And this should already exist, and it's kind of crazy
                        that it doesn't exist.
                    </p>

                    <div class="quote-attribution">GameStop CEO Ryan Cohen</div>
                    <div class="quote-attribution-2">
                        <div style="margin-left: 10px;"><a href="https://youtu.be/4j9RPGLENNI?t=2868" target="_blank"
                                class="external-link" rel="nofollow">June 23, 2026 interview with the David Friedberg on the ALl-In Podcast</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- https://www.reddit.com/r/Superstonk/comments/1ueinp0/its_provenance_its_always_been_provenance/
          -->




    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>