<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            NFT Marketplace
        </h1>
        <h5 class="page-subtitle">
            From 2022 to 2024, GameStop operated a beta NFT marketplace which never left beta stage
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>In May 2022, GameStop launched NFT wallet for the Chrome web browser</li>
                <li>On July 11 2022, <a
                        href="https://investor.gamestop.com/news-releases/news-details/2022/GameStop-Launches-NFT-Marketplace-07-11-2022/default.aspx?utm_source=chatgpt.com"
                        class="external-link" rel="nofollow" target="_blank">GameStop
                        announced</a> the launched their public beta NFT marketplace</li>
                <li>
                    In August 2023, GameStop indicated that it was <a
                        href="https://decrypt.co/150898/gamestop-nft-wallet-canceled-killed" class="external-link" rel="nofollow" target="_blank">ending support for their
                        crypto wallet</a> amidst “regulatory uncertainty of the crypto space”
                </li>
                <li>
                    In February 2024, <a href="https://www.dexerto.com/tech/gamestop-to-close-nft-marketplace-just-18-months-after-it-opened-2476171/?utm_source=chatgpt.com"  class="external-link" rel="nofollow" target="_blank">GameStop closed their NFT marketplace</a> "due to the continuing regulatory uncertainty of the crypto space."
                </li>
            </ul>
        </div>


    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer-short-pages"></app-footer>
</div>