<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GameStop Investment Policy
        </h1>
        <h5 class="page-subtitle">
            As legacy retail contracts, GameStop evolves into a capital allocator with a growing focus on strategic
            investments.
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>GameStop's board formally approved an <a
                        href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638023000063/gme-20231028.htm"
                        target="_blank">Investment Policy</a> in Dec 2023, giving Ryan Cohen full
                    discretion. The policy allows investments in public/private markets, and Cohen may personally
                    co-invest.</li>
                <li>GameStop now has board authorization to hold Bitcoin</li>
                <li>A $1.3B <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Proposed-Private-Offering-of1-3-Billion-of-Convertible-Senior-Notes/default.aspx"
                        target="_blank">convertible note offering</a> is underway, with possible use of proceeds toward
                    Bitcoin.</li>
                <li>These changes signal a shift from traditional retail operations toward capital stewardship, treasury
                    innovation, and strategic investment. </li>
                <li>The approach mirrors other companies, e.g. Berkshire Hathaway, embracing non-traditional capital
                    allocation, likely aimed at
                    creating asymmetric upside while managing risk.
                </li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Initial Policy Update: December 2023</div>
            <p>From GameStop's <a
                    href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638023000063/gme-20231028.htm"
                    target="_blank">Q3 2023 10-Q </a>form:</p>
            <p>
                "On December 5, 2023, the Board of Directors approved the Investment Policy. The Board of Directors has
                delegated authority to manage the Company’s portfolio of securities investments to the Company’s
                Chairman of the Board of Directors and Chief Executive Officer, Ryan Cohen, together with such
                assistants and management committees he may engage. The Company’s investments will be made in accordance
                with the guidelines set forth in the Investment Policy. The Board may also approve non-conforming
                investments and/or, in consultation with the Chief Executive Officer, modify the Investment Policy from
                time to time.

            </p>
            <p>
                Mr. Cohen directs the investment activity of the Company in public and private markets pursuant to
                authority granted by the Board of Directors. Depending on certain market conditions and various risk
                factors, Mr. Cohen, in his personal capacity or through affiliated investment vehicles, may at times
                invest in the same companies in which the Company invests. Such investments align the interests of the
                Company with the interests of related parties because it places the personal resources of Mr. Cohen at
                risk in substantially the same manner as the Company in connection with investment decisions made on
                behalf of the Company."

            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">New Investor Relations Website</div>
            <p>March 20, 2025</p>
            <p>GameStop <a href="https://x.com/gamestop/status/1902826993378529404" target="_blank">tweeted</a> that
                their <a href="https://investor.gamestop.com" target="_blank">investor relations website</a> has been
                updated.</p>
            <p>Social media users have pointed out that it appears to be very similar to Berkshire Hathaway's <a
                    href="https://berkshirehathaway.com/" target="_blank">investor relations page</a>.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Bitcoin Authorization</div>
            <p>March 25, 2025</p>
            <p>GameStop <a
                    href="https://investor.gamestop.com/news-releases/news-details/2025/GameStopAnnouncesUpdate-to-its-Investment-Policy-to-Add-Bitcoin-as-a-Treasury-Reserve-Asset/default.aspx"
                    target="_blank">Announces Update to its Investment Policy</a> to Add Bitcoin as a Treasury Reserve
                Asset</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Private Offering of Convertible Senior Notes</div>
            <p>March 26, 2025</p>
            <p>
                GameStop has <a
                    href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Proposed-Private-Offering-of1-3-Billion-of-Convertible-Senior-Notes/default.aspx"
                    target="_blank">announced</a> a plan to raise $1.3 billion through a private offering of convertible
                notes that
                pay no interest and are due in 2030. These notes can be converted into GameStop stock under certain
                conditions, but do not cause immediate dilution. The company may also raise an additional $200 million
                if demand is strong. The money raised will be used for general business purposes, including the possible
                purchase of Bitcoin.

            </p>
            <p>The notes are being offered only to institutional investors and are not registered for sale to the
                public. Investors may respond to this move in different ways. Some may see it as a way for GameStop to
                gain financial flexibility without issuing new shares right away. Others may see risks, such as future
                dilution if the notes are converted, or concerns about the lack of detail on how the funds will be used.

            </p>

            <p>March 27, 2025</p>
            <p>GameStop has finalized the terms of its previously announced private offering of $1.3 billion in
                convertible senior notes due in 2030. These notes will not pay interest and can be converted into
                GameStop stock at a price of approximately $29.85 per share, representing a 37.5% premium over the
                stock’s average trading price. Investors may convert under certain conditions before 2030,
                and freely after January 1, 2030. GameStop may also redeem the notes starting in April 2028 if the stock
                trades above a set threshold. The company expects to receive approximately $1.28 billion in proceeds,
                which it may use for general business purposes, including purchasing Bitcoin.</p>


            <p>
                April 1, 2025
            </p>
            <p>
                GameStop completed its previously announced private offering, raising a total of $1.5
                billion by selling 0% Convertible Senior Notes due 2030, including the full $200 million option
                exercised by the initial purchaser. These notes are unsecured debt and were issued under an agreement
                with U.S. Bank Trust Company as trustee.
            </p>
            <p>
                The notes do not pay interest and will mature on April 1, 2030, unless converted, redeemed, or
                repurchased earlier. Investors may convert the notes into GameStop stock under specific conditions
                before 2030, or at any time during the final 3 months before maturity. The initial conversion rate is
                33.4970 shares per $1,000, equal to a price of $29.85 per share, which was about 37.5% above the stock
                price at the time of pricing. This rate may be adjusted under certain circumstances.
            </p>
            <p>
                GameStop may redeem the notes (buy them back early) starting April 6, 2028, but only if its stock price
                remains at least 130% of the conversion price for a period of time. Investors can also demand repayment
                on April 3, 2028, or earlier if GameStop undergoes a major corporate change. GameStop will repay in
                cash, stock, or a mix of both, depending on its choice.
            </p>
            <p>
                GameStop received $1.48 billion in net proceeds, which it plans to use for general corporate purposes,
                including potentially buying Bitcoin, consistent with its investment policy.
            </p>
            <p>
                The agreement outlines events of default (such as failure to repay or bankruptcy), in which case the
                notes may become immediately due and payable. Up to 69 million shares could be issued upon full
                conversion, based on current terms.
            </p>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>