<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GameStop Investment Policy
        </h1>
        <h5 class="page-subtitle">
            As legacy retail contracts, GameStop evolves into a capital allocator with a growing focus on strategic
            investments.
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>GameStop's board formally approved an Investment Policy in December 2023, giving full discretion to
                    CEO Ryan Cohen. The policy allows investments in public/private markets, and Cohen may personally
                    co-invest.</li>
                <li>GameStop now has board authorization to hold Bitcoin</li>
                <li>GameStop completed a $1.5B note offering, with possible use of proceeds toward Bitcoin.</li>
                <li>These changes signal a shift from traditional retail operations toward capital stewardship, treasury
                    innovation, and strategic investment. </li>
                <!-- <li>The approach mirrors other companies, e.g. Berkshire Hathaway, embracing non-traditional capital
                    allocation, likely aimed at
                    creating asymmetric upside while managing risk.
                </li> -->
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Initial Policy Update: December 2023</div>
            <p>From GameStop's <a
                    href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638023000063/gme-20231028.htm"
                    target="_blank">Q3 2023 10-Q </a>form:</p>
            <p>
                "On December 5, 2023, the Board of Directors approved the Investment Policy. The Board of Directors has
                delegated authority to manage the Company’s portfolio of securities investments to the Company’s
                Chairman of the Board of Directors and Chief Executive Officer, Ryan Cohen, together with such
                assistants and management committees he may engage. The Company’s investments will be made in accordance
                with the guidelines set forth in the Investment Policy. The Board may also approve non-conforming
                investments and/or, in consultation with the Chief Executive Officer, modify the Investment Policy from
                time to time.

            </p>
            <p>
                Mr. Cohen directs the investment activity of the Company in public and private markets pursuant to
                authority granted by the Board of Directors. Depending on certain market conditions and various risk
                factors, Mr. Cohen, in his personal capacity or through affiliated investment vehicles, may at times
                invest in the same companies in which the Company invests. Such investments align the interests of the
                Company with the interests of related parties because it places the personal resources of Mr. Cohen at
                risk in substantially the same manner as the Company in connection with investment decisions made on
                behalf of the Company."

            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">New Investor Relations Website</div>
            <p>March 20, 2025</p>
            <p>GameStop <a href="https://x.com/gamestop/status/1902826993378529404" target="_blank">tweeted</a> that
                their <a href="https://investor.gamestop.com" target="_blank">investor relations website</a> has been
                updated.</p>
            <p>Social media users have observed that it appears to be very similar to Berkshire Hathaway's <a
                    href="https://berkshirehathaway.com/" target="_blank">investor relations page</a>.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Bitcoin Authorization</div>
            <p>March 25, 2025</p>
            <p>GameStop <a
                    href="https://investor.gamestop.com/news-releases/news-details/2025/GameStopAnnouncesUpdate-to-its-Investment-Policy-to-Add-Bitcoin-as-a-Treasury-Reserve-Asset/default.aspx"
                    target="_blank">announced an update to its Investment Policy</a> to add Bitcoin as a treasury reserve asset</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Private Offering of Convertible Senior Notes</div>
            <p>GameStop raised $1.5 billion by issuing zero-interest convertible debt notes due in 2030. The money
                raised will be used for general business purposes, including the possible purchase of Bitcoin.</p>
            <ul>
                <li>March 26, 2025: GameStop <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Proposed-Private-Offering-of1-3-Billion-of-Convertible-Senior-Notes/default.aspx"
                        target="_blank">announced</a> intentions to raise $1.3 to $1.5 billion through a private
                    offering of
                    convertible notes that pay no interest and are due in 2030.
                </li>
                <li>March 27, 2025: GameStop <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Pricing-of-Private-Offering-of-1-3-Billion-of-Convertible-Senior-Notes/default.aspx"
                        target="_blank">
                        finalized the terms of the offering
                    </a>--These notes will not pay interest and
                    can be converted into
                    GameStop stock at a price of approximately $29.85 per share, representing a 37.5% premium over the
                    stock’s average trading price in the relevant time period.</li>
                <li>April 1, 2025: GameStop <a
                        href="https://www.sec.gov/ix?doc=/Archives/edgar/data/0001326380/000132638025000022/gme-20250326.htm">completed
                        its previously announced private offering</a>, raising a total of $1.5 billion.</li>
            </ul>

        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>