<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GameStop Investment Policy
        </h1>
        <h5 class="page-subtitle">
            As legacy retail contracts, GameStop evolves into a capital allocator with a growing focus on strategic
            investments.
        </h5>


        <div class="page-section">
            <div class="section-heading">Summary</div>
            <ul>
                <li>GameStop's board formally approved an Investment Policy in December 2023, giving full discretion to
                    CEO Ryan Cohen. The policy allows investments in public/private markets, and Cohen may personally
                    co-invest.</li>
                <li>The board of directors authorized GameStop to hold bitcoin as a treasury asset</li>
                <li>GameStop raised $1.5 billion through a private convertible senior note offering, stating intent to
                    use some of the cash to buy bitcoin</li>
                <li>GameStop announced on May 28, 2025, that they have obtained 4,710 bitcoin</li>
                <li>GameStop completed a second note offering, raising $2.68 billion</li>
                <li>These activities signal a shift in the company from traditional retail operations toward capital
                    stewardship, treasury
                    innovation, and strategic investment. </li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Initial Policy Update: December 2023</div>
            <p>From GameStop's <a
                    href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638023000063/gme-20231028.htm"
                    target="_blank">Q3 2023 10-Q </a>form:</p>
            <p>
                "On December 5, 2023, the Board of Directors approved the Investment Policy. The Board of Directors has
                delegated authority to manage the Company’s portfolio of securities investments to the Company’s
                Chairman of the Board of Directors and Chief Executive Officer, Ryan Cohen, together with such
                assistants and management committees he may engage. The Company’s investments will be made in accordance
                with the guidelines set forth in the Investment Policy. The Board may also approve non-conforming
                investments and/or, in consultation with the Chief Executive Officer, modify the Investment Policy from
                time to time.

            </p>
            <p>
                Mr. Cohen directs the investment activity of the Company in public and private markets pursuant to
                authority granted by the Board of Directors. Depending on certain market conditions and various risk
                factors, Mr. Cohen, in his personal capacity or through affiliated investment vehicles, may at times
                invest in the same companies in which the Company invests. Such investments align the interests of the
                Company with the interests of related parties because it places the personal resources of Mr. Cohen at
                risk in substantially the same manner as the Company in connection with investment decisions made on
                behalf of the Company."

            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">New Investor Relations Website</div>
            <p>March 20, 2025</p>
            <p>GameStop <a href="https://x.com/gamestop/status/1902826993378529404" target="_blank">tweeted</a> that
                their <a href="https://investor.gamestop.com" target="_blank">investor relations website</a> has been
                updated.</p>
            <p>Social media users have observed that it appears to be very similar to Berkshire Hathaway's <a
                    href="https://berkshirehathaway.com/" target="_blank">investor relations page</a>.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Bitcoin Authorization</div>
            <p>March 25, 2025</p>
            <p>GameStop <a
                    href="https://investor.gamestop.com/news-releases/news-details/2025/GameStopAnnouncesUpdate-to-its-Investment-Policy-to-Add-Bitcoin-as-a-Treasury-Reserve-Asset/default.aspx"
                    target="_blank">announced an update to its Investment Policy</a> to authorize adding bitcoin as a
                treasury
                reserve asset</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Private Offerings of Convertible Senior Notes</div>
            <p>GameStop completed 2 private offerings of convertible senior notes, raising over $4 billion. These notes
                pay zero interest, and can be converted into GME stock under certain conditions. The maturity
                of these notes are between 5 and 7 years.</p>
            <ul>
                <!-- <li>March 26, 2025: GameStop <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Proposed-Private-Offering-of1-3-Billion-of-Convertible-Senior-Notes/default.aspx"
                        target="_blank">announced</a> intentions to raise $1.3 to $1.5 billion through a private
                    offering of
                    convertible notes that pay no interest and are due in 2030.
                </li> -->
                <!-- <li>March 27, 2025: GameStop <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Pricing-of-Private-Offering-of-1-3-Billion-of-Convertible-Senior-Notes/default.aspx"
                        target="_blank">
                        finalized the terms</a> of the previously announced note offering
                    . These notes will not pay interest and
                    can be converted into
                    GameStop stock at a price of approximately $29.85 per share, representing a 37.5% premium over the
                    stock’s average trading price in the relevant time period.</li> -->
                <li>April 1, 2025: GameStop <a
                        href="https://www.sec.gov/ix?doc=/Archives/edgar/data/0001326380/000132638025000022/gme-20250326.htm">completed
                        its previously announced private offering</a>, raising a total of $1.48 billion.</li>
                <!-- <li>June 11, 2025: GameStop <a
                        href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Proposed-Private-Offering-of-1-75-Billion-of-Convertible-Senior-Notes/default.aspx"
                        target="_blank">announced</a> a second note offering to raise up to $2 billion</li> -->
                <li>June 17, 2025: GameStop <a
                        href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638025000055/gme-20250611.htm"
                        target="_blank">completed</a> the second note offering, raising $2.23 billion. Per <a
                        href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1326380/000132638025000059/gme-20250623.htm"
                        target="_blank">the terms of the offering</a>, GameStop raised an additional $0.447 billion on
                    June 23. </li>
                <li>See <a
                        href="https://www.reddit.com/r/Superstonk/comments/1lavctq/comparison_of_senior_note_offerings/"
                        target="_blank">a comparison</a> of GameStop's note offerings to other similar offerings from
                    other companies</li>
            </ul>

        </div>


        <div class="page-section">
            <div class="section-heading">GameStop Acquires Bitcoin</div>
            <p>May 28, 2025</p>
            <p>GameStop <a
                    href="https://investor.gamestop.com/news-releases/news-details/2025/GameStop-Announces-Purchase-of-Bitcoin/default.aspx"
                    target="_blank">announced</a> that it has purchased 4,710 BTC.</p>
            <p>According to the 2025 Q1 earnings results, the purchases were made between May 3, 2025 and June 10, 2025
                for cash.</p>
            <p>According to <a href="https://bitcointreasuries.net/" target="_blank">bitcointreasuries.net</a>, this
                placed GameStop as the 13th largest holder of BTC among corporations and government entities that hold
                bitcoin.</p>

            <div class="quote-section-container">


                <div class="quote-section">
                    <p>
                        If the thesis is correct, then bitcoin, and gold as well, can be a hedge against global currency
                        devaluation and systemic risk.
                    </p>
                    <p>
                        Bitcoin has certain unique advantages compared to gold. <br>
                        The portability aspect of it — it's instantly transferrable across the globe, whereas gold is
                        bulky,
                        and very expensive to ship.<br>
                        The authenticity — it's instantly verified via the blockchain.<br>
                        The storage — you can easily secure
                        bitcoin in a wallet, whereas gold requires insurance, and it's very expensive.
                    </p>
                    <p>
                        There's the scarcity element of it as well. There is a fixed supply of bitcoin, whereas with
                        gold,
                        certain technological advances, the supply of
                        gold is still uncertain.
                    </p>
                    <p>
                        And then, ultimately, there is the asymmetric upside. Gold is a more mature market, it's roughly
                        around
                        20 trillion of market capitalization, whereas bitcoin today is about 2 trillion.
                    </p>
                    <p>
                        And, if the thesis is correct, and ultimately bitcoin becomes digital gold, and globally
                        adopted,
                        then
                        there's more upside. But, we'll see what happens. Nobody has a crystal ball, but that's the
                        current
                        thesis.
                    </p>
                    <div class="quote-attribution">
                        GameStop CEO Ryan Cohen
                    </div>
                    <div class="quote-attribution-2">The Bitcoin Conference 2025</div>
                    <div class="quote-attribution-2">
                        <a href="https://x.com/gamestop/status/1927770418959577147" target="_blank">May 28, 2025</a>
                    </div>
                    <div class="quote-attribution-2"><a
                            href="https://www.reddit.com/r/GME/comments/1kxml0d/ryan_cohens_statements_at_the_bitcoin_conference/"
                            target="_blank">Full transcript</a></div>
                </div>
            </div>

        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>