<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Trading Cards
        </h1>
        <h5 class="page-subtitle">
            Starting in 2024, GameStop has made efforts to expand into the market of graded trading cards
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>
            <p>
                As part of ongoing <a [routerLink]="'/turnaround'">turnaround and transformation efforts</a>, GameStop
                has expanded its
                business by entering the graded trading card market. This move aligns with its experience in the
                secondary market, similar to its established used video games model. By leveraging its existing retail
                infrastructure and expertise in buying and reselling pre-owned items,
                GameStop is positioning itself within the trading card market while exploring opportunities for growth
                and
                customer engagement.
            </p>
            <ul>
                <li>The graded trading card market, for example
                    sports cards and trading card games (TCG) such as Pokémon, is large and growing</li>
                <li>GameStop is increasing its focus on its collectibles segment with new graded trading card services —
                    through its collaboration with <a
                        href="https://en.wikipedia.org/wiki/Professional_Sports_Authenticator" target="_blank"
                        class="external-link" rel="nofollow">PSA</a>, GameStop is establishing a position in the trading
                    cards market by providing a reliable in-store infrastructure for convenience of services and instant
                    transactions
                    <ul>
                        <li>Customers can bring ungraded cards to participating GameStop stores to have their cards sent
                            to PSA to be graded</li>
                        <li>Customers can bring their PSA-graded cards (grades 8, 9, and 10) to participating GameStop
                            stores for immediate cash or store credit, providing a unique edge over online-only
                            marketplaces such as eBay</li>
                    </ul>
                </li>
                <!-- <li>Rare card bounties: The company has introduced cash rewards for ultra-rare cards, such as <a
                        href="https://x.com/nytemodeonly/status/1810362437381882314" target="_blank"
                        class="external-link" rel="nofollow">a $25,000
                        bounty for a unique Lionel Messi card</a>, generating interest and engagement.
                </li> -->


                <li>In July 2025, GameStop further expanded service offerings with the introduction of <a
                        href="https://powerpacks.gamestop.com" target="_blank" class="external-link"
                        rel="nofollow">Power Packs</a> — "an innovative digital experience from
                    PSA and
                    GameStop" where customers can open a sealed digital pack that contains a PSA-graded card
                </li>

                <li>
                    Dedicated spaces: According to <a
                        href="https://www.reddit.com/r/Superstonk/comments/1ljcalz/comment/mzimlou/" target="_blank"
                        class="external-link" rel="nofollow">some rumors</a>, "stores will start adding
                    dedicated space for sports cards,
                    trading card games and trade-and-play events for collectors to gather."
                </li>
            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Business Case</div>
            <p>At the 2025 meeting of stockholders, GameStop CEO Ryan Cohen provided some comments on the move into
                trading cards.
            </p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We are focusing on trading cards as a natural extension of our existing business.

                        The trading card market, whether it's sports, Pokémon, or collectibles, is aligned with our
                        heritage.

                        It fits our trade-in model, it appeals to our core customer base, and it is deeply embedded in
                        physical
                        retail.

                        Unlike software, it's tactile.

                        Unlike hardware, it has high margin potential.

                        It's a logical expansion.
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.reddit.com/r/GME/comments/1l9ozu2/ryan_cohens_statements_from_the_gamestop_corp/"
                                target="_blank" class="external-link" rel="nofollow">June 12, 2025</a></div>
                    </div>
                </div>
            </div>
            <p>In an interview with Charles Payne on Fox Business:</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        We’ve moved the business from a big reliance on hardware and software to collectibles. So, we’re
                        selling a ton of trading cards — both sports and TCG (trading card games), and it’s a much more
                        durable business.
                        It's not as cyclical as hardware, which — it's hit-driven, the software business — hardware is
                        every 6 to 7 years, and it's TBD in terms of the future of hardware.
                        So, we've got a much larger collectibles business today.
                    </p>
                    <div class="quote-attribution">GameStop CEO Ryan Cohen
                        <div style="margin-left: 10px;"><a
                                href="https://www.reddit.com/r/Superstonk/comments/1m0pqqq/ryan_cohen_fox_business_interview_with_charles/"
                                target="_blank" class="external-link" rel="nofollow">July 15, 2025</a></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-section">

            <div class="section-heading">Collectibles Segment Increasing</div>
            <p>
                As GameStop has increased its focus on trading cards, the collectibles segment as a percent of all revenue has been increasing.
            </p>

            <div *ngIf="isBrowser" class="chart-container">
                <!-- <div class="chart-title">GameStop interest income by fiscal quarter</div> -->
                <app-earnings-chart [componentConfig]="collectiblesConfig" class="chart"></app-earnings-chart>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">Power Packs</div>
            <p>GameStop's new <a href="https://x.com/gamestop/status/1950297041705586988" target="_blank"
                    class="external-link" rel="nofollow">Power Packs</a> service introduces a fun, novel, and modern way
                to
                buy PSA-graded trading cards. GameStop has created an experience that makes it easy to buy,
                open, and sell PSA-graded card packs online.
            </p>
            <p>A customer can purchase and open the digital Power Pack, which will provide them with a random PSA-graded
                card. The customer then has several options
                for their newly obtained card:
            </p>
            <ul>
                <li>
                    Immediately sell the card back to GameStop with real-time pricing provided by Card Ladder. GameStop
                    takes 10% of the value.
                </li>
                <li>
                    Put the card into <a href="https://www.psacard.com/info/psa-vault" target="_blank"
                        class="external-link" rel="nofollow">PSA Vault</a>
                    <ul>
                        <li>The card can be kept in the vault for safe keeping</li>
                        <li>The card can be seamlessly listed for auction on eBay</li>
                        <li>The card can receive an instant offer from PSA</li>
                    </ul>
                </li>
                <li>
                    Ship the physical card home for a fee
                </li>
            </ul>
            <p>Read <a href="https://www.reddit.com/r/Superstonk/comments/1mcra2r/card_market_review_power_packs_i_spent_500_and/" target="_blank" class="external-link" rel="nofollow">a comprehensive review</a> of GameStop's new Power Packs service.</p>
            <p>See <a href="https://youtu.be/NgdxIxD9ENA?t=510" target="_blank" class="external-link" rel="nofollow">an example</a> of a customer buying a PSA-graded card using the Power Packs service.</p>
        </div>

        <div class="page-section">
            <div class="section-heading">Developments</div>
            <ul>
                <li>On October 15, 2024, <a
                        href="https://investor.gamestop.com/news-releases/news-release-details/gamestop-announces-collaboration-psa"
                        target="_blank" class="external-link" rel="nofollow">GameStop announced</a> a collaboration with
                    <a href="https://en.wikipedia.org/wiki/Professional_Sports_Authenticator" target="_blank"
                        class="external-link" rel="nofollow">PSA</a>,
                    becoming an authorized PSA
                    dealer, with PSA providing authentication and grading services for trading cards through select
                    GameStop stores across the United States.
                </li>
                <li>On November 18, 2024, <a
                        href="https://investor.gamestop.com/news-releases/news-release-details/gamestop-appoints-nat-turner-board-directors"
                        target="_blank" class="external-link" rel="nofollow">
                        GameStop announced</a> that Nat Turner, Chairman and CEO of Collectors Holdings, Inc., has been
                    appointed to the Company’s Board of Directors. </li>
                <li>
                    On March 20, 2025, GameStop <a
                        href="https://www.reddit.com/r/Superstonk/comments/1jfporh/gamestop_on_instagram/"
                        target="_blank" class="external-link" rel="nofollow">announced</a> that they were approaching
                    the 1 millionth PSA card submission. On
                    May 7, 2025, GameStop <a href="https://x.com/gamestop/status/1920297333838741655" target="_blank"
                        class="external-link" rel="nofollow">announced</a> that the milestone had been reached, and the
                    customer that did the
                    submission received 1 year of free card grading.
                </li>
                <li>On July 29, 2025, GameStop <a href="https://x.com/gamestop/status/1950297041705586988"
                        target="_blank" class="external-link" rel="nofollow">launched Power Packs</a> — <a
                        href="https://powerpacks.gamestop.com" class="external-link"
                        rel="nofollow">powerpacks.gamestop.com</a> — "an innovative digital experience from PSA and
                    GameStop." </li>
            </ul>
        </div>

    </div>

    <app-footer class="app-footer"></app-footer>
</div>


<!-- 

GameStop pinned tweet:

2024-10-15

https://x.com/gamestop/status/1846175278248206667

GameStop × PSA

Get your cards PSA graded with GameStop now: http://gamestop.com/psa

https://www.gamestop.com/psa 
redirects to:
https://www.gamestop.com/card-grading-service



-->