<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            Trading Cards
        </h1>
        <h5 class="page-subtitle">
            Starting in 2024, GameStop has made efforts to expand into the market of trading cards
        </h5>

        <div class="page-section">
            <div class="section-heading">Summary</div>



            <p>
                As part of an ongoing <a [routerLink]="'/turnaround'">turnaround effort</a>, GameStop has expanded its business by entering the graded trading card market, adding to its existing
                product offerings. This move aligns with its experience in the secondary market, similar to its
                established used video games model.

                Aspects of this strategy include:
            </p>
            <ul>
                <li>Trade-in and Resale Model: GameStop is applying structured intake rules for trading cards, allowing
                    it to resell them at a profit.
                </li>
                <li>Market Diversification: Expanding into collectibles provides an additional revenue stream and
                    attracts a broader customer base beyond video game buyers.
                </li>
                <li>Rare Card Bounties: The company has introduced cash rewards for ultra-rare cards, such as a $25,000
                    bounty for a unique Lionel Messi card, generating interest and engagement.
                </li>
            </ul>

            <p>
                By leveraging its existing retail infrastructure and expertise in buying and reselling pre-owned items,
                GameStop is positioning itself within the trading card market while exploring opportunities for growth
                and
                customer engagement.
            </p>
        </div>

        <div class="page-section">
            <div class="section-heading">Developments</div>
            <ul>
                <li>On October 15, 2024, <a
                        href="https://investor.gamestop.com/news-releases/news-release-details/gamestop-announces-collaboration-psa"
                        target="_blank">GameStop announced</a> a collaboration with <a
                        href="https://en.wikipedia.org/wiki/Professional_Sports_Authenticator" target="_blank">PSA</a>,
                    becoming an authorized PSA
                    dealer, with PSA providing authentication and grading services for trading cards through select
                    GameStop stores across the United States.</li>
                <li>On November 18, 2024, <a
                        href="https://investor.gamestop.com/news-releases/news-release-details/gamestop-appoints-nat-turner-board-directors"
                        target="_blank">
                        GameStop announced</a> that Nat Turner, Chairman and CEO of Collectors Holdings, Inc., has been
                    appointed to the Company’s Board of Directors. </li>
            </ul>
        </div>

    </div>
</div>


<!-- 

GameStop pinned tweet:

2024-10-15

https://x.com/gamestop/status/1846175278248206667

GameStop × PSA

Get your cards PSA graded with GameStop now: http://gamestop.com/psa

https://www.gamestop.com/psa 
redirects to:
https://www.gamestop.com/card-grading-service



-->