<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            GME Bear Case
        </h1>
        <h5 class="page-subtitle">
            General viewpoint held by those <a [routerLink]="'/bear-faction'">market participants betting against GME
                stock</a>
        </h5>

        <div class="page-section">
            <div class="section-heading">
                Summary
            </div>
            <ul>
                <li>
                    As GameStop's financial circumstances have changed, so too has the case that is made against GME.
                    Currently, that might look something like:
                    <ul>
                        <li>GameStop has an outdated business model that is ineffective in the modern video game
                            industry, and
                            any attempts at <a [routerLink]="'/turnaround'">turning the company around</a> are futile
                        </li>
                        <li>GameStop's <a [routerLink]="'/financials'">revenue</a> continues to go down year over year,
                            and
                            GameStop continues to close <a [routerLink]="'/stores'">stores</a> and
                            reduce staff</li>
                        <li>GameStop's competitors (e.g. Amazon) are much stronger companies and therefore better
                            investments
                        </li>
                        <li>GME is an invalid investment because it is a <a [routerLink]="'/meme-stock'">meme stock</a>
                            (or a
                            cult stock)</li>
                        <li>The company has no clear strategy; <a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> does not
                            provide
                            any
                            guidance, thus the future of GameStop is <a [routerLink]="'/fud'">uncertain</a></li>
                        <li>The stock price is down since its <a [routerLink]="'/sneeze'">peak</a> and it continues to
                            be overvalued</li>
                    </ul>
                </li>

            </ul>
        </div>


        <div class="page-section">
            <div class="section-heading">Bear Case from Approximately 2014 Through 2021</div>
            <p>It is true that, during the 2010s, GameStop was a business that was operating in a shrinking market of
                physical video game sales. From about 2018 to 2020 GameStop was <a [routerLink]="'/downfall'">seriously
                    struggling</a>, and the case against GameStop was strong.</p>
            <div class="quote-section-container">
                <div class="quote-section">
                    <p>
                        “Specific to GameStop, we had a research-supported view well before the recent events [<a
                            [routerLink]="'/sneeze'">of January 2021</a>]. In fact,
                        we had been short GameStop since Melvin’s inception six years earlier [2014] because we believed
                        and
                        still believe that its business model – selling new and used video games in physical stores – is
                        being overtaken by digital downloads through the internet. And that trend only accelerated in
                        2020, when, because of the pandemic, people were downloading video games at home. As a
                        result, the gaming industry had its best year ever. But GameStop had significant losses.”
                    </p>

                    <div class="quote-attribution">
                        Gabe Plotkin, Founder and Chief Investment Officer, Melvin Capital Management
                        <a href="https://www.congress.gov/117/meeting/house/111207/witnesses/HHRG-117-BA00-Wstate-PlotkinG-20210218.pdf?utm_source=chatgpt.com"
                            target="_blank" class="external-link" rel="nofollow">February 18, 2021</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="section-heading">Bear Case Evolution</div>
            <p>During GameStop's <a [routerLink]="'/downfall'">downfall era</a>, betting against GameStop by shorting
                the stock was arguably a reasonable financial view. The company had weak financials with a poor
                long-term outlook.</p>
            <p>However, GameStop's <a [routerLink]="'/financials'">financial circumstances</a> have changed
                significantly since then, so it is now a much different calculation with different valuation and
                different risks.</p>
            <p>As GameStop is now in its strongest financial position in the history of the company, the modern bear
                thesis is reduced to fewer coherent points. Any
                improvements to the company or recognition of <a [routerLink]="'/turnaround'">the successful turnaround
                    of the company</a> are
                ignored entirely. Any notion of <a [routerLink]="'/bull-case'">a bullish view</a> is dismissed as
                invalid.
            </p>
            <p>
                Commonly found bearish points may include:</p>
            <ul>
                <li>Revenue continues to decrease</li>
                <li>GameStop continues to close <a [routerLink]="'/stores'">stores</a></li>
                <li>Leadership does not provide any guidance</li>
                <li><a [routerLink]="'/ryan-cohen'">Ryan Cohen</a> is bad and unintelligent</li>
                <li>The stock is overvalued; the stock only trades sideways; the stock is boring; the stock price is
                    down from its peak</li>
                <li>Opportunity cost: it would be better to invest in something else such as one of GameStop's
                    competitors (e.g. Amazon is often mentioned in
                    media articles)</li>
                <li>GME investors are in a <a [routerLink]="'/meme-stock'">cult</a> and therefore they are delusional
                    and not rational; it is therefore delusional and not rational for any person to consider GME as a
                    valid investment</li>
            </ul>
        </div>
    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>