<div class="component-root">
    <div class="page-content">
        <h1 class="page-title">
            gmewiki.org Directory
        </h1>
        <h5 class="page-subtitle">
            List of pages on gmewiki.org
        </h5>

        <div *ngIf="!isMobile">
            <div class="page-section" *ngFor="let listItem of allLists">
                <div class="section-heading">{{ listItem.title}}</div>
                <div style="display:flex;flex-direction: column; padding-top: 20px; padding-bottom: 20px;">
                    <table>
                        <tr *ngFor="let pageItem of listItem.list">
                            <td>
                                <span class="item-title">{{pageItem.title}}</span><br>
                                <a [routerLink]="pageItem.url">

                                    <span class="item-url">gmewiki.org{{pageItem.url}}</span>
                                </a>

                            </td>
                            <td class="item-description">
                                {{pageItem.description}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="height:1px;width: 100%;border-top:1px solid gray"></div>

            </div>
        </div>





        <div *ngIf="isMobile">
            <div class="page-section" *ngFor="let listItem of allLists">
                <div class="section-heading">{{ listItem.title}}</div>
                <div style="display:flex;flex-direction: column; padding-top: 20px; padding-bottom: 20px;">
                    <div *ngFor="let pageItem of listItem.list" style="margin-bottom: 12px;">
                        <div>
                            <span class="item-title">{{pageItem.title}}</span><br>
                        </div>

                        <div>
                            {{pageItem.description}}
                        </div>
                        <div>
                            <a [routerLink]='pageItem.url' class="item-url">
                                gmewiki.org{{pageItem.url}}</a>
                        </div>
                    </div>
                
                </div>

                <div style="height:1px;width: 100%;border-top:1px solid gray"></div>

            </div>
        </div>

    </div>

    <div style="margin-top:50px;"></div>
    <app-footer class="app-footer"></app-footer>
</div>