
.directory-item{
    margin-bottom: 30px;
}


.item-title{
    font-size: 1.1em;
    font-weight: bold;
}


.item-url{
    font-size: 0.8em;
}

table, tr, td{
    border-collapse: collapse;
    border: none;
}

table{
    width: 100%;
}

td{
    padding: 15px;
    vertical-align: top;
}